{% load static %}
{% load custom_filters %}
<div class="table-container">
    <div class="table-filter-section">           
        <div class="search-table-option">
            <form style="display: flex; width: 100%;" method="get">
                <!-- Hidden inputs for current filters -->
                {% for key, value in active_filters.items %}
                    {% if key == 'sort_by' %}
                        <input class="sort-hidden-filters" id="sortByHIddenFilter" type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %} 
                <i class="fa-regular fa-magnifying-glass search-icon"></i>                  
                <input id="searchTable" name="query" value="{{ active_filters.query }}" type="text" placeholder="Search">
                <button style="display: none;" id="searchAllUsersBtn" class="search-all-users-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button> 
            </form>                   
        </div>
        <div class="table-filter-section-right">
            <div onclick="openPopup('filtersPopup')" class="table-filter-item-small tooltip" data-tooltip="Filter">
                <span class="tooltiptext"></span>
                <i class="fa-light fa-filter"></i>
            </div>
            <div id="sortButton" class="table-filter-item-small tooltip" data-tooltip="Sort">
                <span class="tooltiptext"></span>
                <i class="fa-light fa-arrow-up-arrow-down"></i>
            </div>
            <!-- Hidden input or data attribute to store the active sort value -->
            {% for key, value in active_filters.items %}
                {% if key == 'sort_by' %}
                <input type="hidden" id="activeSort" value="{{ value }}">
                {% endif %}
            {% endfor %}
            <form method="get" id="sortForm" style="position:absolute;top:2rem;right: 0rem;">
                <!-- Hidden inputs for current filters -->
                {% for key, value in active_filters.items %}
                    {% if key == 'query' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% elif key != 'sort_by' %}
                        <input type="hidden" name="filter_{{ key }}" value="{{ value }}">
                    {% elif key == 'sort_by' %}
                        <input class="sort-hidden-filters" id="sortByHIddenFilter" type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}                     
                <div class="custom-select sort-options">
                    <div class="select-selected" style="display: none;">Sort By</div>
                    <div id="sortSelectItems" class="select-items scrollable-content">
                        <div class="sort-item-wrapper" data-value="timestamp_asc">
                            <div class="radio-button select-item">
                                <input id="radio1" class="radio-button__input" type="radio">
                                <label for="radio1" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Timestamp <i class="fa-regular fa-arrow-up"></i></div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="timestamp_desc">
                            <div class="radio-button select-item">
                                <input id="radio2" class="radio-button__input" type="radio">
                                <label for="radio2" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Timestamp <i class="fa-regular fa-arrow-down"></i></div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="course_title_asc">
                            <div class="radio-button select-item">
                                <input id="radio3" class="radio-button__input" type="radio">
                                <label for="radio3" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Course Title (A-Z)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="course_title_desc">
                            <div class="radio-button select-item">
                                <input id="radio4" class="radio-button__input" type="radio">
                                <label for="radio4" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Course Title (Z-A)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="first_name_asc">
                            <div class="radio-button select-item">
                                <input id="radio5" class="radio-button__input" type="radio">
                                <label for="radio5" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>First Name (A-Z)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="first_name_desc">
                            <div class="radio-button select-item">
                                <input id="radio6" class="radio-button__input" type="radio">
                                <label for="radio6" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>First Name (Z-A)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="last_name_asc">
                            <div class="radio-button select-item">
                                <input id="radio7" class="radio-button__input" type="radio">
                                <label for="radio7" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Last Name (A-Z)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="last_name_desc">
                            <div class="radio-button select-item">
                                <input id="radio8" class="radio-button__input" type="radio">
                                <label for="radio8" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Last Name (Z-A)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="status_asc">
                            <div class="radio-button select-item">
                                <input id="radio9" class="radio-button__input" type="radio">
                                <label for="radio9" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Status (A-Z)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="status_desc">
                            <div class="radio-button select-item">
                                <input id="radio10" class="radio-button__input" type="radio">
                                <label for="radio10" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Status (Z-A)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="similarity_asc">
                            <div class="radio-button select-item">
                                <input id="radio11" class="radio-button__input" type="radio">
                                <label for="radio11" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Similarity (Low → High)</div>
                                </label>
                            </div>
                        </div>
                        <div class="sort-item-wrapper" data-value="similarity_desc">
                            <div class="radio-button select-item">
                                <input id="radio12" class="radio-button__input" type="radio">
                                <label for="radio12" class="radio-button__label">
                                    <span class="radio-button__custom"></span>
                                    <div>Similarity (High → Low)</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="sort_by" id="sort_by" value="">
                <button type="submit" hidden>Sort</button>
            </form>
        </div>
    </div>
    <div id="activeFilters" class="table-filter-section">
        <div class="table-filter-section-left">
            <!-- Display Active Filters -->
            <div class="table-active-filters">
                {% if active_filters %}
                    {% for key, value in active_filters.items %}
                        {% if key != 'query' %}
                            <div data-key="{{ key }}" data-value="{{ value }}" class="filter">
                                <div class="edit-filter">
                                    <span>{{ key|pretty_name }}: {{ value|safe }}</span>
                                </div>
                                <div class="remove-filter">
                                    <i class="fa-light fa-xmark"></i>
                                </div>
                            </div>
                        {% else %}
                            <div data-key="{{ key }}" data-value="{{ value }}" class="filter">
                                <div class="edit-filter">
                                    <span>Search All: {{ value }}</span>
                                </div>
                                <div class="remove-filter">
                                    <i class="fa-light fa-xmark"></i>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="table-filter-section-right">
            <div style="display: none;" id="selectedOptionsWrapper" class="selected-options-count">
                <span id="selectedOptionsCount"></span>
                <span> Selected </span>
            </div>
        </div>
    </div>
    {% if page_obj %}
        <div class="scrollable-content">
            <table>
                <thead>      
                    <tr>
                        <th><label class="container"><input type="checkbox" class="table-select-all-option"><div class="checkmark"></div></label></th>
                        <th>Course</th>
                        <th>Last Name</th>
                        <th>First Name</th>                       
                        <th>Type</th>
                        <th>Status</th>
                        <th>Similarity (%)</th>
                        <th>Device</th>
                        <th>Browser</th>
                    </tr>
                </thead>
                <tbody>     
                    {% for verification in page_obj %}
                        <tr data-id="{{ verification.user.id }}" data-history="{% url 'user_history' verification.user.profile.id %}" data-details="{% url 'user_details' verification.user.profile.id %}" data-transcript="{% url 'user_transcript' verification.user.profile.id %}" data-enroll-users="/admin/users/enroll-users/" data-message-users="/admin/users/message-users/" impersonate-user="{% url 'impersonate_user' verification.user.profile.id %}" class="table-select-option">
                            <td><label class="container"><input type="checkbox" disabled><div class="checkmark"></div></label></td>
                            <td>{{ verification.course.title }}</td>
                            <td>{{ verification.user.last_name }}</td>
                            <td>{{ verification.user.first_name }}</td>                           
                            <td>{{ verification.get_error_type_display }}</td>
                            {% if verification.get_status_display == 'Success' %}
                                <td><span class="status course-active pastel-green">{{ verification.get_status_display }}</span></td>
                            {% else %}
                                <td><span class="status course-active pastel-red">{{ verification.get_status_display }}</span></td>
                            {% endif %}
                            {% if verification.similarity_score %}
                                <td>{{ verification.similarity_score|mul:100|floatformat:2 }}%</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            <td>{{ verification.device_type }}</td>
                            <td>{{ verification.browser }}</td>
                        </tr>
                    {% endfor %}        
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="no-results-found">
            <img src="{% static 'client_admin\Images\HALO LMS No Graphic Test-29.png' %}" alt="HALO Graphic">    
            <span>No Analytics Found</span>          
        </div>
    {% endif %}
    <div class="pagination-row-wrapper">
        <div class="pagination-info">
            <div class="pagination-results">
                {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} results
            </div>
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-regular fa-angle-left"></i></a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current pagination-link">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                {% elif num == 1 or num == page_obj.paginator.num_pages %}
                    <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                    <span class="pagination-spacer">...</span>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <a class="pagination-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-regular fa-angle-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>
{% include 'popups/facial_verification_filters_popup.html' %}
<script src="{% static 'client_admin\javascript\admin.js' %}"></script>