<div id="addWidgetPopup" class="popup-background">
    <div class="popup-content max-width-5">
        <div class="popup-header">
            <h3>Add New Widget</h3>
            <div onclick="closePopup('addWidgetPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div id="dashboard-form" class="popup-body">
            {% csrf_token %}
            <div class="edit-user-input">
                <div class="lesson-selection-container padding-bottom-1">
                    <label id="resumeCoursesLabel" class="lesson-selection-item purple" for="resumeCourses">
                        <input id="resumeCourses" type="radio" name="type-selection" hidden="" checked="">
                        <div class="lesson-selection-icon pastel-purple">
                            <i class="fa-light fa-play"></i>
                        </div>
                        <h4>Resume Course</h4>
                        <span>Resume last opened course</span>
                    </label>
                    <label id="myCoursesLabel" class="lesson-selection-item orange" for="myCourses">
                        <input id="myCourses" type="radio" name="type-selection" hidden="">
                        <div class="lesson-selection-icon pastel-orange">
                            <i class="fa-light fa-book-open-cover"></i>
                        </div>
                        <h4>My Courses</h4>
                        <span>Access to Learner's course library</span>
                    </label>
                    <label id="enrollmentKeyLabel" class="lesson-selection-item green" for="enrollmentKey">
                        <input id="enrollmentKey" type="radio" name="type-selection" hidden="">
                        <div class="lesson-selection-icon pastel-green">
                            <i class="fa-light fa-key"></i>
                        </div>
                        <h4>Enrollment Key</h4>
                        <span>Option to enter an enrollment key</span>
                    </label>       
                </div>
                <div class="lesson-selection-container padding-top-0">
                    <label id="externalLinkLabel" class="lesson-selection-item blue" for="externalLink">
                        <input id="externalLink" type="radio" name="type-selection" hidden="">
                        <div class="lesson-selection-icon pastel-blue">
                            <i class="fa-light fa-link"></i>
                        </div>
                        <h4>Link</h4>
                        <span>Link to an external source</span>
                    </label>       
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('addWidgetPopup')" class="popup-btn close-popup-btn">Cancel</button>
                <button onclick="closePopup('addWidgetPopup')" id="save-widget" class="popup-btn">Add Widget</button>   
            </div>
        </div>
    </div>
</div>