<div id="confirmDashboardDeletePopup" class="popup-background">
    <div class="popup-content max-width-5">
        <div class="popup-header">
            <h3>Are you sure you want to delete this dashboard?</h3>
            <div onclick="closePopup('confirmDashboardDeletePopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <p>Deleting this dashboard will remove all associated content.</p>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button onclick="closePopup('confirmDashboardDeletePopup')" class="popup-btn close-popup-btn">Cancel</button>
                <button id="confirmDelete" class="popup-btn delete-confirm-btn">Delete Dashboard</button>   
            </div>
        </div>
    </div>
</div>