<div id="iconSelectionPopup" class="popup-background">
    <div class="popup-content" style="max-width: 679px;">
        <div class="popup-header">
            <h3>Select New Icon</h3>
            <div onclick="closePopup('iconSelectionPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <div class="edit-user-input">
                <div class="icon-selection-container padding-bottom-1">
                    <label class="icon-selection-item" for="icon1">
                        <input id="icon1" type="radio" name="icon-selection" hidden="" checked="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-books"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon2">
                        <input id="icon2" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-solid fa-book-open-cover"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon3">
                        <input id="icon3" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-book-open-cover"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon4">
                        <input id="icon4" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-book-open"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon5">
                        <input id="icon5" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-book-open-reader"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon6">
                        <input id="icon6" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-globe-stand"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="iconMissed">
                        <input id="iconMissed" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-shapes"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon7">
                        <input id="icon7" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-music"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon8">
                        <input id="icon8" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-bell"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon9">
                        <input id="icon9" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-masks-theater"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon10">
                        <input id="icon10" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-diploma"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon11">
                        <input id="icon11" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-thought-bubble"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon12">
                        <input id="icon12" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-laptop-code"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon13">
                        <input id="icon13" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-graduation-cap"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon14">
                        <input id="icon14" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-atom-simple"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon15">
                        <input id="icon15" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-bell-school"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon16">
                        <input id="icon16" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-bell-ring"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon17">
                        <input id="icon17" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-backpack"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon18">
                        <input id="icon18" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-ship"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon19">
                        <input id="icon19" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-anchor"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon20">
                        <input id="icon20" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-duck"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon21">
                        <input id="icon21" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-fishing-rod"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon22">
                        <input id="icon22" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-dolphin"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon23">
                        <input id="icon23" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-lighthouse"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon24">
                        <input id="icon24" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-database"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon25">
                        <input id="icon25" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-house-laptop"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon26">
                        <input id="icon26" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-power-off"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon27">
                        <input id="icon27" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-satellite-dish"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon28">
                        <input id="icon28" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-microchip-ai"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon29">
                        <input id="icon29" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-desktop"></i>
                        </div>
                    </label>        
                    <label class="icon-selection-item" for="icon30">
                        <input id="icon30" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-globe"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon31">
                        <input id="icon31" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-badge-check"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon32">
                        <input id="icon32" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-briefcase"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon33">
                        <input id="icon33" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-network-wired"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon34">
                        <input id="icon34" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-signature"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon35">
                        <input id="icon35" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-chart-user"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon36">
                        <input id="icon36" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-chart-pie"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon37">
                        <input id="icon37" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-badge-percent"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon38">
                        <input id="icon38" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-badge-dollar"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon39">
                        <input id="icon39" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-house"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon40">
                        <input id="icon40" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-house-user"></i>
                        </div>
                    </label> 
                    <label class="icon-selection-item" for="icon41">
                        <input id="icon41" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-hotel"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon42">
                        <input id="icon42" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-solid fa-link"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon43">
                        <input id="icon43" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-link"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon44">
                        <input id="icon44" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </label>  
                    <label class="icon-selection-item" for="icon45">
                        <input id="icon45" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-key"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon46">
                        <input id="icon46" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon47">
                        <input id="icon47" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-play"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon48">
                        <input id="icon48" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </label>
                    <label class="icon-selection-item" for="icon49">
                        <input id="icon49" type="radio" name="icon-selection" hidden="">
                        <div class="icon-selection-icon">
                            <i class="fa-regular fa-arrow-up-right-from-square"></i>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('iconSelectionPopup')" class="popup-btn close-popup-btn">Cancel</button>
                <button id="iconSelectionBtn" onclick="closePopup('iconSelectionPopup'), checkSelectedIcon()" class="popup-btn">Select Icon</button>   
            </div>
        </div>
    </div>
</div>