{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>{{ dashboard.name }}</h2>
    <div class="row">
        {% for widget in widgets %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ widget.widget_type }}</h5>
                    <p class="card-text">{{ widget.data }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
