input[type="text"], input[type="number"]{
    text-overflow: ellipsis;
}

.course-content-container{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.course-content-left-column{
    flex: 7;
    display: block;
}

.course-content-right-column{
    flex: 3;
    display: block;
    min-width: 395px;
}

.details-info-card:first-child{
    margin-top: 0rem;
}

.details-info-card{
    margin-top: 1.5rem;
}

.details-info-card .info-card-body{
    flex-direction: column;
    gap: 2rem;
}

/* Class to be added to details-top-row when not visible */
#stickyNavBar{
    display: flex;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 3;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Make the background slightly transparent */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 0.6rem 2rem 0.6rem 2rem;
    padding-right: 46px;
}

/* Input Fields */
.course-content-input {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.course-content-input .edit-user-label{
    font-size: 0.9rem;
    margin-top: 0;
    color: var(--text-color2);
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    font-weight: 600;
}

.course-content-input input {
    padding: var(--pad-xxs) var(--pad-xs);
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--btn-font);
    color: var(--text-color8);
    flex: 1;
}

.course-content-input input:hover {
    background-color: var(--bg-color3);
}

.course-content-input input:focus-visible {
    outline-color: var(--primary-blue);
}

.course-content-input.course-content-row{
    flex-direction: row;
    gap: 2rem;
}

.content-input-options-row{
    display: flex;
    gap: 1rem;
}

.course-content-input-subtext{
    margin-top: 0.2rem;
    color: var(--text-color3);
    font-size: 0.7rem !important;
}

/* Course Content/Creating Modules and Lessons */
#noModulesCreated{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noModulesCreated .course-graphic{
    max-width: 100px;
}

#noModulesCreated h4{
    font-size: 0.9rem;
    margin-top: 0;
    color: var(--text-color2);
}

#noModulesCreated span{
    margin-top: 0.3rem;
    color: var(--text-color3);
    font-size: 0.9rem;
}

.main-add-btn{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    padding: var(--pad-xxxs) var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    background-color: var(--primary-blue);
    color: white;
    border: 1px solid var(--primary-blue);
    transition: all 0.2s linear;
    font-weight: 500;
}

.main-add-btn:hover{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.secondary-add-btn{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    padding: var(--pad-xxxs) var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    transition: all 0.2s linear;
    font-weight: 500;
}

.secondary-add-btn:hover{
    background-color: var(--primary-blue);
    color: white;
}

/* Modules */
.module-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.module-card{
    background-color: #eceff4;
    border-radius: 6px;
    outline: 1px solid #e5e7eb;
}

.module-card-body{
    display: flex;
    padding: 1rem var(--pad-xs);
    gap: 2rem;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    background-color: #f5f7f9;
    transition: all 0.3s ease-in-out;
}

.module-title{
    border-radius: 6px;
    padding: 0.2rem;
    font-size: 1rem;
    color: #41454d !important;
    font-family: var(--primary-font);
    font-weight: 600;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: unset;
    appearance: unset;
    -webkit-rtl-ordering: unset;
    cursor: text;
    background-color: transparent;
    margin: 0em;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    flex: 1;
    text-overflow: ellipsis;
}

.module-title:hover{
    background-color: #d8e0ec;
}

.module-title:focus-visible{
    outline-color: var(--primary-blue);
}

.module-header-right{
    display: flex;
    gap: 0.5rem;
}

.module-delete i{
    font-size: 1.05rem !important;
    color: var(--text-color4) !important;
}

.module-dropdown, .module-delete{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.module-delete:hover{
    background-color: #f8d7da;
}.module-delete:hover i{ color: #721c24 !important;}

.module-dropdown:hover {
    background-color: #d8e0ec;
}

.module-dropdown:hover:active, .module-delete:hover:active{
    background-color: #c7d1df;
}

.module-dropdown i, .module-delete i{
    transition: all 0.3s ease-in-out;
}

.module-dropdown.active i {
    transform: rotate(-90deg);
}

/* Styling custom test editor */
.ql-toolbar.ql-snow {
    background-color: #f2f2f2;
    border: 1px solid #ececf1 !important;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    padding: 6px !important;
}

.ql-container.ql-snow {
    border: 1px solid #ececf1 !important;
    border-radius: 0 0 8px 8px;
}

.ql-editor {
    min-height: 5rem;
    padding: var(--pad-xxs) var(--pad-xs) !important;
}

.ql-editor img{
    max-width: 200px !important;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    border-radius: 6px;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #06c;
    background-color: var(--bg-color4);
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 10px !important;
    padding-left: 10px;
}

.ql-formats {
    position: relative;
}

.ql-toolbar > *:first-child::before {
    content: none; /* or content: ''; */
}

.ql-toolbar > *:first-child{
    padding-left: 0px !important;
}

.ql-formats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 3px;
    background-color: var(--bg-color1);
    border-radius: 16px;
    clip-path: inset(0% 0% 0% 0% round 0 0 4px 4px);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-radius: 8px;
}

.ql-snow .ql-picker-options .ql-picker-item {
    padding: var(--pad-xxs);
    border-radius: 4px;
}

.module-drag-icon, .lesson-drag-icon, .reference-drag-icon, .upload-drag-icon {
    cursor: grab;
}

.module-drag-icon:active, .lesson-drag-icon:active, .reference-drag-icon:active, .upload-drag-icon:active {
    cursor: grabbing;
}

.sortable-chosen {
    opacity: 1 !important; /* Ensure the item is fully visible */
    outline: 1px solid var(--primary-blue) !important; /* Add a solid border */
}

.sortable-drag {
    opacity: 1 !important; /* Ensure the item is fully visible while dragging */
    outline: 2px solid transparent; /* Add a dashed border */
    width: 295px;
    background-color: #ced6e4;
    cursor: grabbing;
}

/* .sortable-drag .module-card-body {
   display: none;
} */

/* Lesson Styling */
.lesson-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}
.lesson-card{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
    padding: var(--pad-xxs) var(--pad-sm);
    outline: 1px solid #e5e7eb;
}

.lesson-header-left{
    display: flex;
    gap: 0.4rem;
}

.lesson-header-right{
    display: flex;
}

.lesson-edit, .lesson-delete{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    color: #41454d;
}

.lesson-edit:hover {
    background-color: #f2f2f2;
}

.lesson-delete:hover {
    background-color: #f8d7da;
}

.lesson-delete:hover i {
    color: #721c24 !important;
}

.lesson-title{
    font-size: var(--btn-font);
    text-overflow: ellipsis;
}

.lesson-selection-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 1rem;
}

.lesson-selection-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--pad-sm);
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s linear;
    cursor: pointer;
    outline: 2px solid transparent;
}

.lesson-selection-item:hover{
    background-color: #f2f2f7;
}

.lesson-selection-item:hover .lesson-selection-icon{
    /* background-color: white; */
}

.lesson-selection-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.7rem;
    /* border: 2px solid #ececf1; */
    border-radius: 8px;
    font-size: var(--fs-xl);
    margin-bottom: 1rem;
    /* background-color: white; */
    transition: all 0.3s linear;
}

.lesson-selection-item span{
    color: #6b6b6b;
    font-size: var(--btn-font);
    margin-top: 0.1rem;
}

.no-lessons-container {
    display: inline-block;
    border-radius: 4px;
    padding: var(--pad-xs) var(--pad-sm);
    border: 1px dashed #bdbbc4;
    background: #fff;
    text-align: center;
}

.no-lessons-container span {
    display: inline-block;
    color: #c4c1cb;
}

/* Style the label when its input is checked */
.lesson-selection-item:has(input[type="radio"]:checked).orange {
    outline-color: #ef955a;
    background-color: #ffedda;
}.lesson-selection-item:has(input[type="radio"]:checked).purple {
    outline-color: blueviolet;
    background-color: #f8f0ff;
}.lesson-selection-item:has(input[type="radio"]:checked).blue {
    outline-color: var(--primary-blue);
    background-color: #f2f6ff;
}.lesson-selection-item:has(input[type="radio"]:checked).green {
    outline-color: #17a34a;
    background-color: #f0fff5;
}.lesson-selection-item:has(input[type="radio"]:checked).pink {
    outline-color: #e03a59;
    background-color: #ffeaee;
}

.selected-lesson-type{
    position: absolute;
    right: 4rem;
    font-size: var(--fs-sm);
    padding: var(--pad-xxxs) var(--pad-xs);
    font-weight: 600;
    border-radius: 8px;
}

.choose-file-wrapper{
    padding: 1rem 0;
}

.popup-content-header{
    margin-top: 0;
    margin-bottom: 0.7rem;
    color: var(--text-color2);
    font-size: 0.9rem;
}

.required-asterisk {
    color: red;
    font-size: 0.9rem;
    margin-left: 5px;
}

/* Right Column */
.info-card-body.right-column-card-body{
    gap: 1rem;
}

.toggle-option-details{
    display: none;
}

.toggle-option-details.show-toggle-option-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--bg-color2);
}

.toggle-option-details.custom-file-upload-container{
    margin: 0;
}

.toggle-option-details.right-column-file-wrapper{
    padding: 0;
}

.toggle-option-details .right-column-option-header{
    font-size: 0.9rem;
    margin-top: 0;
    color: var(--text-color2);
    font-weight: 600;
}

.right-column-file-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.date-options-container{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.numInput{
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Course Thumbnail */
.course-thumbnail-wrapper{
    display: flex;
    flex-direction: column;
}

.dropzone {
    border: 2px dashed #dde0e6;
    border-radius: 8px;
    padding: 2rem 20px;
    text-align: center;
    background-color: #fdfdfd;
    position: relative;
    cursor: pointer;
}

.dropzone:hover, .image-preview:hover{
    background-color: #f9f9f9;
}

.dropzone p {
    margin: 0;
    color: #888;
    font-size: 0.9rem;
}

.dropzone i{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #838c9b;
}

.image-preview {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
}

.thumbnail-inner-thumbnail{
    position: relative;
}

.thumbnail-inner-thumbnail .table-filter-item-small i{
    font-size: 1.2rem;
    margin-bottom: 0rem;
    color: unset;
}

.thumbnail-inner-thumbnail .table-filter-item-small{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px 8px 2px 8px;
    background-color: white;
}

.thumbnail-delete:hover{
    background-color: #f8d7da;
    color: #721c24 !important;
}

.label-header-row{
    display: flex;
    justify-content: space-between;
}

.label-action-item{
    display: flex;
    padding: 0.25rem var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    color: white;
    text-decoration: none;
    gap: 0.5rem;
    background-color: var(--primary-blue);
    margin-top: -0.3rem;
    height: 16px;
}

.label-action-item:hover {
    background-color: dodgerblue;
}

.label-action-item span{
    font-size: 0.85rem;
}

.label-action-item i{
    font-size: 0.9rem;
}


/* Reference Materials */
.course-references-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-references-wrapper{
    display: flex;
    flex: 1;
}

.reference-card{
    background-color: #eceff4;
    border-radius: 6px;
    outline: 1px solid #e5e7eb;
}

.reference-card-body{
    display: flex;
    padding: 1rem var(--pad-xs);
    gap: 1rem;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.reference-title{
    border-radius: 6px;
    padding: 0.2rem;
    font-size: 0.9rem;
    color: #41454d !important;
    font-family: var(--primary-font);
    font-weight: 600;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: unset;
    appearance: unset;
    -webkit-rtl-ordering: unset;
    cursor: text;
    background-color: transparent;
    margin: 0em;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    flex: 1;
    text-overflow: ellipsis;
}

.reference-title:hover{
    background-color: #d8e0ec;
}

.reference-title:focus-visible{
    outline-color: var(--primary-blue);
}

.reference-dropdown, .reference-delete{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.reference-delete:hover{
    background-color: #f8d7da;
}.reference-delete:hover i{ color: #721c24 !important;}

.reference-dropdown:hover {
    background-color: #d8e0ec;
}

.reference-dropdown:hover:active, .reference-delete:hover:active{
    background-color: #c7d1df;
}

.reference-dropdown i, .reference-delete i{
    transition: all 0.3s ease-in-out;
}

.reference-dropdown.active i {
    transform: rotate(-90deg);
}

.reference-header-right{
    display: flex;
    gap: 0.5rem;
}

.reference-delete i {
    font-size: 1.05rem !important;
    color: var(--text-color4) !important;
}

.reference-card-content{
    display: flex;
    flex-direction: column;
}

.right-column-card-body .no-lessons-container{
    padding: var(--pad-xxs) var(--pad-sm);
    flex: 1;
}

.course-references-container span{
    font-size: 0.9rem;
}

/* Course Uploads */
.course-uploads-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-uploads-wrapper{
    display: flex;
    flex: 1;
}

.upload-card{
    background-color: #eceff4;
    border-radius: 6px;
    outline: 1px solid #e5e7eb;
}

.upload-card-body{
    display: flex;
    padding: 1rem var(--pad-xs);
    gap: 1rem;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.upload-title{
    border-radius: 6px;
    padding: 0.2rem;
    font-size: 0.9rem;
    color: #41454d !important;
    font-family: var(--primary-font);
    font-weight: 600;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: unset;
    text-transform: unset;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: unset;
    appearance: unset;
    -webkit-rtl-ordering: unset;
    cursor: text;
    background-color: transparent;
    margin: 0em;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    flex: 1;
    text-overflow: ellipsis;
}

.upload-title:hover{
    background-color: #d8e0ec;
}

.upload-title:focus-visible{
    outline-color: var(--primary-blue);
}

.upload-dropdown, .upload-delete{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.upload-delete:hover{
    background-color: #f8d7da;
}.upload-delete:hover i{ color: #721c24 !important;}

.upload-dropdown:hover {
    background-color: #d8e0ec;
}

.upload-dropdown:hover:active, .upload-delete:hover:active{
    background-color: #c7d1df;
}

.upload-dropdown i, .upload-delete i{
    transition: all 0.3s ease-in-out;
}

.upload-dropdown.active i {
    transform: rotate(-90deg);
}

.upload-header-right{
    display: flex;
    gap: 0.5rem;
}

.upload-delete i {
    font-size: 1.05rem !important;
    color: var(--text-color4) !important;
}

.upload-card-content{
    display: flex;
    flex-direction: column;
}

.right-column-card-body .no-lessons-container{
    padding: var(--pad-xxs) var(--pad-sm);
    flex: 1;
}

.course-uploads-container span{
    font-size: 0.9rem;
}

/*Searchable User dropdown menu */
.user-dropdown{
    position: relative;
    gap: 1rem;
}

.user-dropdown .search-icon{
    position: absolute;
    right: 0.6rem;
    top: 0.65rem;
    color: gray;
    font-size: 0.8rem;
}

.user-dropdown input{
    padding-right: 2rem;
    text-overflow: ellipsis;
}

.user-dropdown input:focus-visible{
    outline: none;
    border-bottom: 2px solid #c7c7db;
}

.userList {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    top: 2.06rem;
    border-radius: 2px 2px 8px 8px;
    margin-bottom: 1rem;
    border: 2px solid #c7c7db;
    border-top: 0px;
    overflow-x: hidden;
}

.userList .dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ececf1;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.dropdown-item .dropdown-item-inner{
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.dropdown-item .dropdown-item-inner span, .dropdown-item .dropdown-item-inner h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item .dropdown-item-inner span{
    font-size: var(--fs-sm);
    color: #798292;
}

#selectedUsers .right-column-file-wrapper, #selectedCourses .right-column-file-wrapper{
    margin-top: 0.2rem;
}

.userList .dropdown-item:hover{
    background-color: var(--bg-color3);
}

.userList .dropdown-item:hover .checkmark{
    border-color: var(--primary-blue);
}

.userList .dropdown-item.selected {
    background-color: var(--item-selected-blue);
    border-bottom: 1px solid #ffffff;
}

.userList .dropdown-item:last-child, .userList .dropdown-item.selected:last-child{
    border: none;
}

.no-results {
    padding: 8px;
    color: #999;
}

.selectedUsers {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selectedUsers .selected-user {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: #eceff4;
    border-radius: 6px;
    outline: 1px solid #e5e7eb;
    align-items: center;
    gap: 0.6rem;
}

.selected-user-details {
    font-weight: 600;
    color: #41454d;
}

.selectedUsers .remove-user {
    cursor: pointer;
}

/* Error Form Field */
.form-error-field{
    outline-color: #f14858 !important;
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 0px;
}

.edit-user-input .form-error-icon{
    background-color: #f14858;
}

.form-error-section.form-error-section{
    border-left: 2px solid #f14858;
}