.course-content-container{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.course-content-left-column{
    flex: 7;
}

.course-content-right-column{
    flex: 3;
}

.details-info-card .info-card-body{
    flex-direction: column;
    gap: 2rem;
}

/* Input Fields */
.course-content-input {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.course-content-input label {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--text-color2);
}

.course-content-input input {
    padding: var(--pad-xxs) var(--pad-xs);
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--btn-font);
    color: var(--text-color8);
    flex: 1;
}

.course-content-input input:hover {
    background-color: var(--bg-color3);
}

.course-content-input input:focus-visible {
    outline-color: var(--primary-blue);
}

.course-content-input.course-content-row{
    flex-direction: row;
    gap: 2rem;
}

/* Styling custom test editor */
.ql-toolbar .ql-bold .ql-stroke {
    stroke: red; /* Example: Change bold icon color to red */
}
.custom-icon-italic {
    font-style: italic;
    /* Additional custom styles */
}

.ql-toolbar.ql-snow {
    background-color: #f2f2f2;
    border: 1px solid #ececf1 !important;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    padding: 6px !important;
}

.ql-container.ql-snow {
    border: 1px solid #ececf1 !important;
    border-radius: 0 0 8px 8px;
}

.ql-editor {
    min-height: 5rem;
    padding: var(--pad-xxs) var(--pad-xs) !important;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    border-radius: 6px;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #06c;
    background-color: var(--bg-color4);
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 10px !important;
    padding-left: 10px;
}

.ql-formats {
    position: relative;
}

.ql-toolbar > *:first-child::before {
    content: none; /* or content: ''; */
}

.ql-toolbar > *:first-child{
    padding-left: 0px !important;
}

.ql-formats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 3px;
    background-color: var(--bg-color1);
    border-radius: 16px;
    clip-path: inset(0% 0% 0% 0% round 0 0 4px 4px);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-radius: 8px;
}

.ql-snow .ql-picker-options .ql-picker-item {
    padding: var(--pad-xxs);
    border-radius: 4px;
}