#fileLibrary .popup-content{
    height: 100%;
    max-width: unset;
    border-radius: 0px;
    /* max-height: 45rem; */
}

.file-library-footer{
    padding: var(--pad-sm) var(--pad-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid var(--bg-color2); */
    border-top: 1px solid #d7d7d7;
    background-color: #fbfbfb;
    border-radius: 0px 0 8px 8px;
}

.close-library-btn{
    background-color: white;
    color: var(--text-color2);
    /* border: 1px solid var(--bg-color2); */
    border: 1px solid #dadae1;
    /* font-weight: 600; */
}

.close-library-btn:hover{
    background-color: var(--bg-color2);
}

.file-library-body{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.file-library-body .popup-body{
    position: relative;
    flex: 8.5;
    padding: 0;
    border-top: 0;
    max-height: unset;
    overflow: hidden;
    /* background-color: var(--bg-color6); */
    /* border-left: 1px solid #ececf1; */
}

.file-library-body .file-library-filters{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1.5;
    padding: var(--pad-xl) var(--pad-lg);
    /* box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px; */
    background-color: #fbfbfb;
    border-right: 1px solid #d7d7d7;
    min-width: 150px;
    overflow-x: hidden;
}

.file-library-body .file-library-filters .filter-label{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--text-color2);
}

.file-library-top-row{
    position: relative;
    display: flex;
    gap: 1rem;
    padding: var(--pad-xxxl);
    /* padding-bottom: var(--pad-xxxxl); */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.file-library-top-row h2{
    color: var(--text-color2);
    margin: 0;
    font-size: 1.3rem;
}

.file-library-grid, .file-library-list {
    border-radius: 8px;
    background-color: white;
    opacity: 1;
    transform: translateY(0rem);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}.file-library-main-container{
    padding: var(--pad-xxxl);
    padding-top: 0.2rem;
    height: calc(100% - 93px);
    box-sizing: border-box;
}

.fade-table-up {
    opacity: 0;
    transform: translateY(2rem);
}

.file-library-body th:first-child{
    border-top-left-radius: 8px;
}.file-library-body th:last-child{
    border-top-right-radius: 8px;
}

.file-library-body th{
    border: none;
    background-color: white;
    color: var(--text-color7);
    cursor: auto;
    padding: 10px;
}

.file-library-body td{
    /* font-size: var(--btn-font); */
    border-top: 1px solid #dddddd;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
/* .table-select-option:last-child td:last-of-type{
    border-radius: 0 0 8px 0;
}

.file-library-body tr:last-child{
    border-radius: 8px 8px 0 0;
}

.file-library-body tr:last-child td:last-child{
    border-radius: 0 0 8px 0;
}

.file-library-body tr:last-child td:first-child{
    border-radius: 0 0 0 8px;
} */

.library-filter-options{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.8rem;
}

.library-filter-options .container{
    display: flex;
    gap: 0.4rem;
    width: unset;
    font-size: 16px;
}

.library-filter-options .container .checkmark{
    height: 0.81em;
}

.library-filter-options .container:hover .checkmark{
    border-color: var(--primary-blue);
}

.library-filter-options .container span{
    font-size: var(--btn-font);
    font-weight: 400;
}

.library-filter-options .checkmark:after {
    font-size: 1.25rem;
    left: 4px;
    top: 1px;
}

.table-select-option{
    position: relative;
}.table-select-option:hover .custom-radio-button {
    border: 2px solid var(--primary-blue);
}

.file-library-header{
    gap: 2rem;
    background-color: #1b252d;
}.file-library-header h3{
    color: #dbdbdb;
}.file-library-header .close-popup-icon{
    background-color: #1b252d;
    color: #dbdbdb;
}.file-library-header .close-popup-icon:hover{
    background-color: #2c353c;
    color: white;
}

.library-search-input{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.library-search-input input {
    padding: var(--pad-xxs) var(--pad-xs);
    padding-right: 2rem;
    border: 1px solid #414141;
    background-color: #1b252d;
    border-radius: 8px;
    font-size: var(--fs-sm);
    color: white;
    flex: 1;
    max-width: 30rem;
}.library-search-input input::placeholder{
    color: #dbdbdb;
}

.library-search-input input:focus-visible {
    outline-color: var(--primary-blue);
}

.library-search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
    color: #dbdbdb;
    font-size: 0.8rem;
    pointer-events: none;
}

/* Custom File Upload */
.custom-file-upload-container{
    display: flex;
    align-items: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 14px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: dodgerblue;
}

.custom-file-upload i {
    margin-right: 8px;
}

.custom-file-title{
    flex: 1;
    border: 1px solid #ececf1;
    padding: 6.2px 9px;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    max-height: 1.2rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.custom-file-title:hover {
    background-color: var(--bg-color3);
}

.file-name-display {
    font-size: 14px;
    color: #555;
}

.file-upload-inner{
    padding: 1rem 0;
}

.file-upload-inner h5{
    font-size: 0.85rem;
    margin-top: 0;
    color: var(--text-color7);
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    font-weight: 500;
}

.file-options-container{
    position: absolute;
    right: 0;
    bottom: 1px;
    top: 1px;
    padding: 0.7rem;
    opacity: 0;
    color: var(--text-color6);
    /* transition: all 0.2s linear; */
}.file-options-container:last-child{
    border-radius: 0 0 8px 0;
}.file-options-container .quiz-builder-dropdown-options{
    right: 0;
    left: unset;
}.file-options-container .question-editor-action-icon{
    padding: unset;
    background-color: transparent;
    border: none;
}.file-options-container .question-editor-action-icon:hover{
    background-color: transparent;
}.table-select-option:hover .file-options-container {
    opacity: 1;
}

.table-select-option.selected-option .file-options-container .fade-overlay{
    background: linear-gradient(to left, rgb(227 236 249), rgb(227 236 249 / 87%)) !important;
}.table-select-option:hover .file-options-container .fade-overlay{
    background: linear-gradient(to left, rgb(247 247 250), rgb(250 247 247 / 87%));
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.custom-file-extension {
    font-size: 0.9rem;
    color: var(--text-color6);
    margin-left: 0.2rem;
}

.file-library-layout-options{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}/*.file-library-layout-options::before {
    content: '';
    position: absolute;
    right: -0.7rem;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 3px;
    background-color: #dedede;
    border-radius: 16px;
    clip-path: inset(0% 0% 0% 0% round 0 0 4px 4px);
}*/.file-library-layout-option{
    color: #858b8f;
    transition: all 0.2s linear;
    font-size: var(--fs-lg);
    cursor: pointer;
}.file-library-layout-option:hover{
    color: var(--text-color7);
}.file-library-layout-option.active-layout{
    color: #191c1f;
}

/* Grid Layout Styling */
.file-library-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    align-content: flex-start;
}.file-library-grid thead{
    display: none !important;
}

.file-library-grid .grid-item{
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13rem;
    position: relative;
    width: 100%;
    max-width: 18rem;
    transition: all 0.2s ease-in-out;
    outline: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px 2px;
    text-decoration: none;
    cursor: pointer;
}.file-library-grid .grid-item:hover{
    outline: 2px solid var(--primary-blue);
}.file-library-grid .grid-item.selected-option{
    outline: 2px solid var(--primary-blue);
}.file-library-grid .grid-item-top{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}.file-library-grid .grid-item-top .file-image-display{
    width: 100%;
    height: 100%;
    box-shadow: unset;
    border-radius: unset;
    margin-right: 0;
}.file-library-grid .grid-item-top .file-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}.file-library-grid .grid-item-top .file-card-icon i {
    color: gray;
    font-size: 2.3rem;
}.file-library-grid .grid-item-top .custom-radio{
    padding-left: unset;
}.file-library-grid .grid-item-top .custom-radio .custom-radio-button{
    left: 0.6rem;
    top: 0.6rem;
}

.file-library-grid .grid-item-bottom{
    position: relative;
    border-top: 1px solid #ececf1;
    padding: 0.6rem;
}.grid-item-bottom .file-card-title{
    font-size: 0.8rem;
    margin-top: 0;
    color: var(--text-color2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}.grid-item-bottom .file-card-footer{
    color: #798292;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}.grid-item .grid-item-bottom .file-options-container .fade-overlay {
    background: linear-gradient(to left, rgb(255 255 255), rgb(255 255 255 / 87%)) !important;
    border-bottom-right-radius: 8px;
}

.grid-item-bottom .quiz-builder-dropdown-options {
    top: 2rem;
}

/* List Layout Styling */
.file-list-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* color: #41454d; */
    color: #858b8f;
    border-radius: 4px;
    margin-right: 0.4rem;
    background-color: white;
    padding: 0.3rem;
    height: 18px;
    width: 18px;
}.file-list-icon i{
    /* font-weight: 700;
    font-size: 1.3rem; */
}

.file-title-inner{
    display: flex;
    align-items: center;
}.file-image-display{
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* color: #41454d; */
    color: #858b8f;
    border-radius: 4px;
    margin-right: 0.4rem;
    background-color: white;
}.file-image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' if you prefer */
    display: block;
}

/* File Library Breadcrumbs / Folders */
.folder-breadcrumbs{
    display: none;
    color: #858b8f;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.2rem;
}.breadcrumb-item{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    transition: all 0.2s linear;
    font-size: 0.9rem;
    cursor: pointer;
    outline: 2px dashed transparent;
}.breadcrumb-item:hover{
    color: var(--text-color7);
    text-decoration: underline;
}.breadcrumb-separator{
    color: #798292;
    font-size: 0.9rem;
}

.file-library-grid .grid-item-top .folder-grid-icon i{
    color: #71a2f1;
    font-size: 4rem;
}.folder-list-icon{
    color: #71a2f1;
    box-shadow: unset;
    font-size: 1.55rem;
    background-color: transparent;
}

.no-results-found-folder{
    width: 100%;
}.no-results-found-folder .dropzone{
    padding: 4rem 20px;
}.no-results-found-folder .dropzone i {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.file-library-header-icon{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}.file-library-header-icon i{
    color: #71a2f1;
    font-size: 1.4rem;
}.file-library-header-icon span{
    color: var(--text-color2);
}

.folder-card.drag-target {
    outline: 2px dashed dodgerblue;
}.folder-row.drag-target {
    outline: 2px dashed dodgerblue;
}.breadcrumb-item.drag-target {
    background-color: #f0f4ff;
    outline: 2px dashed dodgerblue;
    border-radius: 4px;
}

.selected-file-destination{
    display: none;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-color7);
}.selected-file-destination span{
    font-size: 0.85rem;
}#fileDestination{
    font-weight: 500;
}

.library-scrolled-down{
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 2px 2px;
    transition: all 0.2s linear;
    z-index: 5;
}

.folder-select-row.selected {
    background-color: #f0f4ff;
    border-radius: 6px;
}.folder-move-breadcrumbs{
    display: flex;
    color: #858b8f;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.2rem;
    margin-bottom: 0.7rem;
}.breadcrumb-item.current {
    font-weight: 500;
    pointer-events: none;
    color: var(--text-color7);
}
#entireFolderList .folder-row:first-child td{
    border-top: 0;
}
.folder-row:last-child td{
    border-bottom: 0;
}.folder-arrow-cell{
    width: 2rem;
}
