#fileLibrary .popup-content{
    height: 90%;
    max-height: 45rem;
}

.file-library-footer{
    padding: var(--pad-sm) var(--pad-lg);
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid var(--bg-color2); */
    border-top: 1px solid #d7d7d7;
    background-color: white;
    border-radius: 0px 0 8px 8px;
}

.close-library-btn{
    background-color: white;
    color: var(--text-color2);
    /* border: 1px solid var(--bg-color2); */
    border: 1px solid #dadae1;
    /* font-weight: 600; */
}

.close-library-btn:hover{
    background-color: var(--bg-color2);
}

.file-library-body{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.file-library-body .popup-body{
    position: relative;
    background-color: var(--bg-color6);
    flex: 8.5;
    padding: var(--pad-xxxl);
    padding-bottom: 4rem;
    max-height: 34rem;
    overflow: auto;
    border-top: 1px solid #d7d7d7;
}

.file-library-body .file-library-filters{
    /* border-right: 1px solid var(--bg-color2); */
    border-right: 1px solid #d7d7d7;
    /* border-top: 1px solid var(--bg-color2); */
    border-top: 1px solid #d7d7d7;
    flex: 1.5;
    padding: var(--pad-xl) var(--pad-lg);
}

.file-library-body .file-library-filters span{
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-color2);
}

.file-library-top-row{
    display: flex;
    padding-bottom: var(--pad-lg);
    justify-content: space-between;
    align-items: center;
}

.file-library-top-row h3{
    color: var(--text-color5);
    margin: 0;
    font-size: var(--fs-med);
}

.file-library-body table{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    outline: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: white;
}

.file-library-body th:first-child{
    border-top-left-radius: 8px;
}.file-library-body th:last-child{
    border-top-right-radius: 8px;
}

.file-library-body th{
    border: none;
    background-color: #efefef;
    color: #252d39;
    /* color: gray; */
    /* font-size: var(--btn-font); */
    padding: 10px;
}

.file-library-body td{
    /* font-size: var(--btn-font); */
    border-top: 1px solid #dddddd;
}

.file-library-body tr:last-child{
    border-radius: 8px 8px 0 0;
}

.file-library-body tr:last-child td:last-child{
    border-radius: 0 0 8px 0;
}

.file-library-body tr:last-child td:first-child{
    border-radius: 0 0 0 8px;
}

.library-filter-options{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.8rem;
}

.library-filter-options .container{
    display: flex;
    gap: 0.4rem;
    width: unset;
    font-size: 16px;
}

.library-filter-options .container .checkmark{
    height: 0.81em;
}

.library-filter-options .container:hover .checkmark{
    border-color: var(--primary-blue);
}

.library-filter-options .container span{
    font-size: var(--btn-font);
    font-weight: 500;
}

.library-filter-options .checkmark:after {
    font-size: 1.25rem;
    left: 4px;
    top: 1px;
}

.table-select-option:hover .custom-radio-button {
    border: 2px solid var(--primary-blue);
}

.file-library-header{
    gap: 2rem;
}

.library-search-input{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.library-search-input input {
    padding: var(--pad-xxs) var(--pad-xs);
    padding-right: 2rem;
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--fs-sm);
    color: var(--text-color8);
    flex: 1;
    max-width: 30rem;
}

.library-search-input input:focus-visible {
    outline-color: var(--primary-blue);
}

.library-search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 0.8rem;
    pointer-events: none;
}

/* Custom File Upload */
.custom-file-upload-container{
    display: flex;
    align-items: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 14px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: dodgerblue;
}

.custom-file-upload i {
    margin-right: 8px;
}

.custom-file-title{
    flex: 1;
    border: 1px solid #ececf1;
    padding: 5.5px 9px;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    max-height: 1.2rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.custom-file-title:hover {
    background-color: var(--bg-color3);
}

.file-name-display {
    font-size: 14px;
    color: #555;
}

.file-upload-inner{
    padding: 1rem 0;
}

.file-upload-inner h5{
    margin-top: 0;
    margin-bottom: 0.7rem;
    color: var(--text-color2);
    font-size: 0.9rem;
}