<div id="changePasswordPopup" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Update your password</h3>
            <div onclick="closePopup('changePasswordPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <!-- Message container for displaying errors/success dynamically -->
        <div id="password-message"></div>

        <form id="change-password-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="popup-body">
                <div class="edit-user-row">
                    <div class="edit-user-input">
                        <label class="edit-user-label" for="current_password">Current Password</label>
                        <input type="password" id="current_password" name="current_password" class="password-field">
                    </div>
                    <div class="edit-user-input margin-top-2">
                        <label class="edit-user-label" for="new_password1">New Password</label>
                        <input type="password" id="new_password1" name="new_password1" class="password-field">
                    </div>
                    <div class="edit-user-input margin-top-2">
                        <label style="max-width: none;" class="edit-user-label" for="new_password2">Confirm New Password</label>
                        <input type="password" id="new_password2" name="new_password2" class="password-field">
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="spacer"></div>
                <div class="popup-btns">
                    <div onclick="closePopup('changePasswordPopup')" class="popup-btn close-popup-btn">Cancel</div>
                    <button type="submit" class="popup-btn">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>