<div id="filtersPopup" class="popup-background"> 
    <div class="popup-content max-width-6">
        <form id="filtersForm" method="get">
            <!-- Hidden inputs for current filters -->
            {% for key, value in active_filters.items %}
                {% if key != 'query' and key != 'sort_by' %}
                    <input type="hidden" name="filter_{{ key }}" value="{{ value }}">
                {% elif key == 'sort_by' %}
                    <input class="sort-hidden-filters" id="sortByHIddenFilter" type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
            {% endfor %}
            <div class="popup-header">
                <h3> Create New Filter </h3>
                <div onclick="closePopup('filtersPopup')" class="close-popup-icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="popup-body">
                <div class="filter-options-row">
                    <div class="filter-option">
                        <h5>Field Name</h5>
                        <div class="custom-select">
                            <i class="fa-light fa-angles-up-down"></i>
                            <div class="select-selected">Select an option</div>
                            <div class="select-items scrollable-content">
                                <div class="select-item" data-name="filter_course__title" data-value="{{ request.GET.filter_course__title }}">Course</div>
                                <div class="select-item" data-name="filter_assignment__title" data-value="{{ request.GET.filter_assignment__title }}">Assignmnet</div>
                                <div class="select-item" data-name="filter_user__first_name" data-value="{{ request.GET.filter_user__first_name }}">First Name</div>
                                <div class="select-item" data-name="filter_user__last_name" data-value="{{ request.GET.filter_user__last_name }}">Last Name</div>
                                <div class="select-item" data-name="filter_status" data-value="{{ request.GET.filter_status }}">Status</div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-option">
                        <h5>Value</h5>
                        <input id="fieldValue" type="text" placeholder="Field Value">
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="spacer"></div>
                <div class="popup-btns">
                    <button type="button" onclick="closePopup('filtersPopup')" class="close-popup-btn popup-btn">Close</button>
                    <button id="applyFilterBtn" class="popup-btn"> Apply Filter </button>
                </div>
            </div>
        </form>
    </div>
</div>