<div id="editUserPopup" class="popup-background"> 
    <div class="popup-content max-width-3">
        <form id="editUserForm" method="post" action="{% url 'edit_user' profile.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="border-bottom: 1px solid var(--bg-color2);" class="popup-header">
                <h3> Edit User Information </h3>
                <div onclick="closePopup('editUserPopup')" class="close-popup-icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="popup-scroll-wrapper scrollable-content">
                <div style="border: none;" class="popup-body">
                    <div class="edit-images-row">
                        <div class="edit-image">
                            <label class="edit-user-label" for="photoid">Headshot Image</label>
                            {% if profile.photoid %}
                                <img id="photoidPreview" src="{{ profile.photoid.url }}" alt="photoid">
                            {% else %}
                                <div class="profile-image">
                                    <i class="fa-regular fa-user-graduate"></i>
                                </div>
                            {% endif %}
                            <label for="photoid" class="custom-file-upload-container">
                                <div class="custom-file-upload">
                                    <input type="file" id="photoid" name="photoid" accept="image/*" onchange="previewImage('photoid', 'photoidPreview')" style="display: none;">
                                    <i class="fa-solid fa-upload"></i> Choose File
                                </div>
                                <div class="custom-file-title">
                                    {% if profile.photoid %}
                                        <span id="photoidNameDisplay" class="file-name-display">{{ profile.photoid }}</span>
                                    {% else %}
                                        <span id="photoidNameDisplay" class="file-name-display">No file selected</span>
                                    {% endif %}                                
                                </div>
                            </label> 
                        </div>
                        <div class="edit-image">
                            <label class="edit-user-label" for="passportphoto">Identification Image</label>
                            {% if profile.passportphoto %}
                                <img id="passportphotoPreview" src="{{ profile.passportphoto.url }}" alt="passportphoto">
                            {% else %}
                                <div class="profile-image">
                                    <i class="fa-regular fa-user-graduate"></i>
                                </div>
                            {% endif %}
                            <label for="passportphoto" class="custom-file-upload-container">
                                <div class="custom-file-upload">
                                    <input type="file" id="passportphoto" name="passportphoto" accept="image/*" onchange="previewImage('passportphoto', 'passportphotoPreview')" style="display: none;">
                                    <i class="fa-solid fa-upload"></i> Choose File
                                </div>
                                <div class="custom-file-title">
                                    {% if profile.passportphoto %}
                                        <span id="passportphotoNameDisplay" class="file-name-display">{{ profile.passportphoto }}</span>
                                    {% else %}
                                        <span id="passportphotoNameDisplay" class="file-name-display">No file selected</span>
                                    {% endif %}
                                    
                                </div>
                            </label> 
                        </div>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="edit-user-header">
                        <div class="edit-user-header-icon">
                            <i class="fa-light fa-head-side-gear"></i>
                        </div>
                        <h3> General</h3>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" value="{{ profile.first_name }}">
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" value="{{ profile.last_name }}">
                        </div>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="username">Username</label>
                            <input type="text" id="username" name="username" value="{{ profile.username }}">
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="email">Email</label>
                            <input type="email" id="email" name="email" value="{{ profile.email }}">
                        </div>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="role">Role</label>
                            <div class="custom-select margin-0">
                                <i class="fa-light fa-angles-up-down"></i>     
                                <input class="select-selected" type="text" id="role" name="role" value="{{ profile.role }}" readonly>
                                <div class="select-items scrollable-content" style="display: none;">
                                    <div class="select-item" data-name="role" data-value="Student">Student</div>
                                    <div class="select-item" data-name="role" data-value="Auditor">Auditor</div>
                                    <div class="select-item" data-name="role" data-value="Instructor">Instructor</div>
                                    <div class="select-item" data-name="role" data-value="Admin">Admin</div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="archived">Archived</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="archived" name="archived" {% if profile.archived %}checked{% endif %}>
                                <div class="toggle-switch-background">
                                  <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="edit-user-header">
                        <div class="edit-user-header-icon">
                            <i class="fa-light fa-address-book"></i>
                        </div>
                        <h3> Contact </h3>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="country">Country</label>
                            <div class="custom-select margin-0">
                                <i class="fa-light fa-angles-up-down"></i>     
                                <input class="select-selected" type="text" id="country" name="country" value="{{ profile.country }}" readonly>
                                <div class="select-items scrollable-content" style="display: none;">
                                    {% include 'dropdownOptions/country_options.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="city">City</label>
                            <input type="text" id="city" name="city" value="{{ profile.city }}">
                        </div>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="state">State</label>
                            <input type="text" id="state" name="state" value="{{ profile.state }}">
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="code">Zip Code</label>
                            <input type="text" id="code" name="code" value="{{ profile.code }}">
                        </div>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="citizenship">Citizenship</label>
                            <div class="custom-select margin-0">
                                <i class="fa-light fa-angles-up-down"></i>     
                                <input class="select-selected" type="text" id="citizenship" name="citizenship" value="{{ profile.citizenship }}" readonly>
                                <div class="select-items scrollable-content" style="display: none;">
                                    {% include 'dropdownOptions/citizenship_options.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="address_1">Address</label>
                            <input type="text" id="address_1" name="address_1" value="{{ profile.address_1 }}">
                        </div>
                    </div>   
                </div>
                <div class="popup-body">
                    <div class="edit-user-header">
                        <div class="edit-user-header-icon">
                            <i class="fa-light fa-ellipsis-stroke"></i>
                        </div>
                        <h3> Other </h3>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="birth_date">Date of Birth</label>
                            <input type="text" id="birth_date" name="birth_date" class="date-picker" value="{{ profile.birth_date|date:'Y-m-d' }}">
                            <span class="input-group-addon">
                                <i class="fa-regular fa-calendar-lines"></i>
                            </span>
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="sex">Gender</label>
                            <div class="custom-select margin-0">
                                <i class="fa-light fa-angles-up-down"></i>     
                                <input class="select-selected" type="text" id="sex" name="sex" value="{{ profile.sex }}" readonly>
                                <div class="select-items scrollable-content" style="display: none;">
                                    {% include 'dropdownOptions/gender_options.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-user-row">
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="referral">Referral</label>
                            <input type="text" id="referral" name="referral" value="{{ profile.referral }}">
                        </div>
                        <div class="edit-user-input">
                            <label class="edit-user-label" for="associate_school">Associate School</label>
                            <input type="text" id="associate_school" name="associate_school" value="{{ profile.associate_school }}">
                        </div>
                    </div>  
                </div>
            </div>
            <div class="popup-footer">
                <div class="spacer"></div>
                <div class="popup-btns">
                    <div onclick="closePopup('editUserPopup')" class="close-popup-btn popup-btn">Close</div>
                    <button type="submit" id="saveUserBtn" class="popup-btn"> Save Changes </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var userId = "{{ profile.user.id }}";
</script>