<div id="lessonAssignmentsPopup" class="popup-background">
    <div class="popup-content max-width-3">
        <div class="popup-header">
            <div class="popup-header-column">
                <h3>Lesson Assignments</h3>
                <span id="AssignmentLessonTitle" class="popup-header-subtext"></span>
            </div>
            <span id="AssignmentLessonType" class="selected-lesson-type pastel-blue">File</span>
            <button onclick="closePopup('lessonAssignmentsPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div id="lessonAssignmentsLoading" class="popup-body">
            <div class="loading-symbol-blue-sm">
                <svg class="loading-symbol-sm-inner" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
            </div>
        </div>
        <div id="lessonAssignmentsLoaded" class="popup-body hidden">
            <div id="assignmentListContainer" class="lesson-list-options-container"></div>
            <div id="assignmentListError" class="error hidden"></div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('lessonAssignmentsPopup')" class="popup-btn close-popup-btn">Back</button>
            </div>
        </div>
    </div>
</div>