{% extends 'learner_base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'learner_sidebar.html' %}
<div class="learner-body align-center scrollable-content">
    {% include 'messageContainer/message_container.html' %}
    <div class="max-width-extend-1">
        <div class="learner-top-row">
            <div class="learner-top-row-left">
                <h2>My Courses</h2>
                <span>Select the course you would like to open</span>
            </div>
            <div class="learner-top-row-right">
                <!-- <div class="learner-primary-button">
                    <i class="fa-regular fa-lock-keyhole"></i>
                    <span> Change Password </span>
                </div> -->
            </div>
        </div>
        <div class="learner-body-inner"> 
            <div class="learner-courses-container">
                {% for user_course in user_courses %}
                    <div class="course-item">
                        <div class="course-item-top">                         
                            {% if user_course.course.thumbnail.thumbnail_link %}
                                <div style="background-image: url({{ user_course.course.thumbnail.thumbnail_link }});" class="course-item-thumbnail"></div>
                            {% elif user_course.course.thumbnail.thumbnail_image %}
                                <div style="background-image: url({{ user_course.course.thumbnail.thumbnail_image.url }});" class="course-item-thumbnail"></div>
                            {% else %}
                                {% if settings.default_course_thumbnail %}
                                    <div style="background-image: url({{ settings.default_course_thumbnail_image.url }});" class="course-item-thumbnail"></div>
                                {% else %}
                                    <div class="course-item-thumbnail">
                                        <div class="thumbnail-placeholder">
                                            <i class="fa-regular fa-book-open-cover"></i>
                                        </div>
                                    </div> 
                                {% endif %}                                  
                            {% endif %}
                            <div class="course-item-status">
                                {% if user_course.get_status == 'Not Started' %}
                                    <div class="course-item-status-item purple-status-item">
                                        <i class="fa-regular fa-rocket-launch"></i>
                                    </div>
                                {% elif user_course.get_status == 'Started' %}
                                    <div class="course-item-status-item purple-status-item">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                {% elif user_course.get_status == 'Completed' %}
                                    <div class="course-item-status-item green-status-item">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                {% elif user_course.get_status == 'Not Completed' %}
                                    <div class="course-item-status-item yellow-status-item">
                                        <i class="fa-regular fa-light-emergency-on"></i>
                                    </div>
                                {% else %}
                                    <div class="course-item-status-item red-status-item">
                                        <i class="fa-regular fa-stopwatch"></i>
                                    </div>
                                {% endif %}  
                            </div>
                        </div>
                        
                        <div class="course-item-inner">
                            <div class="course-item-body">
                                <div class="course-item-type-wrapper">
                                    {% if user_course.course.type == 'online' %}
                                        <span class="course-item-type pastel-purple"> Online Course </span>
                                    {% else %}
                                        <span class="course-item-type pastel-orange"> In-Person Course </span>
                                    {% endif %}
                                </div>
                                
                                <h4 class="course-item-title limit-text-wrap">{{ user_course.course.title }}</h4>
                                <div class="course-item-progress-container">
                                    <div class="course-item-progress-bar-container">
                                        <div class="course-item-progress-bar" style="width: {{ user_course.progress }}%;"></div>
                                    </div>
                                    <span>{{ user_course.progress }}%</span>
                                </div>
                                
                            </div>
                            <div class="course-item-footer">
                                <div class="course-item-footer-item">
                                    <i class="fa-regular fa-photo-film"></i>
                                    {% if user_course.course.get_lesson_count > 1 %}
                                        <span>{{ user_course.course.get_lesson_count }} Lessons</span> 
                                    {% else %}
                                        <span>{{ user_course.course.get_lesson_count }} Lesson</span>
                                    {% endif %}
                                </div>
                                {% if user_course.get_expiration_date or user_course.get_due_date or user_course.get_start_date %}
                                    <div class="course-item-footer-item">
                                        <i class="fa-solid fa-circle-small footer-spacer"></i>
                                    </div>
                                {% endif %}
                                <div class="course-item-footer-item">
                                    {% if user_course.get_expiration_date %}
                                        <!-- <i class="fa-regular fa-stopwatch"></i> -->
                                        <i class="fa-regular fa-calendar-clock"></i>
                                        <span> {{ user_course.get_expiration_date }}</span>
                                    {% elif user_course.get_due_date %}
                                        <i class="fa-regular fa-calendar-exclamation"></i>
                                        <span> {{ user_course.get_due_date }}</span>
                                    {% elif user_course.get_start_date %}
                                        <i class="fa-regular fa-calendar-star"></i>
                                        <span> {{ user_course.get_start_date }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>          
                    </div>
                    <div id="courseItemPopup" class="popup-background">
                        <div class="popup-content max-width-2" style="border-top-right-radius: 16px; border-top-left-radius: 16px;">
                            <div class="course-item-popup-banner">
                                <div class="close-course-item-popup" onclick="closeCourseItemPopup(this.closest('.popup-background'))">
                                    <i style="height: 1.1rem;" class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="course-item-popup-banner-inner">
                                    <div class="course-item-popup-type-wrapper">
                                        {% if user_course.course.type == 'online' %}
                                            <span class="course-item-popup-type"> Online Course </span>
                                        {% else %}
                                            <span class="course-item-popup-type"> In-Person Course </span>
                                        {% endif %}
                                    </div>
                                    <h4 class="course-item-popup-title">{{ user_course.course.title }}</h4>
                                    {% if user_course.course.estimated_completion_time %}
                                        <div class="course-time-wrapper">
                                            <i class="fa-regular fa-clock"></i>
                                            <span>{{ user_course.course.estimated_completion_time|format_time }}</span>
                                        </div>
                                    {% endif %}
                                    <!-- Button To Start Course -->
                                    {% if user_course.get_status == 'Not Started' %}
                                        <button class="start-course-btn" onclick="launchCourse('{{ user_course.lesson_id }}')">
                                            <i class="fa-regular fa-rocket-launch"></i>
                                            <span> Start Course</span>
                                        </button>
                                    {% elif user_course.get_status == 'Started' or user_course.get_status == 'Not Completed' %}
                                        <div class="start-course-btn" onclick="launchCourse('{{ user_course.lesson_id }}')">
                                            <i class="fa-regular fa-circle-play"></i>
                                            <span> Resume Course</span>
                                        </div>
                                    {% elif user_course.get_status == 'Completed' %}
                                        <div class="start-course-btn" onclick="launchCourse('{{ user_course.lesson_id }}')">
                                            <i class="fa-regular fa-glasses"></i>
                                            <span> Review Course</span>
                                        </div>
                                    {% else %}
                                        <div class="start-course-btn">
                                            <i class="fa-regular fa-stopwatch"></i>
                                            <span> Course Expired</span>
                                        </div>
                                    {% endif %}  
                                </div>
                            </div>
                            <div class="course-item-popup">
                                <div class="tabs-container">
                                    <div class="tabs">
                                        <button class="tab active" data-target="tab1">Overview</button>
                                        <button class="tab" data-target="tab2">Lessons</button>
                                        {% if user_course.course.resources.exists and user_course.course.referencesEnabled %}
                                            <button class="tab" data-target="tab3">Reference Materials</button>
                                        {% endif %}
                                        <div class="tab-indicator"></div>
                                    </div>
                                
                                    <div class="tab-content-container">
                                        <div class="tab-content active scrollable-content-inner" id="tab1">
                                            {% if user_course.course.description != '<p><br></p>' and user_course.course.description %}
                                                <div class="tab-content-description">
                                                    <div class="description-wrapper">
                                                        <div class="description-content">
                                                            {{ user_course.course.description|safe }}
                                                        </div>
                                                        <div class="fade-overlay"></div>
                                                    </div>
                                                    <div class="read-more-toggle" onclick="toggleDescription(event)">Read More</div>
                                                </div>
                                            {% endif %}
                                            {% if user_course.get_start_date or user_course.get_due_date or user_course.get_expiration_date %}
                                                <div class="tab-content-event-dates">
                                                    {% if user_course.get_start_date %}
                                                        <div class="tab-content-event-dates-item">
                                                            <div class="tab-content-event-dates-item-top">
                                                                <i class="fa-regular fa-calendar-star"></i>
                                                                <span>Start Date</span>
                                                            </div>
                                                            <span class="event-dates-subtext"> {{ user_course.get_start_date }} </span>
                                                        </div>
                                                    {% endif %}
                                                    {% if user_course.get_due_date %}
                                                        <div class="tab-content-event-dates-item">
                                                            <div class="tab-content-event-dates-item-top">
                                                                <i class="fa-regular fa-calendar-exclamation"></i>
                                                                <span>Due Date</span>
                                                            </div>
                                                            <span class="event-dates-subtext"> {{ user_course.get_due_date }} </span>
                                                        </div>
                                                    {% endif %}
                                                    {% if user_course.get_expiration_date %}
                                                        <div class="tab-content-event-dates-item">
                                                            <div class="tab-content-event-dates-item-top">
                                                                <i class="fa-regular fa-calendar-clock"></i>
                                                                <span>Expiration Date</span>
                                                            </div>
                                                            <span class="event-dates-subtext"> {{ user_course.get_expiration_date }} </span>
                                                        </div>                                         
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="tab-content scrollable-content-inner" id="tab2">
                                            {% for module_progress in user_course.module_progresses.all %}
                                                <div class="course-item-module-wrapper">
                                                    <div class="course-item-module-header">
                                                        <h4 class="course-item-module-title">{{ module_progress.module.title }}</h4>
                                                        {% if module_progress.lesson_progresses.all|length > 1%}
                                                            <span class="lesson-counter pastel-blue"> {{ module_progress.lesson_progresses.all|length }} Lessons</span>
                                                        {% else %}
                                                            <span class="lesson-counter pastel-blue"> {{ module_progress.lesson_progresses.all|length }} Lesson</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="course-item-lesson-container">
                                                        {% for lesson_progress in module_progress.lesson_progresses.all %}
                                                            <div class="course-item-lesson-wrapper">
                                                                <div class="course-item-lesson-header">
                                                                    {% if lesson_progress.completed %}
                                                                        <div class="course-item-lesson-complete-icon">
                                                                            <i class="fa-solid fa-circle-check"></i>
                                                                        </div>                                                             
                                                                    {% else %}
                                                                        <div class="course-item-lesson-icon">{{ forloop.counter }}</div>
                                                                    {% endif %}                                                                
                                                                    <h5 class="course-item-lesson-title">{{ lesson_progress.lesson.title }}</h5>
                                                                </div>
                                                                {% if lesson_progress.lesson.description != '<p><br></p>' and lesson_progress.lesson.description %}
                                                                    <div class="course-item-lesson-body">
                                                                        <div class="course-item-lesson-description">{{ lesson_progress.lesson.description|safe }}</div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        {% empty %}
                                                            <span>No lessons available.</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <span>No modules available.</span>
                                            {% endfor %}
                                        </div>
                                        <div class="tab-content scrollable-content-inner" id="tab3">
                                            <div class="course-resources-container">
                                                {% for resource in user_course.course.resources.all %}
                                                    {% if resource.type == 'reference' %}
                                                        <a href="{{ resource.url }}" target="_blank" class="reference-item">
                                                            <div class="reference-icon pastel-blue">
                                                                <i class="fa-regular fa-paperclip"></i>
                                                            </div>
                                                            <div class="reference-text">
                                                                <h4>{{ resource.title }}</h4>
                                                                <span>{{ resource.file_type }}</span>
                                                            </div>
                                                        </a>                                                    
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div style="display: flex;" class="no-widgets-found">
                        <img src="/static/client_admin/images/HALO LMS No Graphic Test-27.png" alt="No Widgets Image">    
                        <h4>It's empty in here</h4>
                        <span class="no-widgets-subtext"> You are currently not enrolled in any courses </span>        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'content/css/content.css' %}">
<link rel="stylesheet" href="{% static 'client_admin/css/user_details.css' %}">
<link rel="stylesheet" href="{% static 'custom_dashboard/css/dashboard.css' %}">
<script src="{% static 'learner_dashboard/javascript/learner.js' %}"></script>
{% endblock %}