<!-- user_details_card -->
<div class="details-user-card margin-top-0">
    <div class="top-section"></div>
    <div class="bottom-section">
        <div class="bottom-left">
            {% if profile.photoid %}
                <img class="profile-image" src="{{ profile.passportphoto.url }}" alt="Profile Image" />
            {% else %}
                <div class="profile-image">
                    <i class="fa-regular fa-user-graduate"></i>
                </div>
            {% endif %}
            <div class="user-card-info">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <div class="course-item-footer">
                    {% if total_time_spent %}
                        <div class="course-item-footer-item">
                            <i class="fa-regular fa-calendar"></i>
                            <span><b>Time Spent:</b> {{ total_time_spent }}</span>
                        </div>
                    {% endif %}
                    {% if total_completed %}
                        <div class="course-item-footer-item">
                            <i class="fa-solid fa-circle-small footer-spacer"></i>
                        </div>
                        <div class="course-item-footer-item">
                            <i class="fa-regular fa-box-open-full"></i>
                            <span><b>Courses Completed:</b> {{ total_completed }}</span>
                        </div>
                    {% endif %}
                    {% if total_enrollments %}
                        <div class="course-item-footer-item">
                            <i class="fa-solid fa-circle-small footer-spacer"></i>
                        </div>
                        <div class="course-item-footer-item">
                            <i class="fa-regular fa-boxes-stacked"></i>
                            <span><b>Total Courses:</b> {{ total_enrollments }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bottom-right">
            <!-- <div onclick="openPopup('editUserPopup')" class="learner-primary-button">
                <span> Edit user</span>
            </div> -->
        </div>
    </div>
</div>