<div class="select-item" data-name="citizenship" data-value="United States">United States of America</div>
<div class="select-item" data-name="citizenship" data-value="Andorra">Andorra</div>
<div class="select-item" data-name="citizenship" data-value="United Arab Emirates">United Arab Emirates</div>
<div class="select-item" data-name="citizenship" data-value="Afghanistan">Afghanistan</div>
<div class="select-item" data-name="citizenship" data-value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</div>
<div class="select-item" data-name="citizenship" data-value="Anguilla">Anguilla</div>
<div class="select-item" data-name="citizenship" data-value="Albania">Albania</div>
<div class="select-item" data-name="citizenship" data-value="Armenia">Armenia</div>
<div class="select-item" data-name="citizenship" data-value="Netherlands Antilles">Netherlands Antilles</div>
<div class="select-item" data-name="citizenship" data-value="Angola">Angola</div>
<div class="select-item" data-name="citizenship" data-value="Antarctica">Antarctica</div>
<div class="select-item" data-name="citizenship" data-value="Argentina">Argentina</div>
<div class="select-item" data-name="citizenship" data-value="American Samoa">American Samoa</div>
<div class="select-item" data-name="citizenship" data-value="Austria">Austria</div>
<div class="select-item" data-name="citizenship" data-value="Australia">Australia</div>
<div class="select-item" data-name="citizenship" data-value="Aruba">Aruba</div>
<div class="select-item" data-name="citizenship" data-value="Azerbaijan">Azerbaijan</div>
<div class="select-item" data-name="citizenship" data-value="Bosnia and Herzegovina">Bosnia and Herzegovina</div>
<div class="select-item" data-name="citizenship" data-value="Barbados">Barbados</div>
<div class="select-item" data-name="citizenship" data-value="Bangladesh">Bangladesh</div>
<div class="select-item" data-name="citizenship" data-value="Belgium">Belgium</div>
<div class="select-item" data-name="citizenship" data-value="Burkina Faso">Burkina Faso</div>
<div class="select-item" data-name="citizenship" data-value="Bulgaria">Bulgaria</div>
<div class="select-item" data-name="citizenship" data-value="Bahrain">Bahrain</div>
<div class="select-item" data-name="citizenship" data-value="Burundi">Burundi</div>
<div class="select-item" data-name="citizenship" data-value="Benin">Benin</div>
<div class="select-item" data-name="citizenship" data-value="Bermuda">Bermuda</div>
<div class="select-item" data-name="citizenship" data-value="Brunei Darussalam">Brunei Darussalam</div>
<div class="select-item" data-name="citizenship" data-value="Bolivia">Bolivia</div>
<div class="select-item" data-name="citizenship" data-value="Brazil">Brazil</div>
<div class="select-item" data-name="citizenship" data-value="Bahama">Bahama</div>
<div class="select-item" data-name="citizenship" data-value="Bhutan">Bhutan</div>
<div class="select-item" data-name="citizenship" data-value="Bouvet Island">Bouvet Island</div>
<div class="select-item" data-name="citizenship" data-value="Botswana">Botswana</div>
<div class="select-item" data-name="citizenship" data-value="Belarus">Belarus</div>
<div class="select-item" data-name="citizenship" data-value="Belize">Belize</div>
<div class="select-item" data-name="citizenship" data-value="Canada">Canada</div>
<div class="select-item" data-name="citizenship" data-value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</div>
<div class="select-item" data-name="citizenship" data-value="Central African Republic">Central African Republic</div>
<div class="select-item" data-name="citizenship" data-value="Congo">Congo</div>
<div class="select-item" data-name="citizenship" data-value="Switzerland">Switzerland</div>
<div class="select-item" data-name="citizenship" data-value="Ivory Coast">Ivory Coast</div>
<div class="select-item" data-name="citizenship" data-value="Cook Islands">Cook Islands</div>
<div class="select-item" data-name="citizenship" data-value="Chile">Chile</div>
<div class="select-item" data-name="citizenship" data-value="Cameroon">Cameroon</div>
<div class="select-item" data-name="citizenship" data-value="China">China</div>
<div class="select-item" data-name="citizenship" data-value="Colombia">Colombia</div>
<div class="select-item" data-name="citizenship" data-value="Costa Rica">Costa Rica</div>
<div class="select-item" data-name="citizenship" data-value="Cuba">Cuba</div>
<div class="select-item" data-name="citizenship" data-value="Cape Verde">Cape Verde</div>
<div class="select-item" data-name="citizenship" data-value="Christmas Island">Christmas Island</div>
<div class="select-item" data-name="citizenship" data-value="Cyprus">Cyprus</div>
<div class="select-item" data-name="citizenship" data-value="Czech Republic">Czech Republic</div>
<div class="select-item" data-name="citizenship" data-value="Germany">Germany</div>
<div class="select-item" data-name="citizenship" data-value="Djibouti">Djibouti</div>
<div class="select-item" data-name="citizenship" data-value="Denmark">Denmark</div>
<div class="select-item" data-name="citizenship" data-value="Dominica">Dominica</div>
<div class="select-item" data-name="citizenship" data-value="Dominican Republic">Dominican Republic</div>
<div class="select-item" data-name="citizenship" data-value="Algeria">Algeria</div>
<div class="select-item" data-name="citizenship" data-value="Ecuador">Ecuador</div>
<div class="select-item" data-name="citizenship" data-value="Estonia">Estonia</div>
<div class="select-item" data-name="citizenship" data-value="Egypt">Egypt</div>
<div class="select-item" data-name="citizenship" data-value="Western Sahara">Western Sahara</div>
<div class="select-item" data-name="citizenship" data-value="Eritrea">Eritrea</div>
<div class="select-item" data-name="citizenship" data-value="Spain">Spain</div>
<div class="select-item" data-name="citizenship" data-value="Ethiopia">Ethiopia</div>
<div class="select-item" data-name="citizenship" data-value="Finland">Finland</div>
<div class="select-item" data-name="citizenship" data-value="Fiji">Fiji</div>
<div class="select-item" data-name="citizenship" data-value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</div>
<div class="select-item" data-name="citizenship" data-value="Micronesia">Micronesia</div>
<div class="select-item" data-name="citizenship" data-value="Faroe Islands">Faroe Islands</div>
<div class="select-item" data-name="citizenship" data-value="France">France</div>
<div class="select-item" data-name="citizenship" data-value="France, Metropolitan">France, Metropolitan</div>
<div class="select-item" data-name="citizenship" data-value="Gabon">Gabon</div>
<div class="select-item" data-name="citizenship" data-value="United Kingdom (Great Britain)">United Kingdom (Great Britain)</div>
<div class="select-item" data-name="citizenship" data-value="Grenada">Grenada</div>
<div class="select-item" data-name="citizenship" data-value="Georgia">Georgia</div>
<div class="select-item" data-name="citizenship" data-value="French Guiana">French Guiana</div>
<div class="select-item" data-name="citizenship" data-value="Ghana">Ghana</div>
<div class="select-item" data-name="citizenship" data-value="Gibraltar">Gibraltar</div>
<div class="select-item" data-name="citizenship" data-value="Greece">Greece</div>
<div class="select-item" data-name="citizenship" data-value="Greenland">Greenland</div>
<div class="select-item" data-name="citizenship" data-value="Gambia">Gambia</div>
<div class="select-item" data-name="citizenship" data-value="Guinea">Guinea</div>
<div class="select-item" data-name="citizenship" data-value="Guadeloupe">Guadeloupe</div>
<div class="select-item" data-name="citizenship" data-value="Equatorial Guinea">Equatorial Guinea</div>
<div class="select-item" data-name="citizenship" data-value="Guinea-Bissau">Guinea-Bissau</div>
<div class="select-item" data-name="citizenship" data-value="Guyana">Guyana</div>
<div class="select-item" data-name="citizenship" data-value="Hong Kong">Hong Kong</div>
<div class="select-item" data-name="citizenship" data-value="Honduras">Honduras</div>
<div class="select-item" data-name="citizenship" data-value="Croatia">Croatia</div>
<div class="select-item" data-name="citizenship" data-value="Haiti">Haiti</div>
<div class="select-item" data-name="citizenship" data-value="Hungary">Hungary</div>
<div class="select-item" data-name="citizenship" data-value="Indonesia">Indonesia</div>
<div class="select-item" data-name="citizenship" data-value="Ireland">Ireland</div>
<div class="select-item" data-name="citizenship" data-value="Israel">Israel</div>
<div class="select-item" data-name="citizenship" data-value="India">India</div>
<div class="select-item" data-name="citizenship" data-value="British Indian Ocean Territory">British Indian Ocean Territory</div>
<div class="select-item" data-name="citizenship" data-value="Iraq">Iraq</div>
<div class="select-item" data-name="citizenship" data-value="Iran">Iran</div>
<div class="select-item" data-name="citizenship" data-value="Iceland">Iceland</div>
<div class="select-item" data-name="citizenship" data-value="Italy">Italy</div>
<div class="select-item" data-name="citizenship" data-value="Jamaica">Jamaica</div>
<div class="select-item" data-name="citizenship" data-value="Jordan">Jordan</div>
<div class="select-item" data-name="citizenship" data-value="Japan">Japan</div>
<div class="select-item" data-name="citizenship" data-value="Kenya">Kenya</div>
<div class="select-item" data-name="citizenship" data-value="Kyrgyzstan">Kyrgyzstan</div>
<div class="select-item" data-name="citizenship" data-value="Cambodia">Cambodia</div>
<div class="select-item" data-name="citizenship" data-value="Kiribati">Kiribati</div>
<div class="select-item" data-name="citizenship" data-value="Comoros">Comoros</div>
<div class="select-item" data-name="citizenship" data-value="Saint Kitts &amp; Nevis">Saint Kitts &amp; Nevis</div>
<div class="select-item" data-name="citizenship" data-value="North Korea">North Korea</div>
<div class="select-item" data-name="citizenship" data-value="South Korea">South Korea</div>
<div class="select-item" data-name="citizenship" data-value="Kuwait">Kuwait</div>
<div class="select-item" data-name="citizenship" data-value="Cayman Islands">Cayman Islands</div>
<div class="select-item" data-name="citizenship" data-value="Kazakhstan">Kazakhstan</div>
<div class="select-item" data-name="citizenship" data-value="Laos">Laos</div>
<div class="select-item" data-name="citizenship" data-value="Lebanon">Lebanon</div>
<div class="select-item" data-name="citizenship" data-value="Saint Lucia">Saint Lucia</div>
<div class="select-item" data-name="citizenship" data-value="Liechtenstein">Liechtenstein</div>
<div class="select-item" data-name="citizenship" data-value="Sri Lanka">Sri Lanka</div>
<div class="select-item" data-name="citizenship" data-value="Liberia">Liberia</div>
<div class="select-item" data-name="citizenship" data-value="Lesotho">Lesotho</div>
<div class="select-item" data-name="citizenship" data-value="Lithuania">Lithuania</div>
<div class="select-item" data-name="citizenship" data-value="Luxembourg">Luxembourg</div>
<div class="select-item" data-name="citizenship" data-value="Latvia">Latvia</div>
<div class="select-item" data-name="citizenship" data-value="Libya">Libya</div>
<div class="select-item" data-name="citizenship" data-value="Morocco">Morocco</div>
<div class="select-item" data-name="citizenship" data-value="Monaco">Monaco</div>
<div class="select-item" data-name="citizenship" data-value="Moldova">Moldova</div>
<div class="select-item" data-name="citizenship" data-value="Montenegro">Montenegro</div>
<div class="select-item" data-name="citizenship" data-value="Madagascar">Madagascar</div>
<div class="select-item" data-name="citizenship" data-value="Marshall Islands">Marshall Islands</div>
<div class="select-item" data-name="citizenship" data-value="Macedonia">Macedonia</div>
<div class="select-item" data-name="citizenship" data-value="Mali">Mali</div>
<div class="select-item" data-name="citizenship" data-value="Myanmar">Myanmar</div>
<div class="select-item" data-name="citizenship" data-value="Mongolia">Mongolia</div>
<div class="select-item" data-name="citizenship" data-value="Macau">Macau</div>
<div class="select-item" data-name="citizenship" data-value="Northern Mariana Islands">Northern Mariana Islands</div>
<div class="select-item" data-name="citizenship" data-value="Martinique">Martinique</div>
<div class="select-item" data-name="citizenship" data-value="Mauritania">Mauritania</div>
<div class="select-item" data-name="citizenship" data-value="Montserrat">Montserrat</div>
<div class="select-item" data-name="citizenship" data-value="Malta">Malta</div>
<div class="select-item" data-name="citizenship" data-value="Mauritius">Mauritius</div>
<div class="select-item" data-name="citizenship" data-value="Maldives">Maldives</div>
<div class="select-item" data-name="citizenship" data-value="Malawi">Malawi</div>
<div class="select-item" data-name="citizenship" data-value="Mexico">Mexico</div>
<div class="select-item" data-name="citizenship" data-value="Malaysia">Malaysia</div>
<div class="select-item" data-name="citizenship" data-value="Mozambique">Mozambique</div>
<div class="select-item" data-name="citizenship" data-value="Namibia">Namibia</div>
<div class="select-item" data-name="citizenship" data-value="New Caledonia">New Caledonia</div>
<div class="select-item" data-name="citizenship" data-value="Niger">Niger</div>
<div class="select-item" data-name="citizenship" data-value="Nigeria">Nigeria</div>
<div class="select-item" data-name="citizenship" data-value="Nicaragua">Nicaragua</div>
<div class="select-item" data-name="citizenship" data-value="Norway">Norway</div>
<div class="select-item" data-name="citizenship" data-value="Nepal">Nepal</div>
<div class="select-item" data-name="citizenship" data-value="Nauru">Nauru</div>
<div class="select-item" data-name="citizenship" data-value="Niue">Niue</div>
<div class="select-item" data-name="citizenship" data-value="New Zealand">New Zealand</div>
<div class="select-item" data-name="citizenship" data-value="Oman">Oman</div>
<div class="select-item" data-name="citizenship" data-value="Panama">Panama</div>
<div class="select-item" data-name="citizenship" data-value="Peru">Peru</div>
<div class="select-item" data-name="citizenship" data-value="French Polynesia">French Polynesia</div>
<div class="select-item" data-name="citizenship" data-value="Papua New Guinea">Papua New Guinea</div>
<div class="select-item" data-name="citizenship" data-value="Philippines">Philippines</div>
<div class="select-item" data-name="citizenship" data-value="Pakistan">Pakistan</div>
<div class="select-item" data-name="citizenship" data-value="Poland">Poland</div>
<div class="select-item" data-name="citizenship" data-value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</div>
<div class="select-item" data-name="citizenship" data-value="Pitcairn">Pitcairn</div>
<div class="select-item" data-name="citizenship" data-value="Puerto Rico">Puerto Rico</div>
<div class="select-item" data-name="citizenship" data-value="Portugal">Portugal</div>
<div class="select-item" data-name="citizenship" data-value="Palau">Palau</div>
<div class="select-item" data-name="citizenship" data-value="Paraguay">Paraguay</div>
<div class="select-item" data-name="citizenship" data-value="Qatar">Qatar</div>
<div class="select-item" data-name="citizenship" data-value="Reunion">Reunion</div>
<div class="select-item" data-name="citizenship" data-value="Romania">Romania</div>
<div class="select-item" data-name="citizenship" data-value="Russian Federation">Russian Federation</div>
<div class="select-item" data-name="citizenship" data-value="Rwanda">Rwanda</div>
<div class="select-item" data-name="citizenship" data-value="Saudi Arabia">Saudi Arabia</div>
<div class="select-item" data-name="citizenship" data-value="Solomon Islands">Solomon Islands</div>
<div class="select-item" data-name="citizenship" data-value="Seychelles">Seychelles</div>
<div class="select-item" data-name="citizenship" data-value="Sudan">Sudan</div>
<div class="select-item" data-name="citizenship" data-value="Sweden">Sweden</div>
<div class="select-item" data-name="citizenship" data-value="Singapore">Singapore</div>
<div class="select-item" data-name="citizenship" data-value="Saint Helena">Saint Helena</div>
<div class="select-item" data-name="citizenship" data-value="Slovenia">Slovenia</div>
<div class="select-item" data-name="citizenship" data-value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</div>
<div class="select-item" data-name="citizenship" data-value="Slovakia">Slovakia</div>
<div class="select-item" data-name="citizenship" data-value="Sierra Leone">Sierra Leone</div>
<div class="select-item" data-name="citizenship" data-value="San Marino">San Marino</div>
<div class="select-item" data-name="citizenship" data-value="Senegal">Senegal</div>
<div class="select-item" data-name="citizenship" data-value="Somalia">Somalia</div>
<div class="select-item" data-name="citizenship" data-value="Suriname">Suriname</div>
<div class="select-item" data-name="citizenship" data-value="Sao Tome and Principe">Sao Tome and Principe</div>
<div class="select-item" data-name="citizenship" data-value="El Salvador">El Salvador</div>
<div class="select-item" data-name="citizenship" data-value="Syria">Syria</div>
<div class="select-item" data-name="citizenship" data-value="Swaziland">Swaziland</div>
<div class="select-item" data-name="citizenship" data-value="Turks and Caicos Islands">Turks and Caicos Islands</div>
<div class="select-item" data-name="citizenship" data-value="Chad">Chad</div>
<div class="select-item" data-name="citizenship" data-value="French Southern Territories">French Southern Territories</div>
<div class="select-item" data-name="citizenship" data-value="Togo">Togo</div>
<div class="select-item" data-name="citizenship" data-value="Thailand">Thailand</div>
<div class="select-item" data-name="citizenship" data-value="Tajikistan">Tajikistan</div>
<div class="select-item" data-name="citizenship" data-value="Tokelau">Tokelau</div>
<div class="select-item" data-name="citizenship" data-value="Turkmenistan">Turkmenistan</div>
<div class="select-item" data-name="citizenship" data-value="Tunisia">Tunisia</div>
<div class="select-item" data-name="citizenship" data-value="Tonga">Tonga</div>
<div class="select-item" data-name="citizenship" data-value="Turkey">Turkey</div>
<div class="select-item" data-name="citizenship" data-value="Trinidad and Tobago">Trinidad and Tobago</div>
<div class="select-item" data-name="citizenship" data-value="Tuvalu">Tuvalu</div>
<div class="select-item" data-name="citizenship" data-value="Taiwan">Taiwan</div>
<div class="select-item" data-name="citizenship" data-value="Tanzania">Tanzania</div>
<div class="select-item" data-name="citizenship" data-value="Ukraine">Ukraine</div>
<div class="select-item" data-name="citizenship" data-value="Uganda">Uganda</div>
<div class="select-item" data-name="citizenship" data-value="United States Minor Outlying Islands">United States Minor Outlying Islands</div>
<div class="select-item" data-name="citizenship" data-value="Uruguay">Uruguay</div>
<div class="select-item" data-name="citizenship" data-value="Uzbekistan">Uzbekistan</div>
<div class="select-item" data-name="citizenship" data-value="Vatican City State">Vatican City State</div>
<div class="select-item" data-name="citizenship" data-value="Saint Vincent &amp; the Grenadines">Saint Vincent &amp; the Grenadines</div>
<div class="select-item" data-name="citizenship" data-value="Venezuela">Venezuela</div>
<div class="select-item" data-name="citizenship" data-value="Virgin Islands (British)">Virgin Islands (British)</div>
<div class="select-item" data-name="citizenship" data-value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</div>
<div class="select-item" data-name="citizenship" data-value="Viet Nam">Viet Nam</div>
<div class="select-item" data-name="citizenship" data-value="Vanuatu">Vanuatu</div>
<div class="select-item" data-name="citizenship" data-value="Wallis and Futuna Islands">Wallis and Futuna Islands</div>
<div class="select-item" data-name="citizenship" data-value="Western Samoa">Western Samoa</div>
<div class="select-item" data-name="citizenship" data-value="Yemen">Yemen</div>
<div class="select-item" data-name="citizenship" data-value="Mayotte">Mayotte</div>
<div class="select-item" data-name="citizenship" data-value="Yugoslavia">Yugoslavia</div>
<div class="select-item" data-name="citizenship" data-value="South Africa">South Africa</div>
<div class="select-item" data-name="citizenship" data-value="Zambia">Zambia</div>
<div class="select-item" data-name="citizenship" data-value="Zimbabwe">Zimbabwe</div>