<div id="assignCategory" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Question Category</h3>
            <div onclick="closePopup('assignCategory'), showAssignedCategory()" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <div class="edit-user-input">
                <label class="edit-user-label" for="assignCategoryName">Category</label>
                <div id="assigningCategories">
                    <div class="right-column-file-wrapper">
                        <div id="userDropdown101" class="category-dropdown course-content-input">
                            <input type="text" id="assignCategoryName" name="assignCategoryName" class="categorySearch" placeholder="Search categories..." autocomplete="off">
                            <i class="fa-regular fa-magnifying-glass search-icon"></i>
                            <div class="categoryList scrollable-content-inner">
                                <div class="loadingIndicator" style="display:none;">Loading...</div>
                            </div>
                            <div class="dropdown-clear-input">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('assignCategory'), showAssignedCategory()" class="popup-btn close-popup-btn">Back</button>
                <!-- <button class="popup-btn disabled" id="assignCategoryButton" disabled>Assign Category</button> -->
            </div>
        </div>
    </div>
</div>