<div id="lessonCreationPopup" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Create New Lesson</h3>
            <span class="selected-lesson-type pastel-orange">File</span>
            <button onclick="closeCreateLessonPopup('lessonCreationPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="popup-body">
            <!-- Add your form or content for creating a lesson here -->
            <div class="course-content-input">
                <label class="edit-user-label" for="lessonTitle">Lesson Title</label>
                <input type="text" id="lessonTitle" name="lessonTitle" placeholder="Lesson Title (Required)">
            </div>
            <div class="course-content-input padding-top-2 padding-bottom-1">
                <label class="edit-user-label" for="lessonDescription">Lesson Description</label>
                <div class="editor-container" id="lessonDescription"></div>
            </div>
            <div class="choose-file-wrapper">
                <h5 class="popup-content-header">Choose File <span class="file-required-text">(Required)</span></h5>
                <div onclick="openFileLibrary()" for="lessonFile" class="custom-file-upload-container">
                    <div class="custom-file-upload">
                        <input type="file" id="lessonFile" name="file" style="display: none;" readonly>
                        <i class="fa-regular fa-folder-open"></i> Choose File
                    </div>
                    <div class="custom-file-title">
                        <span id="lessonFileDisplay" class="file-name-display">No file selected</span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="fileURLInput" name="fileURL">
            <div class="loading-symbol-blue-sm">
                <svg class="loading-symbol-sm-inner" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
                <span>Uploading Lesson File, please wait...</span>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button onclick="closeCreateLessonPopup('lessonCreationPopup')" class="popup-btn close-popup-btn">Back</button>
                <button id="createFileLessonBtn" onclick="createLesson('file')" class="popup-btn disabled" disabled>Create Lesson</button>   
            </div>
        </div>
    </div>
</div>