<div id="editLesson" class="popup-background">
    <div class="popup-content max-width-5">
        <div class="popup-header">
            <h3>Edit Lesson</h3>
            <span id="editLessonType" class="selected-lesson-type">File</span>
            <button onclick="closePopup('editLesson')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="popup-body scrollable-content">
            <div class="course-content-input">
                <label class="edit-user-label" for="editLessonTitle">Lesson Title<span class="required-asterisk">*</span></label>
                <input type="text" id="editLessonTitle" name="editLessonTitle" placeholder="Lesson Title" maxlength="200">
            </div>
            <div class="course-content-input padding-top-2 padding-bottom-1">
                <label class="edit-user-label" for="editLessonDescription">Lesson Description</label>
                <div class="editor-container" id="editLessonDescription"></div>
                <div class="quill-character-counter">
                    <div class="quill-current-counter">0</div>
                    <span>/</span>
                    <div class="quill-max-counter">2000</div>
                </div>
            </div>
            <div class="choose-file-wrapper">
                <label class="edit-user-label" for="editFileUploadSection">Choose File<span class="required-asterisk">*</span></label>
                <div id="editFileUploadSection">
                    <!-- <div id="lessonFileUploadBtn" for="lessonFile" class="custom-file-upload-container">
                        <div class="custom-file-upload">
                            <input type="file" id="lessonFile" name="file" style="display: none;" readonly>
                            <i class="fa-solid fa-arrow-up-from-bracket"></i> Choose File
                        </div>
                        <div class="custom-file-title">
                            <span id="editLessonFileDisplay" class="file-name-display">No file selected</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <input type="hidden" id="editFileURLInput" name="fileURL">
            <div class="loading-symbol-blue-sm">
                <svg class="loading-symbol-sm-inner" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
                <span>Uploading Lesson File, please wait...</span>
            </div>
            <div class="file-upload-finished">
                <i class="fa-regular fa-circle-check fa-bounce"></i>
                <span>File uploaded successfully</span>
            </div>
            <!-- Assignments Toggle -->
            <div class="course-content-input padding-top-1">
                <label class="edit-user-label" for="editLessonAssignmentsToggle">Attach Assignments</label>
                <label class="toggle-switch">
                    <input class="toggle-option" type="checkbox" id="editLessonAssignmentsToggle" name="editLessonAssignmentsToggle">
                    <div class="toggle-switch-background">
                      <div class="toggle-switch-handle"></div>
                    </div>
                </label>
                <span class="course-content-input-subtext"> Select from the list of existing course assignments to be completed with this lesson. Attached assignments will be removed from the course assignments and added to this lesson.</span>
            </div>
            <!-- Lesson Assignments -->
            <div class="toggle-option-details margin-top-5 margin-bottom-5">
                <div id="selectedAssignments">
                    <div class="right-column-file-wrapper">
                        <div id="assignmentDropdown4" class="assignment-dropdown course-content-input">
                            <input type="text" class="assignmentSearch" placeholder="Search assignments...">
                            <i class="fa-regular fa-magnifying-glass search-icon"></i>
                            <div class="assignmentList scrollable-content-inner">
                                <div class="loadingIndicator" style="display:none;">Loading...</div>
                            </div>
                            
                            <div class="selectedAssignments"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('editLesson')" class="popup-btn close-popup-btn">Back</button>
                <button id="editLessonBtn" class="popup-btn">Save Lesson</button>   
            </div>
        </div>
    </div>
</div>