<div id="editUploadInstructions" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Edit Upload Instructions</h3>
            <div onclick="closePopup('editUploadInstructions')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <div class="course-content-input">
                <label class="edit-user-label" for="uploadInstructions">Upload Instructions</label>
                <div class="editor-container" id="uploadInstructions">{{ course.upload_instructions|safe }}</div>
            </div>
            <span class="course-content-input-subtext"> Provide Instructions for course uploads that Learners can review.</span>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button onclick="closePopup('editUploadInstructions')" class="popup-btn close-popup-btn">Back</button>
                <button onclick="closePopup('editUploadInstructions')" class="popup-btn">Save Changes</button>   
            </div>
        </div>
    </div>
</div>