<div id="editQuestionRubric" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Question Rubric</h3>
            <div onclick="closePopup('editQuestionRubric')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <div class="course-content-input">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label class="edit-user-label" for="questionRubric">Rubric</label>
                    <div class="quill-character-counter">
                        <div class="quill-current-counter">0</div>
                        <span>/</span>
                        <div class="quill-max-counter">5000</div>
                    </div>
                </div>
                <div class="editor-container" id="questionRubric"></div>
            </div>
            <span class="course-content-input-subtext"> Provide a rubric that will be viewed when grading this question. This rubric will not be visible to Learners. If AI Grading is enabled for this quiz, this rubric will be utilized for AI grading. </span>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('editQuestionRubric')" class="popup-btn close-popup-btn">Back</button>
                <!-- <button onclick="closePopup('editQuestionRubric')" class="popup-btn">Save Changes</button>    -->
            </div>
        </div>
    </div>
</div>