<div id="fileRename" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3 id="newFileNameHeading">Rename File</h3>
            <button type="button" onclick="closePopup('fileRename')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="popup-body">          
            <div class="course-content-input">
                <label id="newFileNameLabel" class="edit-user-label" for="newFileName">File Name</label>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <input type="text" id="newFileName" name="newFileName" placeholder="File Name">
                    <span id="fileExtensionDisplay" class="custom-file-extension "></span>                 
                </div>                
            </div>
            <div id="fileRenameLoadingSymbol" class="loading-symbol-blue-sm" style="padding-top: 1rem;">
                <svg class="loading-symbol-sm-inner" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
                <span>Renaming File, please wait...</span>
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('fileRename')" class="popup-btn close-popup-btn">Cancel</button>
                <button id="fileLibraryRenameBtn" type="button" class="popup-btn">Save</button>
            </div>
        </div>
    </div>
</div>