{% load static %}
<div data-next-page="{{ next_page|default:1 }}" id="fileLibrary" class="popup-background">
    <div class="popup-content max-width-extend-1">
        <div class="popup-header file-library-header">
            <h3>File Library</h3>
            <div class="library-search-input">
                <i class="fa-regular fa-magnifying-glass search-icon"></i>
                <input type="text" id="librarySearch" name="librarySearch" placeholder="Search Files">
            </div>
            <div id="closeFileLibrary" onclick="closeFileLibrary()" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="file-library-body">
            <!-- Message Wrapper -->
            <div id="upload-message-container" class="alert-container" style="display: none;">   
                <div id="upload-message-inner">
                    <i class="fa-solid fa-circle-check"></i>
                    <span id="upload-message"></span>
                </div>
            </div>
            <div class="file-library-filters">
                <span>File Type</span>
                <div class="library-filter-options">
                    <label class="container"><input type="checkbox" class="filter" data-type="image"><div class="checkmark"></div> <span>Image</span></label>
                    <label class="container"><input type="checkbox" class="filter" data-type="document"><div class="checkmark"></div> <span>Document</span></label>
                    <label class="container"><input type="checkbox" class="filter" data-type="video"><div class="checkmark"></div> <span>Video</span></label>
                    <label class="container"><input type="checkbox" class="filter" data-type="audio"><div class="checkmark"></div> <span>Audio</span></label>
                    <label class="container"><input type="checkbox" class="filter" data-type="other"><div class="checkmark"></div> <span>Other</span></label>
                </div>                
            </div>
            <div class="popup-body">
                <div class="file-library-top-row">
                    <h3>Uploads</h3>
                    <div onclick="openFileUpload()" class="action-button-primary">
                        <i class="fa-regular fa-upload"></i>
                        <span>Upload</span>
                    </div>
                </div>
                <table>
                    <thead>      
                        <tr>
                            <th></th>
                            <th>File Name</th>
                            <th style="width: 12%;">Type</th>
                            <th>Date Uploaded</th>
                        </tr>
                    </thead>
                    <tbody id="fileList">
                        
                    </tbody> 
                </table>
                <div id="sentinel"></div> <!-- Sentinel for infinite scrolling -->
            </div>
        </div>
        
        <div class="file-library-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button id="closeFileLibraryBtn" onclick="closeFileLibrary()" class="popup-btn close-library-btn">Cancel</button>
                <button id="selectFileBtn" onclick="selectFile()" class="popup-btn disabled" disabled>Select File</button>   
            </div>
        </div>
    </div>
</div>
{% include 'popups/file_upload.html' %}
<link rel="stylesheet" href="{% static 'content\css\file_library.css' %}">
<script src="{% static 'content\javascript\file_library.js' %}"></script>