<div id="lessonSelectionPopup" class="popup-background">
    <div class="popup-content max-width-5">
        <div class="popup-header">
            <h3>Select Lesson Type</h3>
            <div onclick="closePopup('lessonSelectionPopup')" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="popup-body">
            <div class="lesson-selection-container padding-bottom-1">
                <label id="lessonCreationPopup" class="lesson-selection-item orange" for="lesson-selection-1">
                    <input id="lesson-selection-1" type="radio" name="lesson-selection" hidden checked></input>
                    <div class="lesson-selection-icon pastel-orange">
                        <i class="fa-light fa-photo-film"></i>
                    </div>
                    <h4>File</h4>
                    <Span>Upload a PDF or other files</Span>
                </label>
                <label id="scorm1.2Popup" class="lesson-selection-item purple" for="lesson-selection-2">
                    <input id="lesson-selection-2" type="radio" name="lesson-selection" hidden></input>
                    <div class="lesson-selection-icon pastel-purple">
                        <i class="fa-light fa-file-zipper"></i>
                    </div>
                    <h4>SCORM 1.2</h4>
                    <Span>Import a Scorm 1.2 Zip file</Span>
                </label>
                <label id="scorm2004Popup" class="lesson-selection-item blue" for="lesson-selection-3">
                    <input id="lesson-selection-3" type="radio" name="lesson-selection" hidden></input>
                    <div class="lesson-selection-icon pastel-blue">
                        <i class="fa-light fa-file-zipper"></i>
                    </div>
                    <h4>SCORM 2004</h4>
                    <Span>Import a Scorm 2004 Zip file</Span>
                </label>      
            </div>
            <div class="lesson-selection-container padding-top-0">
                <label id="quizPopup" class="lesson-selection-item green" for="lesson-selection-4">
                    <input id="lesson-selection-4" type="radio" name="lesson-selection" hidden></input>
                    <div class="lesson-selection-icon pastel-green">
                        <i class="fa-light fa-lightbulb"></i>
                    </div>
                    <h4>Quiz</h4>
                    <Span>Attach an existing quiz or Quiz Template</Span>
                </label>      
            </div>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('lessonSelectionPopup')" class="popup-btn close-popup-btn">Cancel</button>
                <!-- Setting the onlick attribute through JS depending on what option is chosen -->
                <button onclick="openPopup('lessonCreationPopup', 'selectType', this)" id="selectLessonType" class="popup-btn">Select Type</button>   
            </div>
        </div>
    </div>
</div>