{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <div class="admin-body align-center">
        <div class="max-width-extend-1">
            <div class="details-top-row">
                <div class="details-top-row-left">
                    <a href="/admin/courses/" class="back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <h3> Create Online Course </h3>
                </div>
                <div class="details-top-row-right">
                    <div class="option-btn-row">
                        <div class="option-btn">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span> View History </span>
                        </div>
                    </div>
                    <div class="option-btn">
                        <i class="fa-regular fa-floppy-disk"></i>
                        <span> Save </span>
                    </div>
                    <a href="{% url 'add_online_courses' %}" class="action-button-primary">
                        <i class="fa-regular fa-paper-plane"></i>
                        <span>Publish</span>
                    </a>
                </div>
            </div>
            <!-- Beginning of option sections -->
            <div class="course-content-container">
                <!-- Left Column -->
                <div class="course-content-left-column">
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-house"></i>
                                <span> General </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="course-content-input">
                                <label class="edit-user-label" for="title">Course Title</label>
                                <input type="text" id="title" name="title" placeholder="Course Title">
                            </div>
                            <div class="course-content-input">
                                <label class="edit-user-label" for="description">Course Description</label>
                                <div id="editor-container"></div>
                            </div>
                            <div class="course-content-input course-content-row">
                                <div class="edit-user-input">
                                    <label class="edit-user-label" for="status">Status</label>
                                    <div class="custom-select margin-0">
                                        <i class="fa-regular fa-angle-down"></i>     
                                        <input class="select-selected" type="text" id="status" name="status" value="Inactive" readonly="">
                                        <div class="select-items scrollable-content" style="display: none;">
                                            <div class="select-item" data-name="status" data-value="Active">Active</div>
                                            <div class="select-item" data-name="status" data-value="Inactive">Inactive</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-user-input">
                                    <label class="edit-user-label" for="status">Category</label>
                                    <div class="custom-select margin-0">
                                        <i class="fa-regular fa-angle-down"></i>     
                                        <input class="select-selected" type="text" id="status" name="status" value="Inactive" readonly="">
                                        <div class="select-items scrollable-content" style="display: none;">
                                            <div class="select-item" data-name="status" data-value="Active">Active</div>
                                            <div class="select-item" data-name="status" data-value="Inactive">Inactive</div>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="course-content-right-column">
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-gears"></i>
                                <span> Additional Settings </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="info-card-column">
                                <div class="card-body-item">
                                    <div class="card-body-left">
                                        <i class="fa-light fa-award"></i>
                                    </div>
                                    <div class="card-body-right">
                                        <h5> Enrollments in Progress</h5>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'client_admin\javascript\user_details.js' %}"></script>
    <link rel="stylesheet" href="{% static 'content\css\content.css' %}">
    <link rel="stylesheet" href="{% static 'client_admin\css\user_details.css' %}">
    <script src="{% static 'client_admin\javascript\custom_select.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'content\javascript\content.js' %}"></script>
{% endblock content %}