{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <div id="stickyNavBar" style="display: none;">
        <div class="details-top-row max-width-extend-1">
            <div class="details-top-row-left">
                <a href="/admin/courses/" class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <h3> Create Online Course </h3>
            </div>
            <div class="details-top-row-right">
                <div class="option-btn-row">
                    <div class="option-btn">
                        <i class="fa-regular fa-clock-rotate-left"></i>
                        <span> View History </span>
                    </div>
                </div>
                <div class="option-btn">
                    <i class="fa-regular fa-floppy-disk"></i>
                    <span> Save </span>
                </div>
                <div onclick="generateCourseData()" class="action-button-primary">
                    <i class="fa-regular fa-paper-plane"></i>
                    <span>Publish</span>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-body align-center">
        <div class="max-width-extend-1">
            <div id="mainNavBar" class="details-top-row">
                <div class="details-top-row-left">
                    <a href="/admin/courses/" class="back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <h3> Create Online Course </h3>
                </div>
                <div class="details-top-row-right">
                    <div class="option-btn-row">
                        <div class="option-btn">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span> View History </span>
                        </div>
                    </div>
                    <div class="option-btn">
                        <i class="fa-regular fa-floppy-disk"></i>
                        <span> Save </span>
                    </div>
                    <div onclick="generateCourseData()" class="action-button-primary">
                        <i class="fa-regular fa-paper-plane"></i>
                        <span>Publish</span>
                    </div>
                </div>
            </div>
            <!-- Beginning of option sections -->
            <div class="course-content-container">
                <!-- Left Column -->
                <div class="course-content-left-column">
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-house"></i>
                                <span> General </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="course-content-input">
                                <label class="edit-user-label" for="title">Course Title</label>
                                <input type="text" id="title" name="title" placeholder="Course Title (Required)">
                            </div>
                            <div class="course-content-input">
                                <label class="edit-user-label" for="description">Course Description</label>
                                <div class="editor-container" id="courseDescription"></div>
                            </div>
                            <div class="course-content-input course-content-row">
                                <div class="edit-user-input">
                                    <label class="edit-user-label" for="status">Status</label>
                                    <div class="custom-select margin-0">
                                        <i class="fa-regular fa-angle-down"></i>     
                                        <input class="select-selected" type="text" id="status" name="status" value="Inactive" readonly="">
                                        <div class="select-items scrollable-content" style="display: none;">
                                            <div class="select-item" data-name="status" data-value="Active">Active</div>
                                            <div class="select-item" data-name="status" data-value="Inactive">Inactive</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-user-input">
                                    <label class="edit-user-label" for="category">Category</label>
                                    <div class="custom-select margin-0">
                                        <i class="fa-regular fa-angle-down"></i>     
                                        <input class="select-selected" type="text" id="category" name="category" value="" readonly="" placeholder="Select a category">
                                        <div class="select-items scrollable-content" style="display: none;">
                                            {% for category in category_list %}
                                                <div class="select-item" data-id="{{ category.id }}" data-name="category" data-value="{{ category }}">{{ category }}</div>                                         
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <!-- Syllabus -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-newspaper"></i>
                                <span> Syllabus </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="course-content-input">
                                <label class="edit-user-label">Must Complete</label>
                                <div class="content-input-options-row">
                                    <label class="custom-radio">
                                        <input type="radio" name="must_complete" value="must_complete1" checked>
                                        <span class="custom-radio-button"></span>
                                        All lessons, in any order
                                    </label>
                                    <label class="custom-radio">
                                        <input type="radio" name="must_complete" value="must_complete2">
                                        <span class="custom-radio-button"></span>
                                        All lessons, in order by chapter
                                    </label>
                                </div>  
                            </div>
                            <div class="course-content-input">
                                <label class="edit-user-label" for="terms">Terms & Conditions</label>
                                <label class="toggle-switch">
                                    <input type="checkbox" id="terms" name="terms">
                                    <div class="toggle-switch-background">
                                      <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                                <span class="course-content-input-subtext"> Learners must accept Terms & Conditions to gain access to the course.</span>
                            </div>     
                        </div>
                    </div>
                    <!-- Course Content -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-book-open-cover"></i>
                                <span> Course Content </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <!-- List of current Modules -->
                            <div class="course-module-container">
                                <!-- Individual Module -->
                                <div id="moduleContainer" class="module-container">
                                    
                                </div>

                                <div id="noModulesCreated">
                                    <img class="course-graphic" src="{% static 'client_admin\Images\HALO LMS No Graphic Test-27.png' %}" alt="HALO Graphic">   
                                    <h4>No Modules created</h4>
                                    <span>Add a module to your course content to start creating your masterpiece</span>
                                </div>
                            </div>    
                            <div id="addModule" class="main-add-btn">
                                <i class="fa-regular fa-plus"></i>
                                <span> Add Module </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="course-content-right-column">
                    <!-- Credentials -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <!-- <i class="fa-regular fa-book-sparkles"></i> -->
                                <i class="fa-regular fa-ranking-star"></i>
                                <span> Credentials </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body right-column-card-body">
                            <div class="course-content-input">
                                <label class="edit-user-label" for="certificate">Certificate</label>
                                <label class="toggle-switch">
                                    <input class="toggle-option" type="checkbox" id="certificate" name="certificate">
                                    <div class="toggle-switch-background">
                                      <div class="toggle-switch-handle"></div>
                                    </div>
                                </label>
                                <span class="course-content-input-subtext"> Learners receive certificate upon course completion. </span>
                            </div>
                            <!-- Certificate -->
                            <div class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <h5 class="right-column-option-header">Certificate Source</h5>
                                    <div onclick="openFileLibrary('certificateSource')" for="certificateSource" class="custom-file-upload-container">
                                        <div class="custom-file-upload">
                                            <input type="file" id="certificateSource" name="certificateSource" style="display: none;" readonly="">
                                            <i class="fa-regular fa-folder-open"></i> Choose File
                                        </div>
                                        <div class="custom-file-title">
                                            <span id="certificateSourceDisplay" class="file-name-display">No file selected</span>
                                        </div>
                                        <!-- This is where the Certificate File Lives -->
                                        <input type="hidden" id="certificateURLInput" name="certificateURL">
                                    </div>
                                </div>
                                <div class="course-content-input">
                                    <label class="edit-user-label" for="certTitle">Certificate Title</label>
                                    <input type="text" id="certTitle" name="certTitle" placeholder="Certificate Title (Optional)">
                                </div>
                            </div>       
                        </div>
                    </div>
                    <!-- Course Credits (future) -->
                    <!-- Event Dates -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-alarm-clock"></i>
                                <span> Event Dates </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <!-- Start Date -->
                        <div class="info-card-body right-column-card-body">
                            <!-- Start Date -->
                            <div class="course-content-input">
                                <label class="edit-user-label">Start Date</label>
                                <div class="content-input-options-row">
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="start_date" value="start_date1" checked="">
                                        <span class="custom-radio-button"></span>
                                        None
                                    </label>
                                    <label class="custom-radio">
                                        <input class="show-option-details radio-option" data-target="startDateDetails" type="radio" name="start_date" value="start_date2">
                                        <span class="custom-radio-button"></span>
                                        Select Date
                                    </label>
                                </div>  
                            </div>
                            <div id="startDateDetails" class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <label class="edit-user-label" for="start_date">Start Date</label>
                                    <div class="date-options-container">
                                        <div class="edit-user-input">
                                            <input type="text" id="start_date" name="start_date" class="date-picker" placeholder="Select Date">
                                            <span class="input-group-addon">
                                                <i class="fa-regular fa-calendar-lines"></i>
                                            </span>
                                        </div>
                                        <div class="edit-user-input">
                                            <input type="text" id="start_date" name="start_date" class="time-picker" placeholder="Select Time (Optional)">
                                            <span class="input-group-addon">
                                                <i class="fa-regular fa-clock"></i>
                                            </span>
                                        </div>
                                    </div>   
                                </div>
                            </div>      
                            <!-- Expiration Date -->
                            <div class="course-content-input">
                                <label class="edit-user-label">Expiration Date</label>
                                <div class="content-input-options-row">
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="expiration_date" value="expiration_date1" checked="">
                                        <span class="custom-radio-button"></span>
                                        None
                                    </label>
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="expiration_date" data-target="timeFromEnrollmentDetails" value="expiration_date2">
                                        <span class="custom-radio-button"></span>
                                        Time From Enrollment
                                    </label>
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="expiration_date" data-target="selectDateDetails" value="expiration_date3">
                                        <span class="custom-radio-button"></span>
                                        Select Date
                                    </label>
                                </div>
                            </div>
                            <!-- Time From Enrollment -->
                            <div id="timeFromEnrollmentDetails" class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="expiration_date">Course Expires In</label>
                                        <div class="date-options-container">
                                            <div class="edit-user-input">
                                                <input type="text" id="expiration_year" name="expiration_year" class="icon-field" placeholder="Years">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="expiration_months" name="expiration_months" class="icon-field" placeholder="Months">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-week"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="expiration_days" name="expiration_days" class="icon-field" placeholder="Days">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-day"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Select Date -->
                            <div id="selectDateDetails" class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="expiration_date">Expires On</label>
                                        <div class="date-options-container">
                                            <div class="edit-user-input">
                                                <input type="text" id="expires_on_date" name="expires_on_date" class="date-picker" placeholder="Select Date">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-lines"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="expires_on_time" name="expires_on_time" class="time-picker" placeholder="Select Time (Optional)">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-clock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Due Date -->
                            <div class="course-content-input">
                                <label class="edit-user-label">Due Date</label>
                                <div class="content-input-options-row">
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="due_date" value="due_date1" checked="">
                                        <span class="custom-radio-button"></span>
                                        None
                                    </label>
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="due_date" data-target="timeFromEnrollmentDueDate" value="due_date2">
                                        <span class="custom-radio-button"></span>
                                        Time From Enrollment
                                    </label>
                                    <label class="custom-radio">
                                        <input class="radio-option" type="radio" name="due_date" data-target="selectDateDueDate" value="due_date3">
                                        <span class="custom-radio-button"></span>
                                        Select Date
                                    </label>
                                </div>
                            </div>
                            <!-- Time From Enrollment -->
                            <div id="timeFromEnrollmentDueDate" class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="due_date">Course Due In</label>
                                        <div class="date-options-container">
                                            <div class="edit-user-input">
                                                <input type="text" id="due_year" name="due_year" class="icon-field" placeholder="Years">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="due_months" name="due_months" class="icon-field" placeholder="Months">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-week"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="due_days" name="due_days" class="icon-field" placeholder="Days">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-day"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Select Date -->
                            <div id="selectDateDueDate" class="toggle-option-details">
                                <div class="right-column-file-wrapper">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="due_date">Due On</label>
                                        <div class="date-options-container">
                                            <div class="edit-user-input">
                                                <input type="text" id="due_on_date" name="due_on_date" class="date-picker" placeholder="Select Date">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-calendar-lines"></i>
                                                </span>
                                            </div>
                                            <div class="edit-user-input">
                                                <input type="text" id="due_on_time" name="due_on_time" class="time-picker" placeholder="Select Time (Optional)">
                                                <span class="input-group-addon">
                                                    <i class="fa-regular fa-clock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div>
                    </div>
                    <!-- Course Thumbnail -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-image"></i>
                                <span> Media </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <!-- Course Thumbnail -->
                        <div class="info-card-body right-column-card-body">         
                            <div class="course-thumbnail-wrapper">
                                <label class="edit-user-label" for="thumbnail">Course Thumbnail</label>
                                <div class="thumbnail-inner-thumbnail">
                                    <div class="dropzone" id="dropzone">
                                        <i class="fa-regular fa-panorama"></i>
                                        <p>Drag & drop an image here, or click to select one</p>
                                        <input type="file" id="fileInput" accept="image/*" style="display: none;">
                                        <!-- Thumbnail Display -->
                                        <div id="imagePreview" class="image-preview">
                                            <img alt="Course Thumbnail" id="ThumbnailImagePreview">
                                        </div>
                                    </div>
                                    <div style="display: none;" id="thumbnailDelete" class="table-filter-item-small thumbnail-delete">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <!-- Resources -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-cubes"></i>
                                <span> Resources </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="info-card-column">
                                <div class="card-body-item">
                                    <div class="card-body-left">
                                        <i class="fa-light fa-award"></i>
                                    </div>
                                    <div class="card-body-right">
                                        <h5> Enrollments in Progress</h5>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <!-- Uploads -->
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-cloud-arrow-up"></i>
                                <span> Uploads </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">
                            <div class="info-card-column">
                                <div class="card-body-item">
                                    <div class="card-body-left">
                                        <i class="fa-light fa-award"></i>
                                    </div>
                                    <div class="card-body-right">
                                        <h5> Enrollments in Progress</h5>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'popups/file_library.html' %}
    {% include 'popups/create_new_lesson.html' %}
    {% include 'popups/create_scorm1.2_lesson.html' %}
    {% include 'popups/create_scorm2004_lesson.html' %}
    {% include 'popups/module_delete_confirmation.html' %}
    {% include 'popups/lesson_delete_confirmation.html' %}
    {% include 'popups/edit_lesson.html' %}
    {% include 'popups/select_lesson_type.html' %}
    <script src="{% static 'client_admin\javascript\user_details.js' %}"></script>
    <link rel="stylesheet" href="{% static 'content\css\content.css' %}">
    <link rel="stylesheet" href="{% static 'client_admin\css\user_details.css' %}">
    <script src="{% static 'client_admin\javascript\custom_select.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
    <script src="{% static 'content\javascript\content.js' %}"></script>
{% endblock content %}