html{
    height: 100%;
}

html, body, button{
    font-family: var(--primary-font);
    letter-spacing: 0.02em;
}

.admin-body-container{
    margin: 0;
    background-color: var(--bg-color6);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Admin Header */
.admin-header-container{
    padding: var(--pad-sm) var(--pad-lg);
    background-color: #1a1a1a;
    /* background-color: #00183b; */
}

.admin-header-container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header-left{}

.admin-header-left .header-logo{
    max-width: 200px;
    max-height: 45px;
}

.admin-header-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.admin-header-icons{
    display: flex;
    gap: 0.8rem;
}

.admin-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pad-xxs);
    border-radius: 50%;
    /* background-color: var(--bg-color2); */
    outline: 1px solid #414141;
    color: white;
    width: 1rem;
    height: 1rem;
}

.admin-header-icon:hover{
    background-color: #d2d6db;
}

.admin-header-profile{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.admin-header-user-icon{
    display: flex;
    font-size: var(--fs-xxxl);
    color: blueviolet;
    padding: var(--pad-xs);
    border-radius: 50%;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}.admin-header-user-icon:hover{
    background-color: #333333;
}.admin-header-user-icon i{
    height: 32px;
    width: 32px;
}

.admin-header-name{
    margin: 0;
    color: white;
}

.admin-header-email{
    font-size: var(--fs-sm);
    /* color: var(--text-color3); */
    color: white;
}

/* Admin Sidebar */
.admin-sidebar-container{
    padding: var(--pad-sm);
    background-color: white;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}

.sidebar-body{
    /* margin-top: 1rem; */
}

.admin-body{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-color6);
    /* border-top-left-radius: 24px; */
    padding: var(--pad-xxxl);
    border-top: 1px solid #ececf1;
    border-left: 1px solid #ececf1;
    height: calc(100vh - 74.36px);
    /* Make sure the body height fills the viewport */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
}

.sidebar-body h6{
    font-size: 0.75rem;
    margin: 0;
}

.sidebar-body-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #858b8f;
    padding: var(--pad-xs) var(--pad-med);
    margin-left: var(--margin-xxl);
    margin-right: 1rem;
    border-left: 2px solid var(--bg-color2);
    /* border-radius: 0px 6px 6px 0; */
    cursor: pointer;
    transition: all 0.2s linear;
    text-decoration: none;
    font-size: var(--fs-med);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.sidebar-body-item:hover{
    /* background-color: #eceff4; */
    /* background-color: #f7f7f7; */
    color: #191c1f;
    border-color: #191c1f;
}

.sidebar-body-item.active{
    background-color: #efefef;
}

.last-item{
    margin-bottom: 1rem;
}

.sidebar-body-item p{
    margin: 0;
    font-size: var(--fs-sm);
    text-wrap: nowrap;
}

.sidebar-body-item i{
    /* font-weight: 900; */
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible-header.active + .collapsible-content {
    max-height: 0; /* Adjust to a value that fits the content */
}

.collapsible-header.active .fa-angle-right{
    transform: rotate(90deg);
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: var(--pad-xs) var(--pad-med);
    border-radius: 8px;
    text-decoration: none;
    /* color: var(--text-color4); */
    color: #858b8f;
    position: relative;
    transition: all 0.2s linear;
}

.collapsible-header:hover{
    background-color: #efefef;
    color: #191c1f;
}

.collapsible-header.active + .collapsible-content {
    display: block;
}

.collapsible-header div{
    display: flex;
    align-items: center;
}

.icon-inner-header{
    gap: 1rem;
}

.collapsible-header .icon-inner-header i{
    width: 1rem;
    font-size: 1.2rem;
    /* font-weight: 900; */
}

.collapsible-header i{
    transition: all 0.3s linear;
    font-size: 0.7rem;
}

.sidebar-body-item.last-item {
    border-bottom: none;
}

.collapsible-header.current-page::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 65%;
    width: 3px;
    background-color: #191c1f;
    border-radius: 16px;
    clip-path: inset(0% 0% 0% 0% round 0 0 4px 4px);
}

.collapsible-header.current-page, .sidebar-body-item.current-page, .collapsible-header.highlight{
    background-color: #efefef;
    color: #191c1f;
}

.collapsible-header.current-page i, .sidebar-body-item.current-page, .collapsible-header.highlight i{
    font-weight: 900;
}

/* .collapsible-header.current-page:hover, .sidebar-body-item.current-page:hover{
    background-color: var(--accent-blue);
} */

.sidebar-body-item.current-page{
    border-color: #191c1f;
    background-color: transparent;
    font-weight: 600;
}

.sidebar-body-item.current-page i{
    font-weight: 900;
}

/* Admin Inner */
.admin-body-container-inner{
    display: flex;
    flex: 1;
}

/* Top Row Title and action buttons */
.admin-top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--pad-lg);
    flex-wrap: wrap;
    gap: 0.5rem;
}

.admin-top-row-left h2{
    color: var(--text-color5);
    margin: 0;
}

.admin-top-row-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.action-button-primary, .action-button-secondary{
    display: flex;
    gap: 0.5rem;
    padding: 5px var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s linear;
    border: none;
    align-items: baseline;
}

.action-button-primary{
    background-color: var(--primary-blue);
    color: white;
    gap: 0.5rem;
}

.action-button-primary:hover{
    background-color: dodgerblue;
}

.action-button-secondary{
    background-color: var(--bg-color4);
    color: var(--text-color5);
}

.action-button-secondary:hover{
    background-color: var(--bg-color1);
}

/* Admin Management Tabel */
.table-container{
    background-color: white;
    border-radius: 8px;
    outline: 1px solid #d7d7d7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.table-filter-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--pad-xs);
    align-items: center;
    gap: 1rem;
}

.table-filter-section-left, .table-filter-section-right{
    display: flex;
    gap: 1rem;
    position: relative;
}

.table-filter-item{
    display: flex;
    padding: var(--pad-xxs) var(--pad-sm);
    border-radius: 6px;
    font-size: var(--fs-sm);
    font-weight: 600;
    cursor: pointer;
    background-color: var(--bg-color6);
    color: gray;
}

.table-filter-item:hover{
    background-color: var(--bg-color3);
}

.table-filter-item-small{
    display: flex;
    padding: var(--pad-xxs);
    border-radius: 8px;
    font-size: var(--fs-med);
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.table-filter-item-small:hover{
    background-color: var(--bg-color3);
}

.table-filter-item-small:active{
    box-shadow: inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.table-active-filters{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.table-active-filters .filter{
    display: flex;
    color: white;
    font-size: 0.85rem;
    align-items: center;
}

.edit-filter{
    background-color: #17a34a;
    padding: var(--pad-xxxs) var(--pad-xs);
    border-radius: 10px 0 0 10px;
    align-self: stretch;
    cursor: pointer;
}

.edit-filter:hover{
    background-color: #0e692f;
}

.remove-filter{
    background-color: #17a34a;
    padding: var(--pad-xxxs) var(--pad-xs);
    border-radius: 0 10px 10px 0;
    font-size: var(--fs-sm);
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.remove-filter:hover{
    background-color: #0e692f;
}

.search-table-option{
    position: relative;
    display: flex;
    width: 100%;
}

.search-table-option .search-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 0.8rem;
}

.search-table-option input[type="text"]{
    /* background-color: var(--bg-color6); */
    padding: var(--pad-xxs) var(--pad-xxs);
    padding-left: var(--pad-xxl);
    border-radius: 8px;
    border-color: white;
    border-style: none;
    color: #41454d;
    width: 100%;
}

.search-table-option input[type="text"]:hover{
    background-color: var(--bg-color3);
}

.search-table-option input[type="text"]:focus-visible{
    outline-color: var(--primary-blue);
}

.search-all-users-btn{
    display: flex;
    padding: var(--pad-xxs);
    border-radius: 8px;
    font-size: var(--fs-med);
    border: 0;
    cursor: pointer;
    background-color: var(--primary-blue);
    position: absolute;
    right: 0;
}

.search-all-users-btn:hover{
    background-color: dodgerblue;
}

.search-all-users-btn i{
    color: white;
}

#activeFilters{
    visibility: hidden;
    border-top: 1px solid #dddddd;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#activeFilters.show-table-menu{
    visibility: visible;
    border-top: 1px solid #dddddd;
    max-height: 100px;
    padding: var(--pad-xs);
}

.selected-options-count{
    font-size: var(--btn-font);
    gap: 0.25rem;
    align-items: center;
}

#selectedOptionsCount{
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border-top: 1px solid #ececf1;
    border-bottom: 1px solid #ececf1;
    text-align: left;
    padding: 8px;
    font-size: var(--fs-sm);
}
th {
    background-color: #f2f2f2;
    color: gray;
    cursor: auto;
}
td:first-child, th:first-child{
    padding: var(--pad-xs);
}
td .status{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
tr:hover{
    cursor: pointer;
    background-color: var(--bg-color3);
}
tr:last-child{
    border-radius: 8px;
}

tr.selected-option{
    background-color: var(--item-selected-blue);
}

tr.selected-option th, tr.selected-option td{
    border-color: #ffffff;
}

.table-select-option:hover .checkmark{
    border-color: var(--primary-blue);
}

/* No Results Image */
.no-results-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: var(--pad-xxxl);
}

.no-results-found img{
    max-width: 170px;
}

.no-results-found-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d7d7d7;
    padding: var(--pad-xxxl);
    flex: 1;
}.no-results-found-small img{
    max-width: 110px;
}.no-results-found-small span{
    color: #41454d;
    /* font-weight: 500; */
    font-size: 0.9rem;
}

/* Custom Checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    width: 1rem;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: white;
    border: 2px solid #ccc;
    transition: all 0.3s;
    border-radius: 6px;
}

.checkmark:hover{
    border: -webkit-focus-ring-color auto 1px;
    border-color: var(--primary-blue);
}

.container input:checked ~ .checkmark {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
    animation: pop 0.5s;
    animation-direction: alternate;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.25em;
    top: 0.15em;
    width: 0.15em;
    height: 0.35em;
    border: solid white;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg);
}

@keyframes pop {
    0% {
     transform: scale(1);
    }

    50% {
     transform: scale(0.9);
    }

    100% {
     transform: scale(1);
    }
}

/* Options Sidebar */
.options-sidebar-container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-left: 1px solid #ececf1;
    width: 15rem;
    margin-right: -15rem;
    transition: all 0.4s ease-out;
    height: calc(100vh - 74.59px);
    box-sizing: border-box;
    overflow-y: hidden;
}

.show-options-sidebar{
    margin-right: 0rem !important;
}

.options-sidebar-header{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    padding: var(--pad-sm);
    border-bottom: 1px solid #dddddd;
}

.options-sidebar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg);
    border-radius: 8px;
    height: 2.5rem;
    width: 2.5rem;
    flex: none;
}

.options-sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-sidebar-title h6{
    font-size: var(--btn-font);
    color: var(--text-color5);
    font-weight: 600;
    margin: 0;
}

.options-sidebar-title span{
    font-size: var(--fs-sm);
    color: var(--text-color3);
}

.options-sidebar-body{
    display: flex;
    flex-direction: column;
    padding: var(--pad-sm);
    gap: 0.3rem;
}

.options-sidebar-item{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    padding: var(--pad-xxs) var(--pad-sm);
    /* color: #6b6b6b; */
    color: var(--text-color4);
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s linear;
    border: 1px solid #ececf1;
}

.options-sidebar-item:hover{
    color: #41454d;
    background-color: #efefef;
}

.options-sidebar-item i{
    font-size: var(--sidebar-icon);
    width: 1.6rem;
}

.options-sidebar-item:hover i{
    color: #41454d;
}

.options-sidebar-item span{
    font-size: var(--btn-font);
}

/* Pagination */
.pagination-row-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.pagination{
    display: flex;
    gap: 0.2rem;
}

.pagination .pagination-link{
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--btn-font);
    color: var(--text-color8);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.pagination .pagination-link:hover {
    background-color: var(--bg-color3);
}

.pagination .pagination-link.current{
    color: white;
    background-color: var(--primary-blue);
}

.pagination-spacer{
    display: flex;
    align-items: flex-end;
}

.pagination-results{
    font-size: var(--fs-sm);
    color: var(--text-color8);
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.8);
    border: 5px solid var(--primary-blue);
    color: var(--primary-blue);
    left: -3px;
}

.radio-button__input:checked + .radio-button__label {
    color: var(--primary-blue);
}

.sort-item-wrapper:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.1);
    border-color: var(--primary-blue);
}

/* Dropdown Menu */
.admin-dropdown-menu {
    position: relative;
    display: inline-block;
}

.admin-dropdown-menu-icon{
    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 4px;
    transition: all 0.2s linear;
}

.admin-dropdown-menu-icon i{
    height: 1.3rem;
}

.admin-dropdown-menu-icon:hover{
    background-color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: var(--pad-xs);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: 1px solid #ececf1;
    border-radius: 8px;
    z-index: 100;
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;
    top: 3.2rem;
    right: 0;
}

.show {
    display: block;
}

.dropdown-user-information{
    display: flex;
    gap: 0.6rem;
    padding-bottom: var(--pad-xs);
    align-items: center;
}

.dropdown-user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
}

.dropdown-user-details h4{
    font-size: 0.8rem;
    margin-top: 0;
    color: var(--text-color2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-user-details span{
    /* margin-top: 0.2rem; */
    color: #798292;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-user-icon i{
    font-size: 2rem;
    color: blueviolet;
}

.dropdown-content-option{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 0.5rem var(--pad-xs);
    text-decoration: none;
    border-radius: 6px;
    /* color: #41454d; */
    color: var(--text-color4);
    transition: all 0.2s linear;
    align-items: center;
    font-size: 0.95rem;
}

.dropdown-content-option:hover{
    color: #41454d;
    background-color: #efefef;
}

.dropdown-content-option i{
    font-size: 1.05rem;
    width: 1.6rem;
}

.dropdown-section{
    display: flex;
    flex-direction: column;
    padding-top: var(--pad-xxs);
    padding-bottom: var(--pad-xxs);
    border-top: 1px solid var(--bg-color2);
}

.dropdown-section:last-child{
    padding-bottom: 0;
}

/* Alert/Message Styling */
.alert-container.animate-alert-container{
    right: 2rem;
    /* top: 4.5rem; */
}

.alert-container {
    position: fixed;
    /* margin: 20px 0; */
    right: -100rem;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    /* bottom: 2rem; */
}

.alert {
    display: flex;
    gap: 0.6rem;
    padding: var(--pad-sm) var(--pad-med);
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    align-items: center;
}

.alert-error i{
    font-size: var(--fs-lg);
    color: #f14858;
}

.alert span{
    font-size: var(--btn-font);
    font-weight: 500;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Add other alert styles as needed */

/* Custom Radio Buttons */
/* Hide the default radio button */
.custom-radio input[type="radio"] {
    display: none;
}

/* Custom radio button */
.custom-radio {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
    color: var(--text-color2);
}

/* Create a custom radio button */
.custom-radio .custom-radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid #ddd;
    transition: background-color 0.3s, border-color 0.3s;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover .custom-radio-button {
    border: 2px solid var(--primary-blue);
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .custom-radio-button {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio .custom-radio-button:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .custom-radio-button:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .custom-radio-button:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/*Searchable User dropdown menu */
.course-dropdown, .singular-course-dropdown{
    position: relative;
    gap: 1rem;
}

.course-dropdown .search-icon, .singular-course-dropdown .search-icon{
    position: absolute;
    right: 0.6rem;
    top: 0.65rem;
    color: gray;
    font-size: 0.8rem;
    user-select: none;
    pointer-events: none;
}

.course-dropdown input, .singular-course-dropdown input{
    padding-right: 2rem;
    text-overflow: ellipsis;
}

.course-dropdown input:focus-visible, .singular-course-dropdown input:focus-visible{
    outline: none;
    border-bottom: 2px solid #c7c7db;
}

.courseList {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    top: 2.06rem;
    border-radius: 2px 2px 8px 8px;
    margin-bottom: 1rem;
    border: 2px solid #c7c7db;
    border-top: 0px;
    overflow-x: hidden;
}

.courseList .dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ececf1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dropdown-item .dropdown-item-inner{
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.dropdown-item .dropdown-item-inner span, .dropdown-item .dropdown-item-inner h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.courseList .dropdown-item:hover{
    background-color: var(--bg-color3);
}

.courseList .dropdown-item:hover .checkmark{
    border-color: var(--primary-blue);
}

.courseList .dropdown-item.selected {
    background-color: var(--item-selected-blue);
    border-bottom: 1px solid #ffffff;
}

.courseList .dropdown-item:last-child, .courseList .dropdown-item.selected:last-child{
    border: none;
}

.no-results {
    padding: 8px;
    color: #999;
}

.selectedCourses {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selectedCourses .selected-course {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: #eceff4;
    border-radius: 6px;
    outline: 1px solid #e5e7eb;
    align-items: center;
    gap: 0.6rem;
}

.selected-course-details {
    font-weight: 600;
    color: #41454d;
    font-size: 0.75rem;
}

.selectedCourse .remove-course {
    cursor: pointer;
}