.details-top-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.details-top-row-right{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.details-top-row-left{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--text-color5);
}.details-top-row-left h3{
    font-size: 1.1rem;
}

.details-top-row-left .back-btn{
    all: unset;              /* Remove all inherited/user-agent styles */
    cursor: pointer;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
}

.details-top-row-left .back-btn:hover{
    background-color: var(--bg-color4);
}

.details-top-row-left .back-btn:active{
    background-color: var(--bg-color1);
}

.details-top-row-left .back-btn span{
    font-size: var(--fs-lg);
    font-weight: 600;
}

.option-btn{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: var(--pad-xxxs) var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    background-color: var(--bg-color4);
    flex: 1;
    transition: all 0.2s linear;
    border: none;
}

.option-btn:hover {
    background-color: var(--bg-color1);
}

/* User Card Section */
.details-user-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    /* outline: 1px solid #d7d7d7; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-top: 2rem;
}

.details-user-card .top-section{
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 8px 8px 0 0;
    height: 4rem;
}

.details-user-card .bottom-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--pad-xs);
}

.bottom-left{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.bottom-left .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 4px;
    outline: 4px solid white;
    background-color: #f2f2f2;
    color: gray;
    margin-top: -1.2rem;
    flex: none;
    object-fit: cover;
    /* width: 100%; */
    /* height: auto; */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bottom-left .profile-image i{
    font-size: var(--fs-xxxl);
}

.edit-image .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
    min-height: 4.3rem;
    width: 4.3rem;
    min-width: 4.3rem;
    border-radius: 4px;
    outline: 4px solid white;
    background-color: #f2f2f2;
    color: gray;
}

.edit-image .profile-image i{
    font-size: var(--fs-xxxl);
}

.user-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.user-card-info h3{
    font-size: 1.1rem;
    /* color: #41454d; */
    color: #191c1f;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-info-icon{
    display: flex;
    gap: 0.3rem;
    color: #6b6b6b;
}

.edit-user-btn{
    gap: 0.4rem;
}

/* User Details Nav Menu */
.details-nav-menu{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin: 2rem var(--pad-xs) var(--pad-xs) var(--pad-xs);
    border-bottom: 2px solid var(--bg-color2);
    /* border-bottom: 2px solid #e7e7ea; */
}

.details-nav-menu .nav-menu-item{
    display: flex;
    gap: 0.4rem;
    color: var(--text-color4);
    padding-bottom: var(--pad-xs);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s linear;
    text-decoration: none;
}
.details-nav-menu .nav-menu-item:hover{
    border-bottom: 2px solid var(--text-color4);
    color: #555961;
}

.nav-menu-item.active{
    border-bottom: 3px solid dodgerblue !important;
    font-weight: 600;
    color: #555961;
}

.nav-menu-item.active i{
    font-weight: 500;
}

/* User Details Card Section */
.details-info-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
}

.details-info-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    /* outline: 1px solid #d7d7d7; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.info-card-header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: var(--pad-sm);
}

.info-card-header.collapsable-header{
    padding: 0.49rem var(--pad-sm);
}

.info-card-header span{
    color: #41454d;
    font-weight: 600;
    text-wrap: nowrap;
}

.card-header-right i{
    color: #41454d;
    font-size: var(--fs-med);
}

.card-header-left i{
    color: #41454d;
    font-size: var(--fs-lg);
}

.card-header-left{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex: 1;
}

.card-header-right{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color5);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.card-header-right:hover {
    background-color: #f2f2f2;
}

.card-header-right:hover:active{
    background-color: var(--bg-color4);
}

.card-header-right i{
    transition: all 0.3s ease-in-out;
}

.card-header-right.active i {
    transform: rotate(-90deg);
}

.info-card-body{
    display: flex;
    padding: 1rem var(--pad-sm);
    gap: 4rem;
    border-top: 1px solid #d7d7d7;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.info-card-column{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.info-card-body .card-body-item{
    display: flex;
    gap: 0.8rem;
}

.details-info-card-overflow{
    overflow: hidden;
}
.details-info-card-overflow .info-card-body{
    max-height: 20rem;
    overflow: auto;
    box-sizing: border-box;
}

.details-info-card-overflow-hidden{
    overflow-y: hidden;
}

.card-body-item .card-body-left i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 8px;
    padding: var(--pad-xxxs);
    background-color: #f2f2f2;
    color: gray;
    border: 1px solid #e2e2e2;
}

/* Edit User Popup */
.popup-scroll-wrapper{
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    flex-direction: column;
}

.edit-images-row{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.edit-image{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.edit-image img{
    height: 150px;
    width: 150px;
    max-width: 200px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast; /* WebKit-based browsers */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Standard syntax */
    border-radius: 8px;
    border: 1px solid #ececf1;
}

.edit-user-label{
    font-size: 0.89rem;
    margin-top: 0;
    color: var(--text-color7);
    /* color: var(--text-color2); */
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    font-weight: 600;
}

.edit-user-header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.edit-user-header-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 4px;
    background-color: var(--accent-blue);
    color: var(--primary-blue);
}

.edit-user-header-icon i {
    font-size: var(--fs-xxl);
}

.edit-user-row{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem 3rem;
    margin-top: 0.8rem;
    flex-wrap: wrap;
}

.edit-user-input{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.edit-user-input label{
    font-size: 0.85rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    color: var(--text-color2);
    max-width: 142px;
}

.edit-user-input input{
    padding: var(--pad-xxs) var(--pad-xs);
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--btn-font);
    color: var(--text-color8);
    flex: 1;
    text-overflow: ellipsis;
}.edit-user-input input::placeholder{
    color: var(--text-color3);
}

.edit-user-input input:hover {
    background-color: var(--bg-color3);
}

.edit-user-input input:focus-visible {
    outline-color: var(--primary-blue);
}

/* Edit User Select Box */
.custom-select {
    display: flex;
}

.select-items {
    top: 2rem;
}

.edit-user-input .date-picker, .edit-user-input .time-picker, .edit-user-input .icon-field{
    padding-left: 2.6rem;
    cursor: pointer;
}

.input-group-addon{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--pad-xxs) var(--pad-xs);
    border-radius: 6px 0 0 6px;
    color: white;
    background-color: #1863dc;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}.input-group-addon:hover{
    background-color: dodgerblue;
}

.flatpickr-clear-input{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--pad-xxs) var(--pad-xs);
    border-radius: 0 6px 6px 0;
    color: var(--text-color6);
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    transition: all 0.2s linear;
}.flatpickr-clear-input:hover{   
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Course Type Icon */
.table-select-option td .course-name{
    margin-left: 0.4rem;
}

.course-type-icon i{
    display: flex;
    font-size: 0.75rem;
    padding: var(--pad-xxxs);
    border-radius: 4px;
    height: 1rem;
    width: 1rem;
    align-items: center;
    justify-content: center;
}

.course-type-icon.online-course i{
    display: flex;
    background-color: #e5caff;
    color: blueviolet;
    align-items: center;
    justify-content: center;
}

.course-type-icon.inperson-course i{
    background-color: #ffbf7c;
    color: #dc6618;
}

.table-select-option:last-child td{
    border: none;
}

.status{
    padding: var(--pad-xxxs) var(--pad-med);
    border-radius: 99px;
    font-weight: 500;
    font-size: 0.7rem;
    text-wrap: nowrap;
}.status.pastel-gray{
    border: 1px solid #e2e2e2;
    background-color: #f2f2f2;
    color: gray;
    font-weight: 500;
}.status.pastel-yellow{
    border: 1px solid #efc16f;
}.status.pastel-green{
    border: 1px solid #9bd79b;
}.status.pastel-red{
    border: 1px solid #e98e8e;
}

/* User History Tree */
.user-history-wrapper{
    flex: 1;
}

.user-history-item{
    display: flex;
    flex-direction: column;
}

.user-history-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-history-left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-history-date{
    font-size: var(--fs-sm);
    color: #6b6b6b;
}

.user-history-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 12px;
    padding: var(--pad-xxxs);
    background-color: #f2f2f2;
    color: gray;
    margin: 6px 0;
    border: 1px solid #e2e2e2;
}

.user-history-body{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-top: var(--pad-xxs);
    padding-bottom: var(--pad-xxxl);
    padding-left: var(--pad-xxxl);
    margin-left: var(--margin-lg);
    border-left: 2px solid var(--bg-color2);
}

.user-history-body-item{
    color: #6b6b6b;
    font-size: var(--btn-font);
}

/* Custom Slider */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 23px;
    cursor: pointer;
    padding-bottom: 0.05rem !important;
}
  
.toggle-switch input[type="checkbox"] {
    display: none;
}
  
.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 18px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}
  
.toggle-switch-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
  
.toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px var(--primary-blue);
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: var(--primary-blue);
    box-shadow: inset 0 0 0 2px var(--primary-blue);
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: var(--primary-blue);
    right: -15px;
}
  
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(40px);
}

.tooltip .tooltiptext {
    text-wrap: nowrap;
    bottom: -130%;
}


/* Custom File Upload */
.custom-file-upload-container{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 14px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: dodgerblue;
}

.custom-file-upload i {
    margin-right: 8px;
}

.custom-file-title{
    flex: 1;
    border: 1px solid #ececf1;
    padding: 5.5px 9px;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    max-height: 1.2rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.custom-file-title:hover {
    background-color: var(--bg-color3);
}

.file-name-display {
    font-size: 14px;
    color: #555;
}

.file-upload-inner{
    padding: 1rem 0;
}

.file-upload-inner h5{
    margin-top: 0;
    margin-bottom: 0.7rem;
    color: var(--text-color2);
    font-size: 0.9rem;
}

.info-card-heading{
    font-weight: 500;
    color: #555961;
    font-size: 0.9rem;
}.info-card-subheading{
    font-size: 0.85rem;
    color: #41454d;
    /* color: #191c1f; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}