/* User Card Section */
.details-user-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    /* outline: 1px solid #d7d7d7; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-top: 2rem;
}

.details-user-card .top-section{
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    /* background: linear-gradient(135deg, #a977e4 0%, #cec2fb 100%); */
    border-radius: 8px 8px 0 0;
    height: 3.5rem;
}

.details-user-card .bottom-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--pad-xs);
}

.bottom-left{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.bottom-left .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 8px;
    outline: 4px solid white;
    background-color: #f2f2f2;
    color: gray;
    margin-top: -1.6rem;
    flex: none;
    object-fit: cover;
    /* width: 100%; */
    /* height: auto; */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bottom-left .profile-image i{
    font-size: var(--fs-xxxl);
}

.edit-image .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
    min-height: 4.3rem;
    width: 4.3rem;
    min-width: 4.3rem;
    border-radius: 8px;
    outline: 4px solid white;
    background-color: #f2f2f2;
    color: gray;
}

.edit-image .profile-image i{
    font-size: var(--fs-xxxl);
}

.user-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
}.user-card-info h3{
    font-size: 1.1rem;
    /* color: #41454d; */
    color: #191c1f;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.card-info-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-info-icon{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #6b6b6b;
    font-size: 0.96rem;
}

.edit-user-btn{
    gap: 0.4rem;
}

/* User Details Nav Menu */
.details-nav-menu{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin: 2rem var(--pad-xs) var(--pad-xs) var(--pad-xs);
    border-bottom: 2px solid var(--bg-color2);
    /* border-bottom: 2px solid #e7e7ea; */
}

.details-nav-menu .nav-menu-item{
    display: flex;
    gap: 0.4rem;
    color: var(--text-color4);
    padding-bottom: var(--pad-xs);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s linear;
    text-decoration: none;
}
.details-nav-menu .nav-menu-item:hover{
    border-bottom: 2px solid var(--text-color4);
    color: #555961;
}

.nav-menu-item.active{
    border-bottom: 3px solid dodgerblue !important;
    font-weight: 600;
    color: #555961;
}

.nav-menu-item.active i{
    font-weight: 500;
}

/* Edit User Popup */
.popup-scroll-wrapper{
    display: flex;
    max-height: 70dvh;
    overflow-y: auto;
    flex-direction: column;
}

.edit-images-row{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.edit-image{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.edit-image img{
    height: 150px;
    width: 150px;
    max-width: 200px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast; /* WebKit-based browsers */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Standard syntax */
    border-radius: 8px;
    border: 1px solid #ececf1;
}

.edit-user-header{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    margin-bottom: 1.5rem;
}.edit-user-header h3{
    font-size: 1rem;
    color: #41454d;
}

.edit-user-header-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 8px;
    background-color: var(--accent-blue);
    color: var(--primary-blue);
    border: 1px solid #cbdefc;
}.edit-user-header-icon h3{
    font-size: var(--fs-med);
    /* color: #41454d; */
    color: #191c1f;
}

.edit-user-header-icon i {
    font-size: var(--fs-xl);
}

.edit-user-row{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem 3rem;
    margin-top: 0.8rem;
    flex-wrap: wrap;
}.edit-user-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem 3rem;
    margin-top: 0.8rem;
    flex-wrap: wrap;
}

.edit-user-text{
    font-size: var(--btn-font);
    color: var(--text-color8);
}

/* Edit User Select Box */
.custom-select {
    display: flex;
}

.select-items {
    top: 2rem;
}

/* Course Type Icon */
.table-select-option td .course-name{
    margin-left: 0.4rem;
}

.course-type-icon i{
    display: flex;
    font-size: 0.75rem;
    padding: var(--pad-xxxs);
    border-radius: 6px;
    height: 0.9rem;
    width: 0.9rem;
    align-items: center;
    justify-content: center;
}.course-type-icon.online-course i{
    background-color: #e5caff;
    color: blueviolet;
    border: 1px solid #d5aff9;
}.course-type-icon.inperson-course i{
    background-color: #ffbf7c;
    color: #dc6618;
    border: 1px solid #ffa86d;
}.course-type-icon.mandatory-course i {
    background-color: #f7a5a5;
    color: #cc0202;
    border: 1px solid #fc8888;
}.course-type-icon.success i {
    background-color: #b3ecb3;
    color: #059f48;
    border: 1px solid #9bd79b;
}.course-type-icon.pastel-yellow i{
    background-color: #ffd281;
    color: #a66c01;
    border: 1px solid #efc16f;
}

.course-type-icon.course-certificate i{
    font-size: 0.8rem;
    background-color: #d0e0ff;
    color: var(--primary-blue);
    border: 1px solid #aabce0;
}

.table-select-option:last-child td{
    /* border: none; */
    border-bottom: none;
}

.status{
    padding: 0.25rem var(--pad-med);
    border-radius: 99px;
    font-weight: 500;
    font-size: 0.7rem;
    text-wrap: nowrap;
}.status.pastel-gray{
    border: 1px solid #e2e2e2;
    background-color: #f2f2f2;
    color: gray;
    font-weight: 500;
}.status.pastel-yellow{
    border: 1px solid #efc16f;
}.status.pastel-green{
    border: 1px solid #9bd79b;
}.status.pastel-red{
    border: 1px solid #e98e8e;
}.status.pastel-blue{
    border: 1px solid #aabce0;
}

/* User History Tree */
.user-history-wrapper{
    flex: 1;
}

.user-history-item{
    display: flex;
    flex-direction: column;
}

.user-history-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-history-left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-history-date{
    font-size: var(--fs-sm);
    /* color: #6b6b6b; */
    color: var(--text-color4);
}

.user-history-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 12px;
    padding: var(--pad-xxxs);
    background-color: #f2f2f2;
    color: gray;
    margin: 6px 0;
    border: 1px solid #e2e2e2;
}

.user-history-body{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-bottom: var(--pad-xxxl);
    padding-left: var(--pad-xxxl);
    margin-left: var(--margin-lg);
    border-left: 2px solid var(--bg-color2);
}

.user-history-body-item{
    color: #6b6b6b;
    font-size: 0.9rem;
}

.user-history-action{
    font-size: 0.9rem;
    color: #41454d;
}

/* Custom File Upload */
.custom-file-upload-container{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 14px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: dodgerblue;
}

.custom-file-upload i {
    margin-right: 8px;
}

.custom-file-title{
    flex: 1;
    border: 1px solid #ececf1;
    padding: 6.2px 9px;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    max-height: 1.2rem;
    text-wrap: nowrap;
    font-size: var(--btn-font);
    color: var(--text-color8);
    flex: 1;
    text-overflow: ellipsis;
}

.custom-file-title:hover {
    background-color: var(--bg-color3);
}

.certificate-items-container{
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
}

.certificate-item-wrapper{
    display: flex;
    flex: 1;
    gap: 0.6rem;
    align-items: center;
    text-decoration: none;
    padding: var(--pad-xs);
    border-radius: 8px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    transition: all 0.2s linear;
    background-color: white;
}.certificate-item-wrapper:hover{
    background-color: #f2f6ff;
    /* background-color: #fcfcfc; */
    box-shadow: #6393e0 0px 0px 0px 1px;
    /* border: 1px solid #e3e3e3;*/
}

.certificate-item-left i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 8px;
    padding: var(--pad-xxxs);
    /* border: 1px solid #aabce0; */
    box-shadow: 0px 1px 2px 0px var(--primary-blue);
}

.certificate-item-title{
    font-size: 0.9rem;
    color: #41454d;
    font-weight: 600;
}

.certificate-item-right{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.card-header-left .course-active{
    font-size: 0.75rem;
}