h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
}.disabled.popup-btn:hover{
    background-color: var(--primary-blue) !important;
}

/* Popup Styling */
.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(3rem);
}

.popup-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--pad-sm) var(--pad-lg);
}

.popup-header h3{
    color: var(--text-color5);
    font-size: var(--close-icon);
    margin: 0;
}

.close-popup-icon{
    color: var(--text-color6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--close-icon);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 8px;
    cursor: pointer;
}

.close-popup-icon:hover{
    background-color: var(--bg-color2);
}

.popup-body{
    padding: var(--pad-xl) var(--pad-lg);
    border-top: 1px solid var(--bg-color2);
}

.filter-options-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-options-row h5{
    margin-top: 0;
    margin-bottom: 0.3rem;
    color: var(--text-color2);
}

.filter-option input[type="text"]{
    padding: var(--pad-xxs) var(--pad-xs);
    border: 1px solid #ececf1;
    border-radius: 8px;
    font-size: var(--btn-font);
    color: var(--text-color8);
}

.filter-option input[type="text"]:hover {
    background-color: var(--bg-color3);
}

.filter-option input[type="text"]:focus-visible {
    outline-color: var(--primary-blue);
}

.popup-footer{
    padding: var(--pad-sm) var(--pad-lg);
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid #f4f4f7; */
    background-color: #f4f4f4;
    /* background-color: #f4f4f7; */
    border-radius: 0px 0 8px 8px;
}

.popup-btns{
    display: flex;
    gap: 0.8rem;
}

.popup-btn{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 0.5rem var(--pad-med);
    font-size: var(--btn-font);
    background-color: var(--primary-blue);
    color: white;
}

.popup-btn:hover{
    background-color: dodgerblue;
}

.close-popup-btn {
    background-color: white;
    color: var(--text-color2);
    /* border: 1px solid var(--bg-color2); */
    font-weight: 600;
}

.close-popup-btn:hover{
    background-color: var(--bg-color2);
}

.animate-popup-content{
    opacity: 1;
    transform: translateY(0rem);
}

/* Container for the custom select */
.custom-select {
    position: relative;
    display: inline-block;
    min-width: 200px;
    margin-bottom: 10px;
}

.custom-select i{
    position: absolute;
    right: 0.6rem;
    top: 0.5rem;
}

/* Style for the selected item */
.select-selected {
    display: flex;
    align-items: center;
    background-color: white;
    padding: var(--pad-xxs) var(--pad-xs);
    border: 1px solid #ececf1;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-size: var(--btn-font);
    color: var(--text-color8);
}

.select-selected:hover {
    background-color: var(--bg-color3);
}

.select-open{
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--primary-blue);
}

/* Style for the items in the dropdown */
.select-items {
  position: absolute;
  background-color: white;
  padding: var(--pad-xxs) var(--pad-xs);
  border: 1px solid #ececf1;
  border-radius: 8px;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

/* Style for each item */
.select-items .select-item{
  padding: var(--pad-xxs);
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  font-size: var(--btn-font);
  color: var(--text-color8);
}

/* Highlight the selected item */
.select-items .select-item:hover, .same-as-selected {
  background-color: var(--bg-color6);
}

/* Webkit-based browsers (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar thumb color on hover */
}

/* Hide the scrollbar buttons/arrows */
.scrollable-content::-webkit-scrollbar-button {
  display: none;
}

/* Global Colors */
.pastel-yellow{
  background-color: #ffd281;
  color: #a66c01;
}.pastel-green{
  background-color: #dcfce7;
  color: #17a34a;
}.pastel-purple{
  background-color: #e5caff;
  color: blueviolet;
}.pastel-orange {
  background-color: #ffbf7c;
  color: #dc6618;
}.pastel-blue {
  background-color: #d0e0ff;
  color: var(--primary-blue);
}

/* Max Width */
.max-width-extend-1{
    width: 100%;
    max-width: 1400px;
}.max-width-0{
    width: 100%;
    max-width: 1100px;
}.max-width-1{
    width: 100%;
    max-width: 1000px;
}.max-width-2{
    width: 100%;
    max-width: 900px;
}.max-width-3{
    width: 100%;
    max-width: 800px;
}.max-width-4{
    width: 100%;
    max-width: 700px;
}.max-width-5{
    width: 100%;
    max-width: 600px;
}.max-width-6{
    width: 100%;
    max-width: 500px;
}

.align-center{
    align-items: center;
}

/* No Margin */
.margin-0{
    margin: 0 !important;
}

/* No Padding */
.padding-0{
    padding: 0 !important;
}

.padding-top-1{
    padding-top: 1rem;
}.padding-top-2{
    padding-top: 2rem;
}

.padding-bottom-1{
    padding-bottom: 1rem;
}

.hidden {
    display: none !important;
}

/* Loading Symbol */
.pl {
    width: 6em;
    height: 6em;
  }
  
.pl__ring {
    animation: ringA 2s linear infinite;
}
  
.pl__ring--a {
    stroke: #000000;
}
  
.pl__ring--b {
    animation-name: ringB;
    stroke: #7e7e7e;
}
  
.pl__ring--c {
    animation-name: ringC;
    stroke: #686868;
}
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #000000;
  }
    
    /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }