/* Global Colors */
:root {
    /* Blues */
    --primary-blue: #1863dc;
    --secondary-blue: #60abf9;
    --accent-blue: #e1eeff;
    /* Item Selected Blue */
    --item-selected-blue: #e3ecf9;
    /* Text Colors */
    --text-color1: #000;
    --text-color2: #333;
    --text-color3: #9a9fa5;
    --text-color4: #798292;
    --text-color5: #0c0c0c;
    --text-color6: #6b6b6b;
    --text-color7: #41454d;
    --text-color8: #586370;
    /* Background Colors */
    --bg-color1: #d7d7da;
    --bg-color2: #ececf1;
    --bg-color3: #f7f7fa;
    --bg-color4: #e3e3e6;
    --bg-color5: #fbfbfb;
    --bg-color6: #f3f3f3;
    /* Main Fonts */
    --primary-font: 'Roboto', sans-serif;
    /* Font Size */
    --fs-xxs: 0.4rem;
    --fs-xs: 0.6rem;
    --fs-sm: 0.8rem;
    --fs-med: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 1.4rem;
    --fs-xxl: 1.8rem;
    --fs-xxxl: 2rem;
    --btn-font: 0.95rem;
    --close-icon: 1.1rem;
    --sidebar-icon: 1.3rem;
    /* Padding */
    --pad-xxxs: 0.3rem;
    --pad-xxs: 0.4rem;
    --pad-xs: 0.6rem;
    --pad-sm: 0.8rem;
    --pad-med: 1rem;
    --pad-lg: 1.2rem;
    --pad-xl: 1.4rem;
    --pad-xxl: 1.6rem;
    --pad-xxxl: 2rem;
    /* Margin */
    --margin-xs: 0.6rem;
    --margin-sm: 0.8rem;
    --margin-med: 1rem;
    --margin-lg: 1.2rem;
    --margin-xl: 1.4rem;
    --margin-xxl: 1.6rem;
}