{% extends 'templates/admin/base.html' %}
{% load static %}
{% block content %}
    {% include 'templates/admin/admin_header.html' %}
    <div class="admin-body-container-inner">
        {% include 'templates/admin/admin_sidebar.html' %}
        <div class="admin-body">
            <div class="admin-top-row">
                <div class="admin-top-row-left">
                    <h2>Users</h2>
                </div>
                <div class="admin-top-row-right">
                    <div class="action-button-secondary">
                        <span>Import</span>
                    </div>
                    <div class="action-button-primary">
                        <span>Add user</span>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="table-filter-section">
                    <div class="search-table-option">
                        <i class="fa-regular fa-magnifying-glass"></i>
                        <input id="searchTable" type="text" placeholder="Search all users">
                    </div>
                    <div class="table-filter-section-right">
                        <div class="table-filter-item-small tooltip" data-tooltip="Filter">
                            <span class="tooltiptext"></span>
                            <i class="fa-regular fa-filter"></i>
                        </div>
                        <div class="table-filter-item-small tooltip" data-tooltip="Sort">
                            <span class="tooltiptext"></span>
                            <i class="fa-regular fa-arrow-up-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <div id="activeFilters" class="table-filter-section">
                    <div class="table-filter-section-left">
                        <div class="table-filter-item">
                            <span> All </span>
                        </div>
                        <div class="table-filter-item">
                            <span> Active </span>
                        </div>
                        <div class="table-filter-item">
                            <span> Inactive </span>
                        </div>
                    </div>
                    <div class="table-filter-section-right">
                        <div style="display: none;" id="selectedOptionsWrapper" class="selected-options-count">
                            <span id="selectedOptionsCount"></span>
                            <span> Selected </span>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>      
                        <tr>
                            <th><label class="container"><input type="checkbox" class="table-select-all-option"><div class="checkmark"></div></label></th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Username</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-select-option">
                            <td><label class="container"><input type="checkbox" disabled><div class="checkmark"></div></label></td>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>
                        <tr class="table-select-option">
                            <td><label class="container"><input type="checkbox" disabled><div class="checkmark"></div></label></td>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="optionsSidebar" class="options-sidebar-container">
            <div class="options-sidebar-header">
                <div class="options-sidebar-icon">
                    <i class="fa-light fa-sliders"></i>
                </div>
                <div class="options-sidebar-title">
                    <h6>Table options</h6>
                    <span> Select an option below</span>
                </div>
            </div>
            <div class="options-sidebar-body">
                <div class="options-sidebar-item">
                    <i class="fa-light fa-user-pen"></i>
                    <span>Edit user</span>
                </div>
                <div class="options-sidebar-item">
                    <i class="fa-light fa-hand-holding-box"></i>
                    <span>Enroll user</span>
                </div>
                <div class="options-sidebar-item">
                    <i class="fa-light fa-memo-pad"></i>
                    <span>View Transcript</span>
                </div>
                <div class="options-sidebar-item">
                    <i class="fa-light fa-masks-theater"></i>
                    <span>Impersonate</span>
                </div>
                <div class="options-sidebar-item">
                    <i class="fa-light fa-trash"></i>
                    <span>Delete</span>
                </div>
            </div>
        </div> 
    </div>
{% endblock content %}