html{
    height: 100%;
}

html, body, button{
    font-family: var(--primary-font);
    letter-spacing: 0.02em;
}

#courseItemPopup{
    align-items: flex-start;
}

.learner-body-container{
    margin: 0;
    background-color: var(--bg-color6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

/* Learner Inner */
.learner-body-container-inner{
    display: flex;
    flex: 1;
}

.learner-body{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-color6);
    /* border-top-left-radius: 24px; */
    padding: var(--pad-xxxl);
    border-top: 1px solid #ececf1;
    border-left: 1px solid #ececf1;
    /* Make sure the body height fills the viewport */
    box-sizing: border-box; /* Include padding and border in height calculation */
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
}


/* Admin Header */
.learner-header-container{
    padding: var(--pad-xs) var(--pad-lg);
    background-color: #1a1a1a;
    /* background-color: #00183b; */
}

.learner-header-container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learner-header-left .header-logo{
    max-width: 150px;
    max-height: 100px;
}

.learner-header-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.learner-header-icons{
    display: flex;
    gap: 0.8rem;
}

.learner-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pad-xxs);
    border-radius: 4px;
    font-size: 1.2rem;
    transition: all 0.2s linear;
    color: white;
}

.learner-header-icon:hover{
    background-color: #333333;
}

/* Dropdown Menu */
.learner-dropdown-menu {
    position: relative;
    display: inline-block;
}

.learner-dropdown-menu-icon{
    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    padding: var(--pad-xxs);
    border-radius: 4px;
    transition: all 0.2s linear;
}

.learner-dropdown-menu-icon i{
    height: 1.3rem;
}

.learner-dropdown-menu-icon:hover{
    background-color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: var(--pad-xs);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: 1px solid #ececf1;
    border-radius: 8px;
    z-index: 2;
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;
    z-index: 1;
    top: 2.5rem;
    right: 0;
}

.show {
    display: block;
}

.dropdown-user-information{
    display: flex;
    gap: 0.6rem;
    padding-bottom: var(--pad-xs);
    align-items: center;
}

.dropdown-user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
}

.dropdown-user-details h4{
    font-size: 0.8rem;
    margin-top: 0;
    color: var(--text-color2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-user-details span{
    /* margin-top: 0.2rem; */
    color: #798292;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-user-icon i{
    font-size: 2rem;
    color: blueviolet;
}

.dropdown-content-option{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 0.5rem var(--pad-xs);
    text-decoration: none;
    border-radius: 6px;
    /* color: #41454d; */
    color: var(--text-color4);
    transition: all 0.2s linear;
    align-items: center;
    font-size: 0.95rem;
}

.dropdown-content-option:hover{
    color: #41454d;
    background-color: #efefef;
}

.dropdown-content-option i{
    font-size: 1.05rem;
    width: 1.6rem;
}

.dropdown-section{
    display: flex;
    flex-direction: column;
    padding-top: var(--pad-xxs);
    padding-bottom: var(--pad-xxs);
    border-top: 1px solid var(--bg-color2);
}

.dropdown-section:last-child{
    padding-bottom: 0;
}

/* Widgets */
.widget{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.widget:hover{
    transform: translateY(-0.3rem);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Footer */
.learner-footer-container{
    padding: var(--pad-xs) var(--pad-lg);
    background-color: #1a1a1a;
}

.footer-logo{
    height: 40px;
}

/* Learner Sidebar */
.learner-sidebar-container{
    padding: var(--pad-med) var(--pad-sm);
    background-color: white;
    max-width: 230px;
}

.sidebar-user-information{
    display: flex;
    gap: 0.6rem;
    padding: var(--pad-xxs) var(--pad-xs);
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s linear;
    border: 1px solid var(--bg-color2);
}

.sidebar-dropdown-icon{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
}

.sidebar-dropdown-icon i{
    font-size: 0.7rem;
}

.learner-sidebar-body{
    margin-top: 1.5rem;
}

.learner-sidebar-body h6{
    color: var(--text-color8);
    margin-top: 1rem;
}

.learner-sidebar-section{
    display: flex;
    flex-direction: column;
    padding-top: var(--pad-xxs);
    padding-bottom: var(--pad-xxs);
    border-bottom: 1px solid var(--bg-color2);
}

.learner-sidebar-option{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 0.5rem var(--pad-xs);
    text-decoration: none;
    border-radius: 6px;
    /* color: #41454d; */
    color: var(--text-color4);
    transition: all 0.2s linear;
    align-items: center;
    font-size: 0.85rem;
}

.learner-sidebar-option:hover {
    color: #191c1f;
    background-color: #efefef;
}

.learner-sidebar-option i{
    font-size: 1.05rem;
    width: 1.6rem;
}

.learner-sidebar-option.active, .learner-sidebar-option.active i{
    font-weight: 600;
}

.learner-sidebar-option.active{
    color: #191c1f;
    background-color: #efefef;
}

.learner-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--pad-lg);
    flex-wrap: wrap;
    gap: 0.5rem;
}

.learner-top-row h2{
    color: var(--text-color5);
    margin: 0;
}

.learner-top-row-left span{
    font-size: 0.78rem;
    color: var(--text-color6);
}

.learner-info-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.learner-card-wrapper{
    padding: var(--pad-xxs);
    padding-top: 0;
}

.save-button-platform {
    padding: var(--pad-xs);
    background-color: rgb(127 142 153 / 40%);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    position: fixed;
    bottom: -20rem;
    left: 57%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 600px;
    transition: all 0.5s ease-in-out;
}

.save-button-platform-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-button-platform-inner span{
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-color2);
}

.save-button-row{
    display: flex;
    gap: 0.5rem;
}

.animate-save-button-platform{
    bottom: 5rem;
}

.learner-primary-button, .learner-secondary-button{
    display: flex;
    padding: var(--pad-xxxs) var(--pad-sm);
    border-radius: 6px;
    font-size: var(--btn-font);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s linear;
}

.learner-primary-button {
    background-color: var(--primary-blue);
    color: white;
    gap: 0.5rem;
}

.learner-primary-button:hover {
    background-color: dodgerblue;
}

/* My Courses Styling */
.learner-courses-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.course-item {
    padding: 0.6rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 17.375rem;
    overflow: hidden;
    position: relative;
    width: 14.5rem;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    text-decoration: none;
    cursor: pointer;
}

.course-item:hover {
    transform: translateY(-0.3rem);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.course-item-top{
    position: relative;
}

.course-item-status{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.course-item-status-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;  
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    z-index: 2;
    transition: all 0.2s linear;
}

.purple-status-item{
    background-color: white;
    border: 1px solid #ececf1;
}.purple-status-item:hover{
    background-color: #ececf1;
}.purple-status-item i{
    font-size: 0.9rem;
    color: blueviolet;
}

.green-status-item{
    background-color: #4caf50;
    border: 1px solid #3e9241;
}.green-status-item:hover{
    background-color: #3e9241;
}.green-status-item i{
    font-size: 1rem;
    color: white;
}

.red-status-item{
    background-color: #ff5757;
    border: 1px solid #e74747;
}.red-status-item:hover{
    background-color: #e74747;
}.red-status-item i{
    font-size: 1.1rem;
    color: white;
}

.course-item-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    max-height: 9rem;
    height: 9rem;
    /* flex: 1; */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.course-item-thumbnail img{
    max-height: 9rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}

.thumbnail-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
}

.thumbnail-placeholder i{
    color: gray;
    font-size: 2.2rem;
}

.course-item-type-wrapper{
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    display: flex;
    /* justify-content: flex-end; */
}

.course-item-type{
    font-size: 0.7rem;
    padding: 0.2rem var(--pad-xs);
    font-weight: 600;
    border-radius: 10px;
}

.course-item-title{
    font-size: 0.9rem;
    color: #41454d;
}

.limit-text-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;             
    max-height: 2.4em;               
}

.course-item-inner{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.course-item-progress-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.course-item-progress-container span{
    color: var(--text-color4);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0.15rem;
}

.course-item-progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

.course-item-progress-bar {
    height: 6px;
    background-color: #4caf50;
    width: 0%;
    border-radius: 5px;
    transition: width 0.4s ease;
}

.course-item-footer{
    display: flex;
    gap: 0.35rem;
    flex-wrap: wrap;
}

.course-item-footer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    color: var(--text-color6);
    font-size: var(--fs-sm);
}

.footer-spacer{
    font-size: 0.45rem;
}

/* Course Overview Popup */
.close-course-item-popup{
    color: #585858;
    background-color: #ffffffb0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-lg);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: all 0.2s linear;
}

.close-course-item-popup:hover {
    background-color: white;
    color: black;
}

.course-item-popup-banner{
    height: 13rem;
    min-height: 13rem;
    padding: var(--pad-xxxl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    background-image: url('/static/images/myCourses/Banners Halo-06.png');
}

.course-item-popup-banner-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-item-popup-type-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    display: flex;
}

.course-item-popup-type {
    font-size: 0.7rem;
    padding: 0.2rem var(--pad-xs);
    font-weight: 600;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.course-item-popup-title{
    font-size: 1rem;
    color: #f1f1f1;
    max-width: 25rem;
}

.course-time-wrapper{
    display: flex;
    color: #f1f1f1;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0.2rem;
}

.course-time-wrapper i{
    font-size: var(--fs-sm);
}

.start-course-btn{
    display: flex;
    padding: var(--pad-xxxs) var(--pad-sm);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s linear;
    border: none;
    background-color: white;
    margin-top: 0.9rem;
    gap: 0.3rem;
    align-items: center;
    box-shadow: 0px 2px 0px 1px #b8b8b8;
}.start-course-btn span{
    font-size: 0.9rem;
}.start-course-btn i{
    font-size: var(--fs-sm);
}.start-course-btn:hover{
    background-color: #ededed;
}.start-course-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 0px #ffffff;
}


/* Styling for the tabs container */
.tabs {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-bottom: 2px solid #ddd;
    padding: 0 2rem;
}

.tab {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: color 0.3s ease;
    color: var(--text-color4);
}

.tab.active {
    color: #555961;
    font-weight: bold;
}

.tab:hover {
    color: #555961;
}

.tab-indicator {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    background-color: #007bff;
    transition: width 0.4s ease, transform 0.4s ease;
    width: 0px;
    border-radius: 99px;
}

/* Tab Content */
.tab-content-container {
    padding: 0;
}

.tab-content {
    display: none;
    padding: 1rem 2rem 3rem 2rem;
    overflow: auto;
    flex-direction: column;
    max-height: 30rem;
}

.tab-content.active {
    display: block;
}

/* Popup animations */
.popup-content {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-height: 90vh;
    margin-top: 5vh;
    overflow: hidden;
}

.popup-content.animate-popup-content {
    opacity: 1;
    transform: scale(1);
}

.tab-content-description{
    position: relative;
    line-height: 1.4;
    color: #35373a;
    font-size: 0.9rem;
}

.tab-content-description img{
    max-width: 8rem;
}

.description-wrapper {
    position: relative;
    overflow: hidden; /* Hide the overflow of the content */
    max-height: 200px; /* Adjust the max-height as needed */
}

.description-wrapper.expanded {
    max-height: none; /* Allows the content to expand fully */
}

.read-more-toggle {
    display: inline-flex;
    padding-top: 1rem;
    color: var(--primary-blue);
    font-size: 0.95rem;
    text-decoration: none;
    cursor: pointer;
}

.read-more-toggle:hover {
    color: #007bff;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust height as needed */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none; /* Ensure the overlay does not block interactions */
}

.course-item-module-wrapper{
    margin-top: 1rem;
}
/*.course-item-module-wrapper:first-child{
    margin-top: 0;
} */

.course-item-module-header{
    display: flex;
    gap: 0.3rem;
}

.course-item-module-title{
    line-height: 1.4;
    color: #555961;
    font-size: 1rem;
    font-weight: 600;
}

.lesson-counter{
    font-size: 0.7rem;
    padding: 0.2rem var(--pad-xs);
    font-weight: 600;
    border-radius: 10px;
}

.course-item-lesson-container{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.course-item-lesson-wrapper{
    padding-bottom: 0.5rem;
}.course-item-lesson-wrapper:last-child{
    padding-bottom: 0;
}

.course-item-lesson-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.course-item-lesson-icon{
    display: flex;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    padding: var(--pad-xxxs);
    background-color: #f2f2f2;
    color: #696c78;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 900;
}

.course-item-lesson-title{
    line-height: 1.2;
    color: #5e5e5e;
    font-size: 0.9rem;
}

.course-item-lesson-complete-icon{
    height: 1.85rem;
    width: 1.5rem;
    color: #4caf50;
    font-size: 1.45rem;
}

.tab-content-event-dates{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.tab-content-event-dates-item-top{
    display: flex;
    gap: 0.4rem;
    color: #555961;
}

.event-dates-subtext{
    color: #555961;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.4;
}

.notification-icon{
    display: flex;
    position: absolute;
    right: 0.3rem;
    /* bottom: 0.45rem; */
    padding: 0.15rem;
    color: red;
    font-size: 0.6rem;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* Custom Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 120px;
    background-color: #222222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: var(--pad-xxxs) var(--pad-sm);
    font-size: var(--fs-sm);
    font-weight: 400;
    position: absolute;
    z-index: 1;
    bottom: -95% !important;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

/* Alert/Message Styling */
.alert-container.animate-alert-container{
    right: 2rem;
}

.alert-container {
    position: absolute;
    margin: 20px 0;
    right: -50rem;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.alert {
    display: flex;
    gap: 0.6rem;
    padding: var(--pad-sm) var(--pad-med);
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    align-items: center;
}

.alert-error i{
    font-size: var(--fs-lg);
    color: #f14858;
}

.alert span{
    font-size: var(--btn-font);
    font-weight: 500;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}