<div id="facialRecognition" class="popup-background">
    <div class="popup-content max-width-6">
        <div class="popup-header">
            <h3>Facial Recognition (Test)</h3>
            <div onclick="closePopup('facialRecognition')" class="close-popup-icon">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </div>
        </div>
        <div class="popup-body scrollable-content"> 
            <video id="facialRecognitionVideo" autoplay playsinline style="width: 100%; max-height: 360px;"></video>
        </div>
        <div class="popup-footer">
            <div class="spacer"></div>
            <div class="popup-btns">
                <button type="button" onclick="closePopup('facialRecognition')" class="popup-btn close-popup-btn">Back</button>
                <!-- <button onclick="closePopup('facialRecognition')" class="popup-btn">Save Changes</button>    -->
            </div>
        </div>
    </div>
</div>