<div class="learner-sidebar-container">
    <div class="learner-sidebar-container-inner">
        <div class="learner-sidebar-top">
            <div class="sidebar-user-information">
                {% if request.is_impersonating %}
                    <div class="dropdown-user-icon" style="padding: 0.3rem; border-radius: 8px; background-color: #ffd0d0;">
                        <i class="fa-light fa-masks-theater" style="color: #f34242; font-size: 1.5rem;"></i>
                    </div>                        
                {% else %}
                    <div class="dropdown-user-icon">
                        <i class="fa-duotone fa-solid fa-circle-{{ first_letter_lowercase }}" style="--fa-primary-color: #ffffff; --fa-secondary-color: transparent; --fa-secondary-opacity: 1;"></i>
                    </div>
                {% endif %}
                <div class="dropdown-user-details">
                    <h4>{{ first_name }} {{ last_name }}</h4>
                    <span>{{ email }}</span>
                </div>
                <div class="sidebar-dropdown-icon">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="learner-sidebar-body">
            <h6>My Learning</h6>
            <div class="learner-sidebar-section">
                <a class="learner-sidebar-option" href="/dashboard/">
                    <i class="fa-light fa-objects-column"></i>
                    <span> Dashboard </span>
                </a>
                <a class="learner-sidebar-option" href="/courses/">
                    <i class="fa-light fa-book-open-cover"></i>
                    <span> My Courses </span>
                </a>
                <a class="learner-sidebar-option" href="/transcript/">
                    <i class="fa-light fa-memo-pad"></i>
                    <span> Transcript </span>
                </a>                
            </div>
            <h6>My Activity</h6>
            <div class="learner-sidebar-section">
                <a class="learner-sidebar-option" href="/notifications/">
                    <i class="fa-light fa-bell"></i>
                    <span> Notifications </span>
                </a>
                <!-- <a class="learner-sidebar-option" href="/activity/">
                    <i class="fa-light fa-chart-line"></i>
                    <span> Activity </span>
                </a> -->
            </div>
            <h6>Other</h6>
            <div class="learner-sidebar-section">
                <a class="learner-sidebar-option" href="/profile/">
                    <i class="fa-light fa-user-graduate"></i>
                    <span> Profile </span>
                </a>
                <!-- <a class="learner-sidebar-option" href="/settings/">
                    <i class="fa-light fa-gear"></i>
                    <span> Settings </span>
                </a> -->
            </div>
            {% if user.profile.role == 'Admin' %}
                <h6>Administrator</h6>
                <div class="learner-sidebar-section">
                    <a class="learner-sidebar-option" href="/admin/dashboard/">
                        <i class="fa-light fa-toolbox"></i>
                        <span> Admin  </span>
                    </a>
                    {% if dashboard %}
                        <a class="learner-sidebar-option" href="/admin/templates/dashboards/{{dashboard.id}}/edit/">
                            <i class="fa-light fa-rectangle-history"></i>
                            <span> View Template </span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="learner-sidebar-bottom"></div>
    </div>
</div>