<div class="course-header-container">
    <div class="course-header-container-left">
        <div class="course-title-wrapper tooltip" data-tooltip="Online Course"> 
            <div class="course-type-icon online-course">
                <i class="fa-solid fa-signal-bars"></i>         
            </div>
            <span class="course-title" id="courseTitle"> {{ course_title }}</span>
            <span class="tooltip"></span>
        </div>
    </div>
    <div class="course-header-container-right"></div>
</div>