<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://kit.fontawesome.com/0bbcd9bc36.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% if settings.portal_favicon %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.portal_favicon.url }}">
    {% else %}
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images\favicon\16x16.png' %}">
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Course</title>
    <link rel="stylesheet" href="{% static 'global_styles.css' %}">
    <link rel="stylesheet" href="{% static 'global_variables.css' %}">
    <link rel="stylesheet" href="{% static 'client_admin\css\admin.css' %}">
    <script src="{% static 'client_admin\javascript\admin_sidebar.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'client_admin\javascript\sticky_nav.js' %}"></script>
    <script src="{% static 'client_admin\javascript\tabs.js' %}"></script>
    <script src="{% static 'client_admin\javascript\message_container.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="{% static 'mobile_styles.css' %}">
    <link rel="stylesheet" href="{% static 'course_player\javascript\css\course_player.css' %}">
    <script src="{% static 'course_player/javascript/course_player_functions.js' %}?v=2"></script>
    <link rel="stylesheet" href="{% static 'learner_dashboard\css\learner.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-circle-progress/dist/circle-progress.min.js" type="module"></script>
</head>
<body class="course-body-container">
    {% include 'course_viewer/course_header.html' %}
    <div class="course-body-container-inner">
        {% block content %}{% endblock %}
        {% include 'course_viewer/course_sidebar.html' %}
    </div>   
    {% include 'course_viewer/course_footer.html' %}
</body>
</html>
<script>
    let flatpickr_format = '{{ flatpickr_format }}';
</script>