<div class="course-header-container">
    <div class="course-header-container-left">
        <div class="course-title-wrapper"> 
            <div class="course-type-icon online-course tooltip" data-tooltip="Online Course">
                <i class="fa-solid fa-signal-bars"></i>
                <!-- <span class="tooltiptext" style="left: 200%;"></span>          -->
            </div>
            <span class="course-title" id="courseTitle"> {{ course_title }}</span>
        </div>
    </div>
    <div class="course-header-container-right">
        <a href="/courses/" class="exit-course-container">
            <i class="fa-light fa-person-to-door"></i>
            <span>Exit Course</span>
        </a>
    </div>
</div>