{% load custom_filters %}
<input type="hidden" id="courseId" value="{{ user_course.course.id }}">
<div class="course-footer-container">
    <div class="course-footer-container-left">
        <div id="courseFooterTabs" class="tabs-container">
            <div class="course-footer-top-container">
                <div class="tabs">
                    <button class="tab active" data-target="tab1">
                        <i class="fa-light fa-globe"></i>
                        <span>Overview</span>
                    </button>
                    <button class="tab" data-target="tab2">
                        <i class="fa-light fa-photo-film"></i>
                        <span>Lessons</span>
                    </button>
                    {% if user_course.course.resources.exists and user_course.course.referencesEnabled %}
                        <button class="tab" data-target="tab3">
                            <i class="fa-light fa-link"></i>
                            <span>Reference Materials</span>
                        </button>
                    {% endif %}
                    {% if user_course.course.uploads.exists and user_course.course.uploadsEnabled %}
                        <button class="tab" data-target="tab4">
                            <i class="fa-light fa-flag"></i>
                            <span>Assignments</span>
                        </button>
                    {% endif %}
                    <div class="tab-indicator"></div>
                </div>
                <div class="course-footer-container-right">
                    <button style="margin-right: 1rem;" id="toggleFooterBtn" onclick="openCourseDetails()" style="padding: 7px var(--pad-med);" class="action-button-border">
                        <i class="fa-light fa-arrows-from-dotted-line"></i>
                        <span>Expand</span>
                    </button> 
                    <div class="footer-buttons-container">
                        {% if prev_lesson %}
                            <button type="button" id="prevLessonBtn" class="course-button-primary" onclick="launchPrevLesson({{ prev_lesson.id }})" title="Previous Lesson">
                                <i class="fa-light fa-caret-left"></i>
                                <span>Previous</span> <span class="footer-button-lesson-text">Lesson</span>
                            </button>
                        {% endif %}
            
                        {% if next_lesson %}
                            <button type="button" id="nextLessonBtn" class="course-button-primary" onclick="launchNextLesson({{ next_lesson.id }})" title="Next Lesson">
                                <span>Next</span> <span class="footer-button-lesson-text">Lesson</span>
                                <i class="fa-light fa-caret-right"></i>
                            </button>
                        {% else %}
                            <button type="button" id="finishCourseBtn" class="course-button-primary" onclick="window.location.href='{% url 'learner_dashboard' %}'" style="display: none;">
                                Finish Course
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        
            <div class="tab-content-container">
                <div class="tab-content active scrollable-content-inner" id="tab1">
                    <div class="row-course-item">
                        <div class="course-item-top">                         
                            {% if user_course.course.thumbnail.thumbnail_link %}
                                <div style="background-image: url({{ user_course.course.thumbnail.thumbnail_link }});" class="course-item-thumbnail"></div>
                            {% elif user_course.course.thumbnail.thumbnail_image %}
                                <div style="background-image: url({{ user_course.course.thumbnail.thumbnail_image.url }});" class="course-item-thumbnail"></div>
                            {% else %}
                                {% if settings.default_course_thumbnail %}
                                    <div style="background-image: url({{ settings.default_course_thumbnail_image.url }});" class="course-item-thumbnail"></div>
                                {% else %}
                                    <div class="course-item-thumbnail">
                                        <div class="thumbnail-placeholder">
                                            <i class="fa-light fa-book-open-cover"></i>
                                        </div>
                                    </div> 
                                {% endif %}                                  
                            {% endif %}
                        </div>
                        
                        <div class="course-item-inner">
                            <div class="course-item-body">
                                <div class="course-item-type-wrapper">
                                    {% if user_course.course.type == 'online' %}
                                        <div class="course-item-footer-item">
                                            <div class="course-type-icon online-course">
                                                <i class="fa-solid fa-signal-bars"></i>         
                                            </div>    
                                            <span> Online Course </span>     
                                        </div>
                                    {% else %}
                                        <div class="course-item-footer-item">
                                            <div class="course-type-icon inperson-course">
                                                <i class="fa-solid fa-chalkboard-user"></i>         
                                            </div>    
                                            <span> In-Person Course </span>     
                                        </div>
                                    {% endif %}
                                </div>
                                
                                <h4 class="course-item-title limit-text-wrap">{{ user_course.course.title }}</h4>
                                <!-- <div class="course-item-progress-container">
                                    <div class="course-item-progress-bar-container">
                                        <div class="course-item-progress-bar" style="width: {{ user_course.progress }}%;"></div>
                                    </div>
                                    <span>{{ user_course.progress }}%</span>
                                </div> -->
                                
                            </div>
                            <div class="course-item-footer">
                                <div class="course-item-footer-item">
                                    <i class="fa-regular fa-photo-film"></i>
                                    {% if user_course.course.get_lesson_count > 1 %}
                                        <span>{{ user_course.course.get_lesson_count }} Lessons</span> 
                                    {% else %}
                                        <span>{{ user_course.course.get_lesson_count }} Lesson</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="course-item-bottom">
                            <div class="bottom-row-item">
                                <h4>Progress</h4>
                                <div class="bottom-row-data-item">
                                    <circle-progress id="courseProgress" text-format="percent" max="100" value="{{ user_course.progress }}"></circle-progress>
                                    <span>{{ user_course.progress }}%</span>
                                </div>
                            </div>
                        </div>         
                    </div>
                    {% if user_course.course.description != '<p><br></p>' and user_course.course.description %}
                        <div class="tab-content-description">
                            <div class="description-wrapper">
                                <div class="description-content">
                                    {{ user_course.course.description|safe }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if user_course.get_start_date or user_course.get_due_date or user_course.get_expiration_date %}
                        <div class="tab-content-event-dates">
                            {% if user_course.get_start_date %}
                                <div class="tab-content-event-dates-item">
                                    <div class="tab-content-event-dates-item-top">
                                        <i class="fa-regular fa-calendar-star"></i>
                                        <span>Start Date</span>
                                    </div>
                                    <span class="event-dates-subtext"> {{ user_course.get_start_date }} </span>
                                </div>
                            {% endif %}
                            {% if user_course.get_due_date %}
                                <div class="tab-content-event-dates-item">
                                    <div class="tab-content-event-dates-item-top">
                                        <i class="fa-regular fa-calendar-exclamation"></i>
                                        <span>Due Date</span>
                                    </div>
                                    <span class="event-dates-subtext"> {{ user_course.get_due_date }} </span>
                                </div>
                            {% endif %}
                            {% if user_course.get_expiration_date %}
                                <div class="tab-content-event-dates-item">
                                    <div class="tab-content-event-dates-item-top">
                                        <i class="fa-regular fa-calendar-clock"></i>
                                        <span>Expiration Date</span>
                                    </div>
                                    <span class="event-dates-subtext"> {{ user_course.get_expiration_date }} </span>
                                </div>                                         
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="tab-content scrollable-content-inner" id="tab2">
                    <div id="lessonList">
                        {% for module in modules_with_lessons %}
                            <div class="details-info-card">
                                <div class="module-card-header collapsable-header">
                                    <div class="card-header-left">
                                        <div class="module-title" title="{{ module.title }}">
                                            <span>{{ forloop.counter }}. {{ module.title }}</span>
                                        </div>
                                    </div>
                                    <div class="lesson-completion-counter" data-module-id="{{ module.id }}">
                                        <span>0/0</span>
                                    </div>
                                    <div class="card-header-right active">
                                        <i class="fa-regular fa-angle-down"></i>
                                    </div>
                                </div>
                                <div class="info-card-body hidden">                         
                                    <div class="module-lessons-section">
                                        {% for lesson in module.lessons.all %}
                                            <button class="lesson-item" data-lesson-id="{{ lesson.id }}" onclick="launchLessonById({{ lesson.id }})">
                                                <div class="lesson-item-left">
                                                    <div class="lesson-item-number">
                                                        <span>{{ forloop.counter }}</span>
                                                    </div>
                                                    <div class="lesson-item-text" title="{{ lesson.title }}">
                                                        <span>{{ lesson.title }}</span>
                                                    </div>
                                                </div>
                                                <div class="lesson-item-right"></div>
                                            </button>

                                            {% with lesson_assignment_map|get_item:lesson.id as assignments %}
                                                {% if assignments %}
                                                    <div class="lesson-assignments-list hidden">
                                                        {% for pair in assignments %}
                                                            <button onclick="openAssignment({{ pair.assignment.id }}, {{ pair.lesson.id }})" class="assignment-item {% if pair.locked %}disabled locked{% endif %} {{ pair.status }}" {% if pair.locked %}disabled{% endif %} data-assignment-id="{{ pair.assignment.id }}" {% if pair.lesson.id %}data-lesson-id="{{ pair.lesson.id }}"{% endif %}>
                                                                <div title="{{ pair.assignment.title }}" class="assignment-item-left">
                                                                    <i class="fa-regular fa-flag"></i>
                                                                    <span>{{ pair.assignment.title }}</span>
                                                                </div>
                                                                <div class="assignment-item-right">
                                                                    {% if pair.locked %}
                                                                        <div class="assignment-locked-icon">
                                                                            <i class="fa-solid fa-lock"></i>
                                                                        </div>
                                                                    {% elif pair.status == 'approved' %}
                                                                        <div class="assignment-complete-icon">
                                                                            <i class="fa-regular fa-circle-check"></i>
                                                                        </div>
                                                                    {% elif pair.status == 'submitted' %}
                                                                        <div class="assignment-submitted-icon">
                                                                            <i class="fa-regular fa-clock"></i>
                                                                        </div>
                                                                    {% elif pair.status == 'rejected' %}
                                                                        <div class="assignment-rejected-icon">
                                                                            <i class="fa-regular fa-circle-xmark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </button>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>                 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-content scrollable-content-inner" id="tab3">
                    <div class="course-resources-container">
                        {% for resource in user_course.course.resources.all %}
                            {% if resource.type == 'reference' %}
                                <a href="{{ resource.url }}" target="_blank" class="reference-item">
                                    <div class="reference-item-left">
                                        <div class="reference-icon pastel-blue">
                                            {% if resource.file_type == 'pdf' %}
                                                <i class="fa-light fa-file-pdf"></i>
                                            {% elif resource.file_type == 'audio' %}
                                                <i class="fa-light fa-volume"></i>
                                            {% elif resource.file_type == 'image' %}
                                                <i class="fa-light fa-image"></i>
                                            {% elif resource.file_type == 'video' %}
                                                <i class="fa-light fa-film"></i>
                                            {% elif resource.file_type == 'document' %}
                                                <i class="fa-light fa-file-doc"></i>
                                            {% endif %}
                                        </div>
                                        <div class="reference-text">
                                            <h4>{{ resource.title }}</h4>
                                            {% if resource.description != '<p><br></p>' %}
                                                <span class="popup-header-subtext">{{ resource.description|safe }}</span>
                                            {% endif %}
                                            <!-- <span>{{ resource.file_type }}</span> -->
                                        </div>
                                    </div>
                                    <div class="reference-item-right">
                                        <i class="fa-regular fa-arrow-up-right-from-square"></i>
                                    </div>                             
                                </a>                                                    
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-content scrollable-content-inner" id="tab4">
                    <div class="course-assignments-container">
                        {% if full_course_assignments %}
                            <div class="assignments-container">
                                <div class="assignments-top-row">
                                    <div class="assignments-top-row-left">
                                        <h3>Full-Course Assignments</h3>
                                        <span class="popup-header-subtext">Assignments that can be completed at any time</span>
                                    </div>
                                    <div class="assignments-top-row-right">
                                        <span>{{ full_course_assignments|length }}</span>
                                    </div>
                                </div>
                                <div class="assignments-body">
                                    {% for assignment in full_course_assignments %}
                                        <button onclick="openAssignment({{ assignment.id }})"
                                                class="assignment-item {{ assignment.status }}"
                                                data-assignment-id="{{ assignment.id }}">
                                            <div class="assignment-item-left">
                                                <i class="fa-regular fa-flag"></i>
                                                <span>{{ assignment.title }}</span>
                                            </div>
                                            <div class="assignment-item-right">
                                                {% if assignment.status == 'approved' %}
                                                    <div class="assignment-complete-icon">
                                                        <i class="fa-solid fa-circle-check"></i>
                                                    </div>
                                                {% elif assignment.status == 'submitted' %}
                                                    <div class="assignment-submitted-icon">
                                                        <i class="fa-regular fa-clock"></i>
                                                    </div>
                                                {% elif assignment.status == 'rejected' %}
                                                    <div class="assignment-rejected-icon">
                                                        <i class="fa-regular fa-circle-xmark"></i>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if ordered_lesson_assignment_pairs %}
                            <div class="assignments-container">
                                <div class="assignments-top-row">
                                    <div class="assignments-top-row-left">
                                        <h3>Lesson-Specific Assignments</h3>
                                        <span class="popup-header-subtext">These assignments are tied to lessons</span>
                                    </div>
                                    <div class="assignments-top-row-right">
                                        <span>{{ ordered_lesson_assignment_pairs|length }}</span>
                                    </div>
                                </div>
                                <div class="assignments-body">
                                    {% for pair in ordered_lesson_assignment_pairs %}
                                        <button onclick="openAssignment({{ pair.assignment.id }}, {{ pair.lesson.id }})" class="assignment-item {% if pair.locked %}disabled locked{% endif %} {{ pair.status }}" {% if pair.locked %}disabled{% endif %} data-assignment-id="{{ pair.assignment.id }}" {% if pair.lesson.id %}data-lesson-id="{{ pair.lesson.id }}"{% endif %}>
                                            <div class="assignment-item-left">
                                                <i class="fa-regular fa-flag"></i>
                                                <span>{{ pair.assignment.title }} ({{ pair.lesson.title }})</span>
                                            </div>
                                            <div class="assignment-item-right">
                                                {% if pair.locked %}
                                                    <div class="assignment-locked-icon">
                                                        <i class="fa-solid fa-lock"></i>
                                                    </div>
                                                {% elif pair.status == 'approved' %}
                                                    <div class="assignment-complete-icon">
                                                        <i class="fa-solid fa-circle-check"></i>
                                                    </div>
                                                {% elif pair.status == 'submitted' %}
                                                    <div class="assignment-submitted-icon">
                                                        <i class="fa-regular fa-clock"></i>
                                                    </div>
                                                {% elif pair.status == 'rejected' %}
                                                    <div class="assignment-rejected-icon">
                                                        <i class="fa-regular fa-circle-xmark"></i>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let course_progress = parseInt('{{ user_course.progress }}', 10);
    let stored_progress = parseInt('{{ user_course.stored_progress }}', 10);

    /* Progress Bar Styling */
    const courseProgress = document.getElementById('courseProgress');
    if (courseProgress) {
        /* course_progress comes from the HTML */
        courseProgress.setAttribute('value', course_progress);
    } 
</script>