<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <script src="https://kit.fontawesome.com/0bbcd9bc36.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.portal_favicon.url }}">
    <title>Confirm Reset Password</title>
</head>
<body>
    <div class="body-content true-login-container">
        <div class="login-container">
            <!-- This is the real login form  -->
            <div class="login-form-body-wrapper scrollable-content" style=" {% if login_form.layout == 'layout3' %} flex-direction: row; {% elif login_form.layout == 'layout1' %} flex-direction: row-reverse; {% endif %}" data-item-to-update="loginformwrapper">
                <div class="login-form-background" style="{% if login_form.is_background_disabled %} background-image: url({{ login_form.background_image }}); {% endif %} background-color: {{ login_form.background_color }}; background-position: {{ login_form.background_position }}; background-repeat: {{ login_form.background_repeat }}; background-size: {{ login_form.background_size }};" data-item-to-update="background"></div>
                <div class="login-form-content {{ login_form.layout }}" data-item-to-update="loginform" style="background-color: {{ login_form.form_background_color }}; {% if login_form.form_background_image and login_form.form_background_image != 'None'%} background-image: url({{ login_form.form_background_image }}){% endif %}; border-radius: {{ login_form.form_radius }}px; max-width: {{ login_form.form_max_width }}px; box-shadow: rgba(0, 0, 0, {{ login_form.form_shadow_opacity}}%) 0px 0px {{ login_form.form_shadow}}px; padding-top: {{ login_form.form_padding_top}}px; padding-right: {{ login_form.form_padding_right}}px; padding-bottom: {{ login_form.form_padding_bottom}}px; padding-left: {{ login_form.form_padding_left}}px; border-width: {{ login_form.form_border_width }}px; border-style: {{ login_form.form_border_style }}; border-color: {{ login_form.form_border_color }};">
                    <!-- <div class="login-form-logo-wrapper">
                        <a href="{{ login_form.logo_url }}" class="login-form-logo {% if login_form.is_logo_disabled %} hidden {% endif %}" style=" background-image: url({{ login_form.login_logo }}); width: {{ login_form.logo_width }}px; height: {{ login_form.logo_height }}px; margin-bottom: {{ login_form.logo_space_bottom}}px;" data-item-to-update="logo"></a>
                    </div> -->
                    {% if messages %}
                        <div class="lesson-alert-container">
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="lesson-alert lesson-alert-{{ message.tags }}">
                                        <i class="fa-solid fa-circle-check"></i>
                                        {{ message }}
                                    </div>
                                {% elif message.tags == 'error' %}
                                    <div class="lesson-alert lesson-alert-{{ message.tags }}">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-heading-wrapper" style="margin-bottom: {{ login_form.logo_space_bottom}}px;">
                        <h1> Confirmation Code and New Password </h1>
                        <h6> We've sent a confirmation code to <b style="color: #41454d;">{{ request.session.reset_email }}</b>. Please enter this code within the field below, then enter your new password. </h6>
                    </div>
                    
                    <form id="confirmPasswordresetForm" class="login-form-inputs-container" method="post" action="{% url 'confirm_password_reset' %}">
                        {% csrf_token %}
                        <div class="login-form-inputs-wrapper" style="gap: {{ login_form.input_space_between }}px;">
                            <div class="login-form-field" style="width: {{ login_form.input_width }}%;">
                                <label for="email" style="color: {{ login_form.label_color}}; font-size: {{ login_form.label_font_size }}px; font-weight: {{ login_form.label_font_weight }}; padding-bottom: {{ login_form.label_space_bottom }}px;">Email Address:</label>
                                <input type="email" name="email" value="{{ request.session.reset_email }}" style="cursor: not-allowed; padding-top: {{ login_form.input_padding_top}}px; padding-right: {{ login_form.input_padding_right}}px; padding-bottom: {{ login_form.input_padding_bottom}}px; padding-left: {{ login_form.input_padding_left}}px; background-color: {{ login_form.input_background_color}}; color: {{ login_form.input_text_color}}; border-color: {{ login_form.input_border_color }}; border-radius: {{ login_form.input_radius }}px; font-size: {{ login_form.input_font_size}}px;" required readonly>
                            </div>
                            <div class="login-form-field" style="width: {{ login_form.input_width }}%;">
                                <label for="code" style="color: {{ login_form.label_color}}; font-size: {{ login_form.label_font_size }}px; font-weight: {{ login_form.label_font_weight }}; padding-bottom: {{ login_form.label_space_bottom }}px;">Confirmation Code:</label>
                                <input type="text" name="code" style="padding-top: {{ login_form.input_padding_top}}px; padding-right: {{ login_form.input_padding_right}}px; padding-bottom: {{ login_form.input_padding_bottom}}px; padding-left: {{ login_form.input_padding_left}}px; background-color: {{ login_form.input_background_color}}; color: {{ login_form.input_text_color}}; border-color: {{ login_form.input_border_color }}; border-radius: {{ login_form.input_radius }}px; font-size: {{ login_form.input_font_size}}px;" required>
                                <span class="course-content-input-subtext"> Please enter the code you received in your email.</span>
                            </div>
                            <div class="login-form-field" style="width: {{ login_form.input_width }}%;">
                                <label for="new_password" style="color: {{ login_form.label_color}}; font-size: {{ login_form.label_font_size }}px; font-weight: {{ login_form.label_font_weight }}; padding-bottom: {{ login_form.label_space_bottom }}px;">New Password:</label>
                                <input type="password" name="new_password" style="padding-top: {{ login_form.input_padding_top}}px; padding-right: {{ login_form.input_padding_right}}px; padding-bottom: {{ login_form.input_padding_bottom}}px; padding-left: {{ login_form.input_padding_left}}px; background-color: {{ login_form.input_background_color}}; color: {{ login_form.input_text_color}}; border-color: {{ login_form.input_border_color }}; border-radius: {{ login_form.input_radius }}px; font-size: {{ login_form.input_font_size}}px;" required>
                            </div>
                        </div>
                        
                        <div class="login-form-footer-container">
                            <button id="loginFormButton" type="submit" class="login-form-button scale-button" style="background-color: {{ login_form.button_color}}; color: {{ login_form.button_text }}; border-color: {{ login_form.button_border_color}}; margin-top: {{ login_form.button_space_above }}px; width: {{ login_form.button_width }}%; border-radius: {{ login_form.button_radius }}px; padding-top: {{ login_form.button_padding_top}}px; padding-right: {{ login_form.button_padding_right}}px; padding-bottom: {{ login_form.button_padding_bottom}}px; padding-left: {{ login_form.button_padding_left}}px; font-size: {{ login_form.button_font_size }}px; font-weight: {{ login_form.button_font_weight }};">Reset Password</button>
                            <div class="button-container {% if login_form.is_signup_disabled %} hidden {% endif %}" style="font-size: {{ login_form.signup_font_size }}px; margin-top: {{ login_form.signup_space_above }}px; font-weight: {{ login_form.signup_font_weight }};">
                                <span style="color: {{ login_form.signup_text_color }};"> Don't have an account? </span>
                                <a id="loginFormRegisterButton" href="{% url 'register_view' %}" class="scale-button" style="text-decoration: {{ login_form.signup_text_decoration }}; color: {{ login_form.signup_link_color }};"> Sign Up</a>
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<link rel="stylesheet" href="{% static 'custom_dashboard/css/login.css' %}">
<link rel="stylesheet" href="{% static 'client_admin/css/user_details.css' %}">
<link rel="stylesheet" href="{% static 'global_styles.css' %}">
<link rel="stylesheet" href="{% static 'global_variables.css' %}">
<link rel="stylesheet" href="{% static 'client_admin\css\admin.css' %}">
<script src="{% static 'custom_dashboard/javascript/login.js' %}"></script>
<script> 
    let buttonBackgroundHover = '{{ login_form.button_color_hover }}';
    let buttonBackground = '{{ login_form.button_color }}';  
    let buttonColorHover = '{{ login_form.button_text_hover }}';
    let buttonColor = '{{ login_form.button_text }}';
    let buttonBorderHover = '{{ login_form.button_border_color_hover }}';
    let buttonBorder = '{{ login_form.button_border_color }}';

    let forgetColor = '{{ login_form.forgot_link_color }}';
    let forgetColorHover = '{{ login_form.forgot_link_color_hover }}';
    let forgotTextDecoration = '{{ login_form.forgot_text_decoration }}';
    let forgotTextDecorationHover = '{{ login_form.forgot_text_decoration_hover }}';

    let signupColor = '{{ login_form.signup_link_color }}';
    let signupColorHover = '{{ login_form.signup_link_color_hover }}';
    let signupTextDecoration = '{{ login_form.signup_text_decoration }}';
    let signupTextDecorationHover = '{{ login_form.signup_text_decoration_hover }}';
</script>


{% endblock %}