<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.102.0/aws-sdk.min.js"></script>
</head>
<body>
    <div class="body-content">
        <div class="login-container">
            <div class="loginForm">
                <h1>Login</h1>
                <form id="loginForm" class="form-field" method="post" action="{% url 'login_view' %}">
                    {% csrf_token %}
                    <div class="login-form-field">
                        <label for="username_or_email">Username or Email:</label>
                        <input type="text" id="id_username_or_email" name="username_or_email" required>
                    </div>
                    <div class="login-form-field">
                        <label for="id_password">Password:</label>
                        <input type="password" id="id_password" name="password" required>
                    </div>
                    <button type="submit" class="scale-button">Login</button>
                </form>                
                <div class="button-container">
                    <a href="{% url 'register_view' %}" class="scale-button">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
