<div id="optionsSidebar" class="options-sidebar-container">
    <div class="options-sidebar-header">
        <div class="options-sidebar-icon pastel-yellow">
            <i class="fa-light fa-sliders"></i>
        </div>
        <div class="options-sidebar-title">
            <h6>Table options</h6>
            <span> Select an option below</span>
        </div>
    </div>
    <!-- Ensure that you are matching this ID with a data Attribute in the Table to set the URL -->
    <div id="singleOptionsSelect" class="options-sidebar-body">
        <div id="data-details" class="options-sidebar-item">
            <i class="fa-light fa-pencil"></i>
            <span>Edit Quiz</span>
        </div>
        <div id="data-delete-courses" class="options-sidebar-item">
            <i class="fa-light fa-trash-can"></i>
            <span>Delete</span>
        </div>
    </div>
    <div id="multiOptionsSelect" class="options-sidebar-body">
        <div id="data-delete-courses" class="options-sidebar-item">
            <i class="fa-light fa-trash-can"></i>
            <span>Delete</span>
        </div>
    </div>
</div> 