<div id="optionsSidebar" class="options-sidebar-container">
    <div class="options-sidebar-header">
        <div class="options-sidebar-icon pastel-yellow">
            <i class="fa-regular fa-sliders"></i>
        </div>
        <div class="options-sidebar-title">
            <h6>Table options</h6>
            <span> Select an option below</span>
        </div>
    </div>
    <div id="singleOptionsSelect" class="options-sidebar-body">
        <div id="singleEditUser" class="options-sidebar-item">
            <i class="fa-light fa-user-pen"></i>
            <span>Edit user</span>
        </div>
        <div id="singleEnrollUser" class="options-sidebar-item">
            <i class="fa-light fa-hand-holding-box"></i>
            <span>Enroll user</span>
        </div>
        <div class="options-sidebar-item">
            <i class="fa-light fa-memo-pad"></i>
            <span>View Transcript</span>
        </div>
        <div class="options-sidebar-item">
            <i class="fa-light fa-masks-theater"></i>
            <span>Impersonate</span>
        </div>
        <div class="options-sidebar-item">
            <i class="fa-light fa-trash"></i>
            <span>Delete</span>
        </div>
    </div>
    <div id="multiOptionsSelect" class="options-sidebar-body">
        <div class="options-sidebar-item">
            <i class="fa-light fa-hand-holding-box"></i>
            <span>Enroll users</span>
        </div>
        <div class="options-sidebar-item">
            <i class="fa-light fa-trash"></i>
            <span>Delete</span>
        </div>
    </div>
</div> 