<div id="optionsSidebar" class="options-sidebar-container">
    <div class="options-sidebar-header">
        <div class="options-sidebar-icon pastel-yellow">
            <i class="fa-regular fa-sliders"></i>
        </div>
        <div class="options-sidebar-title">
            <h6>Table options</h6>
            <span> Select an option below</span>
        </div>
    </div>
    <!-- Ensure that you are matching this ID with a data Attribute in the Table to set the URL -->
    <div id="singleOptionsSelect" class="options-sidebar-body">
        <div id="data-details" class="options-sidebar-item">
            <i class="fa-regular fa-users-viewfinder"></i>
            <span>View user</span>
        </div>
        <div id="data-enroll-users" class="options-sidebar-item">
            <i class="fa-regular fa-hand-holding-box"></i>
            <span>Enroll user</span>
        </div>
        <div id="data-message-users" class="options-sidebar-item">
            <i class="fa-regular fa-messages"></i>
            <span>Message user</span>
        </div>
        <div id="data-transcript" class="options-sidebar-item">
            <i class="fa-regular fa-memo-pad"></i>
            <span>View Transcript</span>
        </div>
        <div id="data-history" class="options-sidebar-item">
            <i class="fa-regular fa-clock-rotate-left"></i>
            <span>View History</span>
        </div>
        <div id="impersonate-user" class="options-sidebar-item">
            <i class="fa-regular fa-masks-theater"></i>
            <span>Impersonate</span>
        </div>
        <div id="data-delete-users" class="options-sidebar-item">
            <i class="fa-regular fa-trash"></i>
            <span>Delete</span>
        </div>
    </div>
    <div id="multiOptionsSelect" class="options-sidebar-body">
        <div id="data-enroll-users" class="options-sidebar-item">
            <i class="fa-regular fa-hand-holding-box"></i>
            <span>Enroll users</span>
        </div>
        <div id="data-message-users" class="options-sidebar-item">
            <i class="fa-regular fa-messages"></i>
            <span>Message users</span>
        </div>
        <div id="data-delete-users" class="options-sidebar-item">
            <i class="fa-regular fa-trash"></i>
            <span>Delete</span>
        </div>
    </div>
</div> 