{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-{{ message.tags }}">
                        <i class="fa-solid fa-circle-check"></i>
                        {{ message }}
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-{{ message.tags }}">
                        <i class="fa-solid fa-circle-xmark"></i>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div id="stickyNavBar">
        <div class="details-top-row max-width-0">
            <div class="details-top-row-left">
                <button type="button" onclick="handleBackButton()" class="back-btn dynamic-back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <h3> Add New User </h3>
            </div>
            <div class="details-top-row-right">
                <button type="submit" class="action-button-primary submit-form-button scale-button">
                    <i class="fa-regular fa-paper-plane"></i>
                    <span>Create User</span>
                </button>
            </div>
        </div>
    </div>
    <div class="admin-body align-center">
        <div class="max-width-0">
            <form id="addUserForm" method="post" action="{% url 'add_user'%}" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="mainNavBar" class="details-top-row">
                    <div class="details-top-row-left">
                        <button type="button" onclick="handleBackButton()" class="back-btn dynamic-back-btn">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <h3> Add New User </h3>
                    </div>
                    <div class="details-top-row-right">
                        <button type="submit" class="action-button-primary submit-form-button scale-button">
                            <i class="fa-regular fa-paper-plane"></i>
                            <span>Create User</span>
                        </button>
                    </div>
                </div>
                <div class="learner-info-section" style="padding-top: var(--pad-lg); display: flex; flex-wrap: wrap; flex-direction: column;">
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-lock"></i>
                                <span> Login Credentials </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">                         
                            <div class="learner-card-wrapper">                          
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="username">Username<span class="required-asterisk">*</span></label>
                                        <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="password">Password<span class="required-asterisk">*</span></label>
                                        <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-fingerprint"></i>
                                <span> Identification Images </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">                         
                            <div class="learner-card-wrapper">                          
                                <div class="edit-images-row edit-user-row">
                                    <div class="edit-image">
                                        <label class="edit-user-label" for="passportphoto" style="padding: 0;">Headshot Photo<span class="required-asterisk">*</span></label>
                                        
                                        <label for="passportphoto" class="custom-file-upload-container">
                                            <div class="custom-file-upload">
                                                <input type="file" id="passportphoto" name="passportphoto" accept="image/*" style="display: none;" required>
                                                <i class="fa-regular fa-arrow-up-from-bracket"></i> Choose File
                                            </div>
                                            <div class="custom-file-title">                                              
                                                <span id="passportphotoNameDisplay" class="file-name-display">No file selected</span>                                            
                                            </div>
                                        </label> 
                                    </div>
                                    <div class="edit-image">
                                        <label class="edit-user-label" for="photoid" style="padding: 0;">Identification Image<span class="required-asterisk">*</span></label>
                                        
                                        <label for="photoid" class="custom-file-upload-container">
                                            <div class="custom-file-upload">
                                                <input type="file" id="photoid" name="photoid" accept="image/*" style="display: none;" required>
                                                <i class="fa-regular fa-arrow-up-from-bracket"></i> Choose File
                                            </div>
                                            <div class="custom-file-title">                                               
                                                <span id="photoidNameDisplay" class="file-name-display">No file selected</span>                                                                         
                                            </div>
                                        </label> 
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-head-side-gear"></i>
                                <span> General </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">                         
                            <div class="learner-card-wrapper">
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="first_name">First Name<span class="required-asterisk">*</span></label>
                                        <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="last_name">Last Name<span class="required-asterisk">*</span></label>
                                        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="email">Email<span class="required-asterisk">*</span></label>
                                        <input type="email" id="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="associate_school">Associate School</label>
                                        <input type="text" id="associate_school" name="associate_school" placeholder="Associate School">
                                    </div>                                    
                                </div>
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="role">Role</label>
                                        <div class="custom-select margin-0">
                                            <i class="fa-light fa-angles-up-down"></i>     
                                            <input class="select-selected" type="text" id="role" name="role" placeholder="Role" readonly>
                                            <div class="select-items scrollable-content" style="display: none;">
                                                <div class="select-item" data-name="role" data-value="Student">Student</div>
                                                <div class="select-item" data-name="role" data-value="Auditor">Auditor</div>
                                                <div class="select-item" data-name="role" data-value="Instructor">Instructor</div>
                                                <div class="select-item" data-name="role" data-value="Admin">Admin</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="archived">Archived</label>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="archived" name="archived" placeholder="Archived">
                                            <div class="toggle-switch-background">
                                              <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div> 
                            </div>                 
                        </div>
                    </div>
                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-address-book"></i>
                                <span> Contact </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">                         
                            <div class="learner-card-wrapper">                          
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="country">Country</label>
                                        <input type="text" id="country" name="country" placeholder="Country">
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="city">City</label>
                                        <input type="text" id="city" name="city" placeholder="City">
                                    </div>
                                </div>
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="state">State</label>
                                        <input type="text" id="state" name="state" placeholder="State">
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="address_1">Address</label>
                                        <input type="text" id="address_1" name="address_1" placeholder="Address">
                                    </div>
                                </div>
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="code">Zip Code</label>
                                        <input type="text" id="code" name="code" placeholder="Zip Code">
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="phone">Phone</label>
                                        <input type="text" id="phone" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>

                    <div class="details-info-card">
                        <div class="info-card-header collapsable-header">
                            <div class="card-header-left">
                                <i class="fa-regular fa-dice-two"></i>
                                <span> Other </span>
                            </div>
                            <div class="card-header-right">
                                <i class="fa-regular fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="info-card-body">                         
                            <div class="learner-card-wrapper">                          
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="citizenship">Citizenship</label>
                                        <input type="text" id="citizenship" name="citizenship" placeholder="Citizenship">
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="initials">Initials</label>
                                        <input type="text" id="initials" name="initials" placeholder="Initials">
                                    </div>
                                </div>
                                <div class="edit-user-row">
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="birth_date">Date of Birth</label>
                                        <div class="edit-user-input">
                                            <input type="text" id="birth_date" name="birth_date" class="date-picker" placeholder="Date of Birth">
                                            <span class="input-group-addon">
                                                <i class="fa-regular fa-calendar-lines"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="edit-user-input">
                                        <label class="edit-user-label" for="sex">Gender</label>
                                        <input type="text" id="sex" name="sex" placeholder="Gender">
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('photoid').addEventListener('change', function() {
            const fileName = this.files[0] ? this.files[0].name : 'No file selected';
            document.getElementById('photoidNameDisplay').textContent = fileName;
        });

        document.getElementById('passportphoto').addEventListener('change', function() {
            const fileName = this.files[0] ? this.files[0].name : 'No file selected';
            document.getElementById('passportphotoNameDisplay').textContent = fileName;
        });

        // Select all elements with the class 'alert'
        var alerts = document.querySelectorAll('.alert-container');

        // Loop through each alert and add a new class if the alert is visible
        alerts.forEach(function(alert) {
            // Check if the alert is visible
            if (window.getComputedStyle(alert).display !== 'none') {
                // Add a class to the active alert
                alert.classList.add('animate-alert-container');
                setTimeout(() => {
                    alert.classList.remove('animate-alert-container');
                }, 8000);
            }
        });

        flatpickr(".date-picker", {
            altInput: true,
            altFormat: "F j, Y",  // Display format (e.g., "July 27, 1986")
            dateFormat: "Y-m-d",   // Format used for submission (e.g., "1986-07-27")
            allowInput: true       // Allow manual input
        });
    </script>
    <link rel="stylesheet" href="{% static 'client_admin\css\user_details.css' %}">
    <script src="{% static 'client_admin\javascript\user_details.js' %}"></script>
    <link rel="stylesheet" href="{% static 'content\css\content.css' %}">
{% endblock content %}