{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <div class="admin-body">
        <h1>Add User</h1>
        <form id="addUserForm" method="post" action="{% url 'add_user'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="add-user-row">
                <div class="add-user-input">
                    <label class="add-user-label" for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ profile.first_name }}">
                </div>
                <div class="add-user-input">
                    <label class="add-user-label" for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" value="{{ profile.last_name }}">
                </div>
            </div>
            <div class="add-user-row">
                <div class="add-user-input">
                    <label class="add-user-label" for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{ profile.username }}">
                </div>
                <div class="add-user-input">
                    <label class="add-user-label" for="password">Password</label>
                    <input type="password" id="password" name="password" value="{{ profile.password }}">
                </div>
                <div class="add-user-input">
                    <label class="add-user-label" for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ profile.email }}">
                </div>
                <div class="add-user-input">
                    <label class="add-user-label" for="associate_school">Associate School</label>
                    <input type="text" id="associate_school" name="associate_school" value="{{ profile.associate_school }}">
                </div>
            </div>
            <div class="add-user-input">
                <label class="add-user-label" for="role">Role</label>
                <input type="text" id="role" name="role" value="{{ profile.role }}">
            </div>
            <div class="add-user-input">
                <label class="add-user-label" for="archived">Archived</label>
                <label class="toggle-switch">
                    <input type="checkbox" id="archived" name="archived" {% if profile.archived %}checked{% endif %}>
                    <div class="toggle-switch-background">
                      <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
            <div class="body">
                <div class="add-user-header">
                    <div class="add-user-header-icon">
                        <i class="fa-regular fa-address-book"></i>
                    </div>
                    <h3> Contact </h3>
                </div>
                <div class="add-user-row">
                    <div class="add-user-input">
                        <label class="add-user-label" for="country">Country</label>
                        <input type="text" id="country" name="country" value="{{ profile.country }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="city">City</label>
                        <input type="text" id="city" name="city" value="{{ profile.city }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="address_1">Address 1</label>
                        <input type="text" id="address_1" name="address_1" value="{{ profile.address_1 }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="address_2">Address 2</label>
                        <input type="text" id="address_2" name="address_2" value="{{ profile.address_2 }}">
                    </div>
                </div>
                <div class="add-user-row">
                    <div class="add-user-input">
                        <label class="add-user-label" for="state">State</label>
                        <input type="text" id="state" name="state" value="{{ profile.state }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="code">Zip Code</label>
                        <input type="text" id="code" name="code" value="{{ profile.code }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" value="{{ profile.phone }}">
                    </div>
                </div>
                <div class="add-user-row">
                    <div class="add-user-input">
                        <label class="add-user-label" for="citizenship">Citizenship</label>
                        <input type="text" id="citizenship" name="citizenship" value="{{ profile.citizenship }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="initials">Initials</label>
                        <input type="text" id="initials" name="initials" value="{{ profile.initials }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="photoid">Photo ID</label>
                        <input type="file" id="photoid" name="photoid" value="{{ profile.photoid }}">
                    </div>
                    <div class="add-user-input">
                        <label class="add-user-label" for="passportphoto">Passport Photo</label>
                        <input type="file" id="passportphoto" name="passportphoto" value="{{ profile.passportphoto }}">
                    </div>
                </div>   
            </div>
            <div class="submit-button-container">
                <button class="submit-form-button scale-button" type="submit">
                    <i class="fa-kit fa-regular-user-pilot-circle-plus"></i>
                    <span>Create User</span>
                </button>
            </div>   
            <!-- Display messages if any -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
    {% include 'optionsSidebar/user_options_sidebar.html' %}
    {% include 'popups/filters_popup.html' %}
    <script src="{% static 'client_admin/javascript/admin.js' %}"></script>
{% endblock content %}