{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-{{ message.tags }}">
                        <i class="fa-solid fa-circle-check"></i>
                        {{ message }}
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-{{ message.tags }}">
                        <i class="fa-solid fa-circle-xmark"></i>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="admin-body align-center">
        <div class="max-width-0">
            <div class="details-top-row">
                <div class="details-top-row-left">
                    <button type="button" onclick="handleBackButton()" class="back-btn dynamic-back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <h3> User Overview </h3>
                </div>
                <div class="details-top-row-right">
                    <div class="option-btn-row">
                        <div class="option-btn" onclick="messageUserBtn()">
                            <i class="fa-regular fa-messages"></i>
                            <span> Message user</span>
                        </div>
                    </div>
                    <div class="option-btn-row">
                        <div class="option-btn" onclick="enrollUserBtn()">
                            <i class="fa-regular fa-hand-holding-box"></i>
                            <span> Enroll user</span>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'users/user_details_card.html' %}
            <div class="details-nav-menu">
                <a href="{% url 'user_details' profile.id %}" class="nav-menu-item active">
                    <i class="fa-light fa-globe"></i>
                    <span> Overview </span>
                </a>
                <a href="{% url 'user_transcript' profile.id %}" class="nav-menu-item">
                    <i class="fa-light fa-memo-pad"></i>
                    <span> Transcript </span>
                </a>
                <a href="{% url 'user_history' profile.id %}" class="nav-menu-item">
                    <i class="fa-light fa-clock-rotate-left"></i>
                    <span> History </span>
                </a>
            </div>
            <div class="details-info-section">
                <div class="details-info-card">
                    <div class="info-card-header">
                        <div class="card-header-left">
                            <i class="fa-regular fa-chart-line"></i>
                            <span> Enrollment Progress </span>
                        </div>
                        <div class="spacer"></div>
                    </div>
                    <div class="info-card-body">
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-truck-ramp-box"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Enrollments in Progress</h5>
                                    <span class="info-card-subheading">{{ total_in_progress }}</span>
                                </div>
                            </div>
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-boxes-stacked"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Total Enrollments </h5>
                                    <span class="info-card-subheading">{{ total_enrollments }}</span>
                                </div>
                            </div> 
                            <!-- <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-coin"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading">"Talent Bucks" Earned</h5>
                                    <span class="info-card-subheading">365</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <!-- <i class="fa-kit fa-light-box-taped-circle-check"></i> -->
                                    <i class="fa-light fa-box-open-full"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Enrollments Completed</h5>
                                    <span class="info-card-subheading">{{ total_completed }}</span>
                                </div>
                            </div>
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-kit fa-light-box-taped-clock"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Enrollments Expired </h5>
                                    <span class="info-card-subheading">{{ expired_enrollments }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details-info-card">
                    <div class="info-card-header">
                        <div class="card-header-left">
                            <i class="fa-regular fa-circle-info"></i>
                            <!-- <i class="fa-regular fa-user-graduate"></i> -->
                            <span> Learner Details </span>
                        </div>
                        <div class="spacer"></div>
                    </div>
                    <div class="info-card-body"> 
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-signature"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Username</h5>
                                    <span class="info-card-subheading"> {{ profile.username }} </span>
                                </div>
                            </div>
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-user"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Full Name</h5>
                                    <span class="info-card-subheading"> {{ profile.first_name }} {{ profile.last_name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-envelope"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Email </h5>
                                    <span class="info-card-subheading"> {{ profile.email }}</span>
                                </div>
                            </div>
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-calendar"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Date Joined </h5>
                                    <span class="info-card-subheading"> {{ profile.date_joined }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-info-section">
                <div class="details-info-card">
                    <div class="info-card-header">
                        <div class="card-header-left">
                            <i class="fa-regular fa-person-carry-box"></i>
                            <span> Learner Activity </span>
                        </div>
                        <div class="spacer"></div>
                    </div>
                    <div class="info-card-body"> 
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-percent"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Average Enrollment Progress</h5>
                                    <span class="info-card-subheading"> {{ average_progress }}% </span>
                                </div>
                            </div>
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-bullseye-pointer"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Last Session </h5>
                                    <span class="info-card-subheading"> {{ last_active }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-card-column">
                            <div class="card-body-item">
                                <div class="card-body-left">
                                    <i class="fa-light fa-hourglass-end"></i>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="info-card-heading"> Total Session Time </h5>
                                    <span class="info-card-subheading"> {{ total_time_spent }}</span>
                                </div>
                            </div>
                            <div class="info-card-column">
                                <div class="card-body-item">
                                    <div class="card-body-left">
                                        <i class="fa-light fa-award"></i>
                                    </div>
                                    <div class="card-body-right">
                                        <h5 class="info-card-heading"> Certificates Earned </h5>
                                        <span class="info-card-subheading"> {{ total_certificates }}</span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'popups/edit_user_popup.html' %}
    <link rel="stylesheet" href="{% static 'client_admin\css\user_details.css' %}">
    <script src="{% static 'client_admin\javascript\popups.js' %}"></script>
    <script src="{% static 'client_admin\javascript\user_details.js' %}"></script>
{% endblock content %}