<!-- user_details_card -->
<div class="details-user-card">
    <div class="top-section"></div>
    <div class="bottom-section">
        <div class="bottom-left">
            {% if profile.photoid %}
                <img class="profile-image" src="{{ profile.photoid.url }}" alt="Profile Image" />
            {% else %}
                <div class="profile-image">
                    <i class="fa-regular fa-user-graduate"></i>
                </div>
            {% endif %}
            <div class="user-card-info">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <div class="card-info-icons">
                    <div class="card-info-icon">
                        <i class="fa-regular fa-signature"></i>
                        <span>{{ profile.username }}</span>
                    </div>
                    <div class="card-info-icon">
                        <i class="fa-regular fa-map-location-dot"></i>
                        <span>{{ profile.city }}, {{ profile.state }}</span>
                    </div>
                    <div class="card-info-icon">
                        <i class="fa-regular fa-cake-candles"></i>
                        <span>{{ profile.birth_date }}</span>
                    </div>
                    <div class="card-info-icon">
                        <i class="fa-regular fa-id-card-clip"></i>
                        <span>{{ profile.role }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-right">
            <div onclick="openPopup('editUserPopup')" class="edit-user-btn action-button-primary">
                <!-- <i class="fa-regular fa-pen"></i> -->
                <span> Edit user</span>
            </div>
        </div>
    </div>
</div>