.quiz-player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    position: relative;
    width: 100%;
    /* padding: 1rem var(--pad-lg); */
    box-sizing: border-box;
    overflow: unset;
    box-sizing: border-box;
}

.quiz-player-top-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ececf1;
    gap: 1rem;
    width: 100%;
    padding: 1rem var(--pad-xl);
    box-sizing: border-box;
}

.quiz-player-top-row-left{
    display: flex;
    align-items: flex-end;
    color: #41454d;
}.quiz-player-top-row-left h3{
    font-size: 1.1rem;
    font-weight: 500;
}.quiz-player-total-questions{
    font-size: 0.9rem;
}

.quiz-player-body{
    position: relative;
    width: 100%;
    padding: 1rem var(--pad-xl);
    box-sizing: border-box;
    height: calc(100dvh - 13rem);
}

.quiz-question{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-media-btn{
    position: relative;
    
}

.quiz-player-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--pad-xs) var(--pad-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d7d7d7;
    background-color: #fbfbfb;
    border-radius: 0px 0 7px 7px;
    transition: all 0.3s ease;
}.quiz-player-footer-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}.quiz-player-footer-left{

}.quiz-player-footer-right{
    display: flex;
    gap: 0.5rem;
}