<!-- Admin Header HTML -->
{% load static %}
<div class="admin-header-container">
    <div class="admin-header-container-inner">
        <div class="admin-header-left">
            <img class="header-logo" src="{% static 'images/logo/HELMS Test Logo.PNG' %}" alt="HALO Logo">
        </div>
        <div class="admin-header-right">
            <div class="admin-header-icons">
                <div class="admin-header-icon">
                    <i class="fa-light fa-question"></i>
                </div>
                <div class="admin-header-icon">
                    <i class="fa-light fa-bell"></i>
                </div>
            </div>

            <div class="admin-dropdown-menu admin-header-profile">
                <div class="admin-header-user-icon" onclick="toggleDropdown(event)">
                    <i class="fa-duotone fa-solid fa-circle-{{ first_letter_lowercase }}" style="--fa-primary-color: #ffffff; --fa-secondary-color: transparent; --fa-secondary-opacity: 1;"></i>
                </div>
                <div id="adminDropdownContent" class="dropdown-content">
                    <div class="dropdown-user-information">
                        <div class="dropdown-user-icon">
                            <i class="fa-duotone fa-solid fa-circle-{{ first_letter_lowercase }}" style="--fa-primary-color: #ffffff; --fa-secondary-color: transparent; --fa-secondary-opacity: 1;"></i>
                        </div>
                        <div class="dropdown-user-details">
                            <h4>{{ first_name }} {{ last_name }}</h4>
                            <span>{{ email }}</span>
                        </div>
                    </div>
                    <div class="dropdown-section">
                        <a class="dropdown-content-option" href="/profile/">
                            <i class="fa-light fa-user-tie-hair"></i>
                            <span> My Profile </span>
                        </a>
                        <a class="dropdown-content-option" href="/dashboard/">
                            <i class="fa-light fa-globe-stand"></i>
                            <span> Learner Portal </span>
                        </a>
                    </div>
                    <div class="dropdown-section">
                        <a class="dropdown-content-option" href="/logout/">
                            <i class="fa-light fa-arrow-right-from-bracket"></i>
                            <span> Logout </span>
                        </a>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>