<div class="create-sidebar-container" aria-hidden="true">
    <div class="create-sidebar-body">
        <div class="create-sidebar-header">
            <h3>Create Options</h3>
            <button onclick="toggleCreateSidebar()" class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="create-sidebar-options">
            <a href="/admin/courses/online/add/" class="dashboard-action-item">
                <div class="action-item-icon pastel-purple">
                    <i class="fa-regular fa-book-copy"></i>
                </div>
                <div class="action-item-right">
                    <span>Course</span>
                    <i class="fa-regular fa-plus"></i>
                </div>
            </a>
            <a href="/admin/users/add/" class="dashboard-action-item">
                <div class="action-item-icon pastel-blue">
                    <i class="fa-regular fa-people-pants-simple"></i>
                </div>
                <div class="action-item-right">
                    <span>User</span>
                    <i class="fa-regular fa-plus"></i>
                </div>
            </a>
            <a href="/admin/categories/add/" class="dashboard-action-item">
                <div class="action-item-icon pastel-orange">
                    <i class="fa-regular fa-grid-2"></i>
                </div>
                <div class="action-item-right">
                    <span>Category</span>
                    <i class="fa-regular fa-plus"></i>
                </div>
            </a>
            <a href="/admin/enrollment-keys/add/" class="dashboard-action-item">
                <div class="action-item-icon pastel-green">
                    <i class="fa-regular fa-key"></i>
                </div>
                <div class="action-item-right">
                    <span>Enrollment Key</span>
                    <i class="fa-regular fa-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>